<!-- Header -->
<cms:embed 'header.html' />
<!-- /Header -->

    <div class="main-container inner-page article-list-page" id="main">
        
        <!-- Banner Updates -->
        <section class="banner-section banner-default banner-light centered">
            <!-- Carousel -->
            <div class="rw">
                <div class="cl">
                    <div class="tile tile-magazine">
                        <div class="tile-body">
                            <img src="<cms:get_custom_field 'news_banner_image' masterpage='globals.php' />" alt="Tile here" class="thumbnail">
                            <div class="floated-content">
                                <h1>News</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Articles -->
        <section class="default-section blog-section section-80">
            <div class="rw cl-1">
                <cms:pages masterpage='updates.php' limit='12' paginate='1'>
                <div class="cl">
                    <div class="tile tile-plain tile-horizontal tile-clickable">
                        <div class="tile-body">
                            <div class="left">
                                <a href="<cms:show k_page_link />" title="<cms:show k_page_title />"><img src="<cms:show article_cover_image />"></a>
                            </div>
                            <div class="right text-left">
                                <h2><a href="<cms:show k_page_link />"><cms:show k_page_title /></a></h2>
                                <p class="published-info"><small>Published on <cms:date k_page_date format='M. j, Y'/></small></p>
                                <cms:excerptHTML count="55" ignore="img, table, br"><cms:show article_desc /></cms:excerptHTML>
                            </div>
                        </div>
                    </div>
                </div>

                <cms:paginator />
                </cms:pages>
            </div>   
        </section>

        
<!-- Footer -->
<cms:embed 'footer.html' />
<!-- /Footer -->    