<!-- Branches section -->
<section class="branches-section">
    <h1 class="section-title">Our Branches</h1>
    <div class="content">
        <div class="rw cl-2 branches-list">
            <cms:pages masterpage='branches.php' folder='active' orderby='branch_order' order='asc'>
            <div class="cl">
                <div class="icon-wrapper">
                    <i class="la la-map-marker"></i>
                </div>
                <h2><cms:show branch_name /></h2>
                <a href="<cms:show k_page_link />" alt="<cms:show k_page_title />" class="link"></a>
            </div>
            </cms:pages>
        </div> 
    </div>
</section>