<cms:pages masterpage='featured-breaker.php'>
<section class="breaker-section breaker-default padded-lg">
    <!-- <img src="theme/images/stock-photo--melted-chocolate-swirl-background-400542853.jpg" alt="Tile here" class="bg"> -->
    <video width="320" height="240" autoplay loop class="bg bg-video" id="breaker_media">
        <source src="<cms:show breaker_video />" type="video/mp4">
        <!-- <source src="movie.ogg" type="video/ogg"> -->
    </video>
    <div class="content">
        <cms:show breaker_desc />
        <a href="<cms:show breaker_button_link />" class="btn btn-light btn-transparent" title="<cms:show breaker_button_label />"><cms:show breaker_button_label /></a>
    </div>
</section>
</cms:pages>