            <!-- Footer -->
            <footer class="main">
                <div class="rw cl-5">
                    <div class="cl">
                        <a href="<cms:show k_site_link />" class="logo">
                            <img src="<cms:show k_site_link />theme/images/logo.png" alt="<cms:get_custom_field 'site_name' masterpage='globals.php' /> logo">
                        </a>
                        <img src="<cms:show k_site_link />theme/images/Create-Lasting-Memories_logo.png" alt="<cms:get_custom_field 'site_name' masterpage='globals.php' /> logo" class="tagline">
                        <p><small>DLA Naturals &copy; <cms:php>echo date("Y");</cms:php></small></p>
                        <p><small>All rights reserved.</small></p>
                    </div>
                    <div class="cl">
                        <h4>Our Company</h4>
                        <ul>
                            <cms:pages masterpage='footer-links.php' orderby='weight' custom_field='assigned_menu=0'>
                                <li><a href="<cms:show footer_link />"><cms:show k_page_title /></a></li>
                            </cms:pages>
                        </ul> 
                    </div>
                    <div class="cl">
                        <h4>Our Products</h4>
                        <ul>
                            <cms:pages masterpage='footer-links.php' orderby='weight' custom_field='assigned_menu=1'>
                                <li><a href="<cms:show footer_link />"><cms:show k_page_title /></a></li>
                            </cms:pages>
                        </ul> 
                    </div>
                    <div class="cl">
                        <h4>Resources</h4>
                        <ul>
                            <cms:pages masterpage='footer-links.php' orderby='weight' custom_field='assigned_menu=2'>
                                <li><a href="<cms:show footer_link />"><cms:show k_page_title /></a></li>
                            </cms:pages>
                        </ul> 
                    </div>
                    <div class="cl">
                        <h4>Resources</h4>
                        <p>Get all the latest information on Events, Sales and Offers. <br>Sign up for newsletter today.</p> 
                        <cms:form action="<cms:link 'newsletter.php'/>" method='post' name='subscribe'>
                            <div class="form-group cl bordered">
                                <!-- <i class="suffix fa fa-user"></i> -->
                                <button type="submit" class="suffix btn btn-default">Join</button>
                                <cms:input name='email' placeholder='Email Address' required='1' type='text' validator='email' class="validate" id="borderedicon_prefix"/>
                                <!-- <label for="borderedicon_prefix">Join</label> -->
                            </div>  
                        </cms:form>
                        <div class="social-media circle">
                            <h4 class="title">Social media</h4>
                            <ul> 
                                <li><a href="<cms:get_custom_field 'site_fb' masterpage='globals.php' />" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="<cms:get_custom_field 'site_twitter' masterpage='globals.php' />" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="<cms:get_custom_field 'site_instagram' masterpage='globals.php' />" target="_blank"><i class="fab fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer>

        </div>

    </div>

    <!-- SCRIPTS START -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="<cms:show k_site_link />theme/scripts/vendor/jquery.min.js"><\/script>')</script>
    <script type="text/javascript" src="<cms:show k_site_link />theme/scripts/vendor/slick.min.js"></script>
    <script type="text/javascript" src="<cms:show k_site_link />theme/scripts/master.min.js"></script>

</body>
</html>