<ul class="nav-menu header-subnav" style="display: none;">
    <li <cms:if k_template_name=='about-tradition.php'>class="active"</cms:if>><a href="<cms:show k_site_link />about-tradition.php" title="Tradition">Tradition</a></li>
    <li <cms:if k_template_name=='about-commitment.php'>class="active"</cms:if>><a href="<cms:show k_site_link />about-commitment.php" title="Commitment">Commitment</a></li>
    <li <cms:if k_template_name=='about-history.php'>class="active"</cms:if>><a href="<cms:show k_site_link />about-history.php" title="History">History</a></li>
    <li <cms:if k_template_name=='about-ingredients.php'>class="active"</cms:if>><a href="<cms:show k_site_link />about-ingredients.php" title="Ingredients">Ingredients</a></li>
    <li <cms:if k_template_name=='about-strategy.php'>class="active"</cms:if>><a href="<cms:show k_site_link />about-strategy.php" title="Strategy">Strategy</a></li>
    <li <cms:if k_template_name=='about-facility.php'>class="active"</cms:if>><a href="<cms:show k_site_link />about-facility.php" title="Facility">Facility</a></li>
</ul>