<!-- History -->
<section class="history-section">
    <h1 class="section-title">Our History</h1>
    <div class="rw cl-1 timeline-list left">
        <cms:pages masterpage='history.php'>
            <div class="cl timeline-item">
                <div class="timeline-circle" style="background-image: url(<cms:show history_image />);">
                    <h3><cms:show history_year_date /></h3>
                </div>
                <div class="timeline-content">
                    <cms:show history_details />
                </div>
            </div>
        </cms:pages>
    </div>   
</section>