<cms:php>
    $current_url = (isset($_SERVER['HTTPS']) && $_SERVER['HTTPS'] === 'on' ? "https" : "http") . "://$_SERVER[HTTP_HOST]$_SERVER[REQUEST_URI]";
    $parts = parse_url($current_url);
    $categorySlug = parse_url($current_url, PHP_URL_PATH);
    parse_str($parts['query'], $query);
</cms:php>

<cms:set page_title="Packaging Guide | <cms:get_custom_field 'site_name' masterpage='globals.php' />" />
<cms:if "<cms:show packaging_content />" >
    <cms:set page_desc="<cms:show packaging_content />" />
<cms:else /> 
    <cms:set page_desc="<cms:get_custom_field 'site_desc' masterpage='globals.php' />" />
</cms:if> 
<cms:if "<cms:show packaging_main_image />" >
    <cms:set page_image="<cms:show packaging_main_image />" />
<cms:else /> 
    <cms:set page_image="<cms:get_custom_field 'og_image' masterpage='globals.php' />" />
</cms:if> 

    <!-- Header -->
    <cms:embed 'header.html' />
    <!-- /Header -->

        <div class="main-container" id="main">

           <!-- Banner -->
            <section class="banner-section banner-default">
                <!-- Carousel -->
                <div class="rw carousel carousel-primary adjusted-arrows">
                    <div class="cl">
                        <div class="tile tile-magazine">
                            <div class="tile-body">
                                <img src="<cms:show packaging_banner_image />" alt="Tile here" class="thumbnail">
                                <div class="floated-content">
                                    <cms:show packaging_desc />
                                    <a href="<cms:show packaging_downloadable_file />" class="btn btn-light bordered-transparent" title="<cms:show packaging_button_label />" target="_blank"><cms:show packaging_button_label /></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Packaging -->
            <section class="default-section packaging-section section-80">                

                <div class="rw cl-1 packaging-list">
                    <cms:pages masterpage='packaging-guide-item.php' orderby='weight'>
                    <div class="cl packaging-item">
                        <div class="tile tile-plain tile-horizontal">
                            <div class="tile-body">
                                <div class="left"><img src="<cms:show packaging_main_image />"></div>
                                <div class="right text-left">
                                    <h2><cms:show k_page_title /></h2>
                                    <cms:excerptHTML count="500" ignore="img, table, iframe"><p><cms:show packaging_content /></p></cms:excerptHTML>
                                </div>
                            </div>
                        </div>
                    </div>
                    </cms:pages>
                </div>   
            </section>