<!-- Partners section -->
<section class="partners-section">
    <h1 class="section-title">Our Partners</h1>
    <div class="rw carousel carousel-default">
        <cms:pages masterpage='partners.php'>
            <div class="cl">
                <div class="tile">
                    <div class="tile-body">
                        <img src="<cms:show partner_image />" alt="<cms:show partner_name />" class="thumbnail">
                    </div>
                    <a href="#" title="<cms:show partner_name />" class="wrapped-link" target="_blank"></a>
                </div>
            </div>
        </cms:pages>
    </div>
</section>