<cms:php>
    $current_url = (isset($_SERVER['HTTPS']) && $_SERVER['HTTPS'] === 'on' ? "https" : "http") . "://$_SERVER[HTTP_HOST]$_SERVER[REQUEST_URI]";
    $parts = parse_url($current_url);
    $categorySlug = parse_url($current_url, PHP_URL_PATH);
    parse_str($parts['query'], $query);

    //  var_dump($categorySlug);

    global $category;

    if (strpos($categorySlug, "all") !== false){
        $category = 'all';
    } elseif (strpos($categorySlug, "chocolates") !== false) {
        $category = 'chocolates';
    } elseif (strpos($categorySlug, "fruits") !== false) {
        $category = 'fruits';
    } elseif (strpos($categorySlug, "sugars") !== false) {
        $category = 'sugars';
    } elseif (strpos($categorySlug, "nuts") !== false) {
        $category = 'nuts';
    }

    //  var_dump($category);
</cms:php>

<cms:pages masterpage='products-item.php' folder=k_folder_name  orderby='weight'>
<cms:set page_title="k_folder_name | <cms:get_custom_field 'site_name' masterpage='globals.php' />" />
<cms:if "<cms:show category_desc />" >
    <cms:set page_desc="<cms:show k_page_folderdesc />" />
<cms:else /> 
    <cms:set page_desc="<cms:get_custom_field 'site_desc' masterpage='globals.php' />" />
</cms:if> 
<cms:if "<cms:show category_og_image />" >
    <cms:set page_image="<cms:show category_og_image />" />
<cms:else /> 
    <cms:set page_image="<cms:get_custom_field 'og_image' masterpage='globals.php' />" />
</cms:if> 

<cms:set category="<cms:php>global $category; echo $category;</cms:php>" />

</cms:pages>

    <!-- Header -->
    <cms:embed 'header.html' />
    <!-- /Header -->

    <!-- SubNav -->
    <cms:embed 'product-header-category.html' />
    <!-- /SubNav -->


        <div class="main-container <cms:show category />" id="main">

           <!-- Banner -->
            <section class="banner-section banner-default">
                <!-- Carousel -->
                <div class="rw carousel carousel-primary adjusted-arrows">
                    <div class="cl">
                        <div class="tile tile-magazine">
                            <div class="tile-body">
                                <img src="<cms:show category_banner_image />" alt="Tile here" class="thumbnail">
                                <div class="floated-content">
                                    <cms:show category_desc />
                                    <a href="<cms:show product_downloadable_file />" class="btn btn-light bordered-transparent" title="<cms:show product_button_label />" target="_blank"><cms:show product_button_label /></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Products -->
            <section class="default-section products-section section-80">
                <div class="rw">
                    <div class="cl cl-2 product-sidebar">
                        <div class="rw cl-12">
                            <h3><a href="#">Our Products</a></h3>
                            <ul class="product-item-list">
                                <li class="product-item">
                                    <a href="#">Chocolates</a>
                                    <ul>
                                        <li><a href="#">Couverture</a></li>
                                        <li><a href="#">Compound</a></li>
                                        <li><a href="#">Bake stable</a></li>
                                    </ul>
                                </li>
                                <li class="product-item">
                                    <a href="#">Fruits</a>
                                    <ul>
                                        <li><a href="#">Fruit Fillings</a></li>
                                        <li><a href="#">Jams</a></li>
                                        <li><a href="#">Concentrates</a></li>
                                        <li><a href="#">Sauces</a></li>
                                    </ul>
                                </li>
                                <li class="product-item">
                                    <a href="#">Glazes and Sugars</a>
                                    <ul>
                                        <li><a href="#">Glazes</a></li>
                                        <li><a href="#">Decorations</a></li>
                                        <li><a href="#">Modelling Dough</a></li>
                                    </ul>
                                </li>
                                <li class="product-item">
                                    <a href="#">Nuts</a>
                                    <ul>
                                        <li><a href="#">Pastes</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <h3><a href="#">Packaging Guide</a></h3>
                        </div>
                    </div>
                    <div class="cl cl-12"> <!-- cl-10 -->
                        <div class="rw cl-4">
                            <cms:pages masterpage='products-item.php' folder=k_folder_name  orderby='weight'>
                            <div class="cl">
                                <div class="tile tile-plain tile-clickable">
                                    <div class="tile-body">
                                        <img src="<cms:show product_main_image />" alt="<cms:show k_page_title />" class="thumbnail">
                                    </div>
                                    <div class="tile-footer">
                                        <h2><cms:show k_page_title /></h2>
                                        <cms:excerptHTML count="14" ignore="img, table, br, iframe"><p><cms:show product_content /></p></cms:excerptHTML>
                                    </div>
                                    <a href="<cms:show k_page_link />" title="<cms:show k_page_title />" class="wrapped-link"></a>
                                </div>
                            </div>
                            </cms:pages>
                        </div>
                    </div>
                </div>
                

                <div class="rw cl-4" style="display: none;">
                    <cms:pages masterpage='products-item.php' folder="<cms:show category />" orderby='weight'>
                    <div class="cl">
                        <div class="tile tile-plain tile-clickable">
                            <div class="tile-body">
                                <img src="<cms:show product_main_image />" alt="<cms:show k_page_title />" class="thumbnail">
                            </div>
                            <div class="tile-footer">
                                <h2><cms:show k_page_title /></h2>
                                <cms:excerptHTML count="14" ignore="img, table, br, iframe"><p><cms:show product_content /></p></cms:excerptHTML>
                            </div>
                            <a href="<cms:show k_page_link />" title="<cms:show k_page_title />" class="wrapped-link"></a>
                        </div>
                    </div>
                    </cms:pages>
                </div>   
            </section>     