<ul class="nav-menu header-subnav <cms:show category />" style="display:none;">
    <li <cms:if k_template_name=='products.php'>class="active"</cms:if>><a href="<cms:show k_site_link />products.php" title="All">All</a></li>
    <li <cms:if k_template_name=='products-chocolates.php'>class="active"</cms:if>><a href="<cms:show k_site_link />products-chocolates.php" title="Chocolates">Chocolates</a></li>
    <li <cms:if k_template_name=='products-fruits.php'>class="active"</cms:if>><a href="<cms:show k_site_link />products-fruits.php" title="Fruits">Fruits</a></li>
    <li <cms:if k_template_name=='products-sugars.php'>class="active"</cms:if>><a href="<cms:show k_site_link />products-sugars.php" title="Sugars">Sugars</a></li>
    <li <cms:if k_template_name=='products-nuts.php'>class="active"</cms:if>><a href="<cms:show k_site_link />products-nuts.php" title="Nuts">Nuts</a></li>
</ul>