<div class="widget widget-social-media black">
    <span class="badge-top">Follow BeeSpots</span>
    <div class="widget-body">
        <div class="social-media inline">
            <ul> 
                <li><a href="<cms:get_custom_field 'site_fb' masterpage='globals.php' />" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="<cms:get_custom_field 'site_instagram' masterpage='globals.php' />" target="_blank"><i class="fab fa-instagram"></i></a></li>
                <li><a href="<cms:get_custom_field 'site_twitter' masterpage='globals.php' />#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                <li><a href="<cms:get_custom_field 'site_youtube' masterpage='globals.php' />" target="_blank"><i class="fab fa-youtube"></i></a></li>
            </ul>
        </div>
        <div class="fb-widget">
            <div class="fb-like" data-share="true" data-width="350" data-show-faces="false"></div>
        </div>
    </div>
</div>