<!-- Carousel -->
<section class="banner-section banner-default banner-home">
    <!-- Carousel -->
    <div class="rw carousel carousel-primary adjusted-arrows">
        <cms:pages masterpage='slider-home.php' orderby='weight'>
        <div class="cl">
            <div class="tile tile-magazine">
                <div class="tile-body">
                    <cms:if slider_background == '0'>
                    <img src="<cms:show slider_cover />" alt="<cms:show k_page_title />" class="thumbnail">
                    <cms:else />
                    <video autoplay loop class="bg bg-video" id="slider_media">
                        <source src="<cms:show slider_video />" type="video/mp4">
                        <!-- <source src="movie.ogg" type="video/ogg"> -->
                    </video>
                    </cms:if>
                    <div class="floated-content">
                        <cms:show slider_content />
                        <a href="<cms:show slider_button_link />" class="btn btn-light bordered-transparent" title="<cms:show slider_button_label />"><cms:show slider_button_label /></a>
                    </div>
                </div>
            </div>
        </div>
        </cms:pages>
    </div>
    <a href="#products_section" class="btn btn-light btn-down"><i class="fas fa-chevron-down"></i></a>
</section>