<!-- Header -->
<cms:embed 'header.html' />
<!-- /Header -->

<div class="main-container <?php echo $category; ?>-container" id="main">
    
    <!-- Banner Home -->
    <section class="banner-section banner-main">
        <div class="head-title">
            <i class="icon icon-floated la <?php echo $category_icon; ?>"></i>
            <h1><cms:show category_name /></h1>
        </div>
        <!-- Carousel -->
        <div class="rw rw-full carousel-banner slider-for">
            <cms:pages masterpage='articles.php' limit='4' custom_field="is_featured_category_banner=Yes" folder="<?php echo $category; ?>">
            <div class="cl cl-12">
                <img src="<cms:show article_cover_image />" alt="<cms:show k_page_title />" class="thumbnail">
            </div>

            </cms:pages>
        </div>
        <div class="rw carousel-banner slider-nav">
           <cms:pages masterpage='articles.php' limit='4' custom_field="is_featured_category_banner=Yes" folder="<?php echo $category; ?>">

            <cms:if k_page_foldername == 'travel'>
                <cms:set icon_category='la-map-marker' />
            <cms:else />    
            <cms:if k_page_foldername == 'taste'>
                <cms:set icon_category='la-cutlery' />
            <cms:else />    
            <cms:if k_page_foldername == 'music'>
                <cms:set icon_category='la-music' />
            <cms:else />        
            <cms:if k_page_foldername == 'tech'>
                <cms:set icon_category='la-rocket' />
            <cms:else />      
            <cms:if k_page_foldername == 'health'>
                <cms:set icon_category='la-heartbeat' />  
            <cms:else />    
            <cms:if k_page_foldername == 'screen'>
                <cms:set icon_category='la-play-circle' />          
            <cms:else />
                <cms:set icon_category='la' />
            </cms:if>
            </cms:if>
            </cms:if>
            </cms:if>
            </cms:if>
            </cms:if>

            <div class="cl">
                <div class="tile tile-default <cms:show k_page_foldername />">
                    <div class="tile-head">
                        <h1><a href="<cms:show k_page_link />" title="<cms:show k_page_title />"><cms:show k_page_title /></a></h1>
                        <i class="icon icon-floated la <cms:show icon_category />"></i>
                        <img src="<cms:show article_cover_image />" alt="<cms:show k_page_title />" class="thumbnail">
                    </div>
                    <div class="tile-body">
                        <p>
                            <cms:if k_folder_name == k_page_name>
                                <h1>yeheyyyyy</h1>
                            </cms:if>
                            <cms:show k_page_foldername /> === <cms:show k_page_name />
                        </p>
                        
                        <p><cms:excerptHTML count="75" ignore="img, table, br"><cms:show article_content /></cms:excerptHTML></p>
                        <a href="<cms:show k_page_link />" class="btn btn-light btn-sm post-icon read-more" title="read">MORE<i class="icon la la-angle-right"></i></a>
                    </div>
                </div>
            </div>

            </cms:pages>
        </div>
        <!-- /Carousel -->
    </section>
    <!-- /Banner Home -->

    <!-- Articles -->
    <section class="default-section">
        <div class="container">
            <div class="rw cl-4 article-list">
                <cms:pages masterpage='articles.php' limit='8' orderby='publish_date' folder="<?php echo $category; ?>">

                <cms:if k_page_foldername == 'travel'>
                    <cms:set icon_category='la-map-marker' />
                <cms:else />    
                <cms:if k_page_foldername == 'taste'>
                    <cms:set icon_category='la-cutlery' />
                <cms:else />    
                <cms:if k_page_foldername == 'music'>
                    <cms:set icon_category='la-music' />
                <cms:else />        
                <cms:if k_page_foldername == 'tech'>
                    <cms:set icon_category='la-rocket' />
                <cms:else />      
                <cms:if k_page_foldername == 'health'>
                    <cms:set icon_category='la-heartbeat' />  
                <cms:else />    
                <cms:if k_page_foldername == 'screen'>
                    <cms:set icon_category='la-play-circle' />          
                <cms:else />
                    <cms:set icon_category='la' />
                </cms:if>
                </cms:if>
                </cms:if>
                </cms:if>
                </cms:if>
                </cms:if>

                <div class="cl">
                    <div class="tile tile-rounded">
                        <div class="tile-body">
                            <img src="<cms:show article_cover_image />" alt="Tile here" class="thumbnail">
                            <i class="icon icon-floated la <cms:show icon_category />"></i>
                            <a href="<cms:show k_page_link />" title="<cms:show k_page_title />" class="wrapped-link"></a>
                        </div>
                        <div class="tile-footer">
                            <h2><a href="<cms:show k_page_link />" title="<cms:show k_page_title />"><cms:show k_page_title /></a></h2>
                            <cms:excerptHTML count="75" ignore="img, table, br"><cms:show article_content /></cms:excerptHTML>
                        </div>
                    </div>
                </div>

                </cms:pages>
            </div>  
        </div> 
        <a href="<cms:show k_site_link />articles.php" class="btn btn-primary btn-centered post-icon read-more" title="View All">LOAD MORE<i class="icon la la-ellipsis-h"></i></a> 
    </section>
    <!-- /Most viewed -->

    <!-- Breaker Image / Parallax -->
    <section class="default-section parallax-section">
        <cms:pages masterpage='featured-breaker.php'>
        <div class="bg-wrap">
            <div class="bg-new" style="background-image: url('<cms:show breaker_cover_image />" alt="<cms:show k_page_title />');"></div>
        </div>
        <div class="content">
            <h1 class="header-title light animate"><cms:show breaker_title /></h1>
            <p><cms:show breaker_desc /></p>
            <a href="<cms:show breaker_button_link />" class="btn btn-bordered-transparent btn-primary"><cms:show breaker_button_label /> <i class="la <cms:show breaker_button_icon />"></i></a>
        </div>
        </cms:pages>
    </section>
    <!-- /Breaker Image / Parallax -->

<!-- Footer -->
<cms:embed 'footer.html' />
<!-- /Footer -->   