/*the container must be positioned relative:*/
.custom-select {
  position: relative;
  width: 100%;
  min-height: 30px;
  border: solid 1px rgba(0,0,0,0.2);
  text-align: left;
  list-style: none;
  background-color: $white;
  margin: 0 auto;
  select {
    /*hide original SELECT element:*/
    display: none;
  }
  .select-selected {
    &:before {
      position: absolute;
      content: "";
      top: 0;
      right: 0;
      width: 35px;
      height: 100%;
      border-left: none;
    }
    &:after {
      position: absolute;
      @include centered-vertical();
      right: 10px;
      content: "\f107";
      font-family: 'FontAwesome';
      font-weight: 700;
      font-size: 1.250em;
      color: rgba(0,0,0,0.3);
    }
    &.select-arrow-active {
      &:after {
        content: "\f106";
      }
      
    }
  }
  .select-items {
    position: absolute;
    background-color: #fff;
    top: 100%;
    left: -1px;
    right: -1px;
    z-index: 9999;
    border: solid 1px rgba(0, 0, 0, 0.2);
    overflow: auto;
    max-height: 250px;
    -webkit-transition: all .15s ease-out;
    -moz-transition: all .15s ease-out;
    -o-transition: all .15s ease-out;
    transition: all .15s ease-out;

    opacity: 1;
    visibility: visible;
    > div { 
      padding: 10px 15px;
      color: rgba(0,0,0,0.6);
      cursor: pointer;
      text-transform: uppercase;
      font-weight: 900;
      outline: none; 
      @extend .transition;
      &:hover {
        background-color: #f2f0f0;
      }
    }
    &.select-hide {
      opacity: 0;
      visibility: hidden;
    }
  }
  .select-arrow-active {
    .select-items { 
      opacity: 1;
      visibility: visible;
    }
  }
  .select-selected { 
    padding: 10px 25px 10px 15px;
    color: rgba(0,0,0,0.6);
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 900;
  }
  &.open {
    .select-hide {
      //display: block;
    }
    .select-selected {
      &:after {
        content: "\f106";
      }
    }
    .select-items {
      opacity: 1;
      visibility: visible;
      height: auto;
    }
  }
  &.custom-transparent {
    background-color: transparent;
    .select-items {
      background-color: transparent;
    }  
  }
  &.display-above {
    .select-items {
      bottom: 100%;
      top: initial;
    }  
  }
}