//////////////////
///// Articles ///
//////////////////

.article {
    &-section {
        position: relative;
        display: block;
        width: 100%;
        max-width: $wrapper-width;
        padding-left: 0;
        padding-right: 0;
        .article-block {
            padding-left: 0;
        } 
        sidebar {
            min-width: 300px;
            &.cl {
                padding-right: 0;
            }
        }
    }
    &-block {
        display: block;
        width: 100%;
        color: $black;
    }

    &-default {
        .article-header-content {
            position: relative;
        }
    }

    &-header {
        position: relative;
        margin-bottom: 20px;
        font-size: 0; //hacked for white spacing
        &.gradient-bottom {
            &:before {
                position: absolute;
                width: 100%;
                height: 50%;
                content: "";
                bottom: 0;
                left: 0;
                right: 0;
                z-index: 1;
                opacity: 0.8;

                background: rgba(0, 0, 0, 0);
                background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
                background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 1)));
                background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
                background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
                background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
                background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#000000', GradientType=0);
            }
        }

        h1 {
            margin: 0 0 0.35em 0;
            font-size: 2.5em;
        }

        time {
            display: block;
            margin: 5px 0;
            font-size: 0.8em;
        }

        .author {
            display: block;
            margin: 2px auto;
        }

        &.slanted {
            -webkit-clip-path: polygon(0 0, 100% 0%, 100% 93%, 0% 100%);
            clip-path: polygon(0 0, 100% 0%, 100% 93%, 0% 100%);
            overflow: hidden;

            .article-header-content {
                bottom: 25px;
            }
        }

        .brand {
            position: absolute;
            right: 5%;
            bottom: 12%;
        }
    }

    &-body {
        .social-media {
            position: fixed;
            top: 140px;
            left: 45px;
            font-size: 12px;
            z-index: 1;
            ul {
                margin: 0;
            }
            &.circle {
                ul {
                    li {
                        display: block;
                        margin-bottom: 10px;
                    }
                }
            }
        }
        figure {
            display: inline-block;
            margin: 0 auto;
            text-align: center;
            background-color: rgba(0,0,0,0.05);
            figcaption {
                padding: 7px 5px;
                font-size: 14px;
            }
        }
    }

    &-header-content {
        font-size: 16px; //reset hacked for white spacing
        h5 {
            text-transform: uppercase;
        }
    }

    &-body-header {
        padding: 10px 0;
        font-size: 14px;
        .cl {
            vertical-align: middle;
        }
    }


    &-body-content {
        display: block;
        width: 100%;
        margin: 30px auto;
        overflow: hidden;
        img {
            display: block;
            margin: 0 auto;
            max-width: 100%;
        }
        iframe {
            margin: 8px auto !important;
        }
    }

    &-comments {
        text-align: center;
    }

    &-gallery {
        display: block;
        width: 85%;
        margin: 6% auto 8% auto;
    }

    &-video-container {
        display: block;
        max-width: 560px;
        margin: 6% auto 8% auto;
    }
}

.article-section {
    &>.rw {
        max-width: inherit;
    }
}

sidebar {
    h2, h3, h4 {
        margin: 0;
    }
    li {
        position: relative;
        margin-bottom: 10px;
        list-style: none;
        &:before {
            content: "\2022"; /* Insert content that looks like bullets */
            position: absolute;
            content: "\2022";
            top: 0;
            margin-left: -0.5em;
            margin-top: -0.4em;
            color: $blue;
            font-size: 3em;
        }
        a {
            color: $black;
        }
    }
    .sidebar-header {
        padding: 10px 15px;
        background-color: $secondary-color;
        color: $white;
        h3 {
            text-transform: uppercase;
        }
    }
    .sidebar-body {
        padding: 10px 14px 10px 10px;
        background-color: rgba(0,0,0,0.05);
        .btn-centered {
            display: block;
            margin: 0 auto;
            max-width: 180px;
        }
    }
    .social-media {
        li {
            &:before {
                content: none;
            }
        }
    }
} 

//Author
.author {

    .avatar,
    .details {
        display: inline-block;
        vertical-align: middle;
    }

    .avatar {
        width: 30px;
        height: 30px;
        margin-right: 10px;
        @include borderradius(50%);
        overflow: hidden;
        background: url(../images/user-240x240.jpg) center center no-repeat;
        background-size: cover;
        background-color: $black;
    }

    .details {
        font-size: 0.875em;
    }
}

//Brand
.brand {
    width: 200px;
    display: inline-block;
    font-size: 14px;

    p {
        text-align: left;
        margin: 0 0 3px 0;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 0.875em;
    }
}

//Tags
tag {
    display: block; 
    margin-top: 8px;
}

breadcrumbs {
    font-size: 0.75em;
}

//Comments
.comments-container {
    display: block;
    width: 90%;
    margin: 0 auto;
    padding: 30px 0;
    border-top: solid 1px $black;
    text-align: center;

    h2 {
        margin-top: 0;
    }
}

.recommended-container {
    display: block;
    padding: 5% 0;
    background-color: $black;

    >h2 {
        margin-top: 0;
        color: $white;
        text-transform: uppercase;
        text-align: center;
    }

    &>div {
        display: block;
        width: 90%;
        margin: 0 auto;
    }
}

.widget {
    display: block;
    position: relative;
    margin: 30px auto;
    &.blue {
        background-color: $blue;
        color: $white;
    }
    &.black {
        background-color: $black;
        color: $white;
    }
    &-body {
        padding: 10px 15px;
    }
    .badge-top {
        position: absolute;
        top: -15px;
        left: 20px;
        padding: 6px 15px;
        background-color: $red;
        color: #fff;
        font-weight: 700;
        text-transform: uppercase;
    }
    &.widget-social-media {
        &.widget-body {
            //text-align: center;
        }
        .social-media {
            width: 100%;
            margin-top: 15px;
            text-align: center;
            a {
                font-size: 2em;
            }
            li {
                margin: 0 5px;
            } 
        }
    }
}

.article-list {
    text-align: center;
    .tile {
        text-align: left; 
        @include transitionSpecific(ease-in-out, 0.3s);
        .tile-footer {
            max-height: 180px;
            iframe, >div, p { 
                display: none;
            }
            p:first-child, p:nth-child(2) {
                display: block;
            }
        }
    }
}