/////////////////
// Badges      //
/////////////////

.badge {
  display: inline-block;
  padding: 3px 10px;
  margin-bottom: 5px;
  text-transform: uppercase;
  font-size: 0.875em;
  font-weight: 500;
  &.badge-default {
    background-color: $light-gray;
  }
  &.badge-primary {
    color: $white;
    background-color: $red;
  }
  &.badge-secondary {
    color: $white;
    background-color: $blue;
  }
  &.badge-plain {
    padding: 0;
  }
}