//
// Progress Circle
//
// ==================================================

/** ============================
 ** variable
 ** ============================ */
$circular-margin: 5px;
$break-small: 220px;
$break-large: 1100px;

/** ============================
 ** function circular-progress
 ** ============================ */
@function circular-progress($maxPercent, $percent, $color-bar, $color-back) {
    $increment: 360 / $maxPercent;
    $half: round($maxPercent / 2);
    $background-image: '';

    @if $percent < $half {
        $nextdeg: 90deg + ($increment * $percent);
        $background-image: 'linear-gradient(90deg, #{$color-back} 50%, transparent 50%, transparent),
linear-gradient(#{$nextdeg}, #{$color-bar} 50%, #{$color-back} 50%, #{$color-back})';

    }

    @else {
        $nextdeg: -90deg + ($increment * ($percent - $half));
        $background-image: 'linear-gradient(#{$nextdeg}, #{$color-bar} 50%, transparent 50%, transparent),
linear-gradient(270deg, #{$color-bar} 50%, #{$color-back} 50%, #{$color-back})';

    }

    @return unquote($background-image);
}


/** ============================
 ** Mixins Circular Progress
 ** ============================ */
@mixin circular-progress($percent-num, $color1:"#03A9F4") {
    //circular-progress function
    //circular-progress($maxPercent, $percent, $color-bar, $color-back);
    // background: circular-progress(100, $percent-num, #03A9F4, #E0E0E0);
    background: circular-progress(100, $percent-num, $color1, #E0E0E0);
    border-radius: 50%;
    height: 60px;
    width: 60px;
    margin: 0 auto;
    position: relative;
    transition: all .3s linear;

    &::before {
        background-color: #FAFAFA;
        border-radius: 50%;
        //color: rgba(black, .54);
        content: '#{$percent-num}';
        font-size: 1.5em;
        font-weight: bold;
        height: 100%;
        left: 0;
        line-height: 60px;
        position: absolute;
        text-align: center;
        top: 0;
        transform: scale(.87);
        width: 100%;
        animation: background-expand 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    }

    &:hover {
        box-shadow: 0 0 100px 1px rgba(255, 214, 112, 0.35);
        transform: scale(1.1);
    }
}

.circle-progress {
    margin: 0 auto;
    $circle-color: #793824;

    .circular-progress {
        margin: 0 auto;

        &:before {
            color: $circle-color;
        }
    }

    &.inline {
        display: inline-block;
    }

    .circular-progress0 {
        @include circular-progress(0, $circle-color);
    }

    .circular-progress1 {
        @include circular-progress(1, $circle-color);
    }

    .circular-progress2 {
        @include circular-progress(2, $circle-color);
    }

    .circular-progress3 {
        @include circular-progress(3, $circle-color);
    }

    .circular-progress4 {
        @include circular-progress(4, $circle-color);
    }

    .circular-progress5 {
        @include circular-progress(5, $circle-color);
    }

    .circular-progress6 {
        @include circular-progress(6, $circle-color);
    }

    .circular-progress7 {
        @include circular-progress(7, $circle-color);
    }

    .circular-progress8 {
        @include circular-progress(8, $circle-color);
    }

    .circular-progress9 {
        @include circular-progress(9, $circle-color);
    }

    .circular-progress10 {
        @include circular-progress(10, $circle-color);
    }

    .circular-progress11 {
        @include circular-progress(11, $circle-color);
    }

    .circular-progress12 {
        @include circular-progress(12, $circle-color);
    }

    .circular-progress13 {
        @include circular-progress(13, $circle-color);
    }

    .circular-progress14 {
        @include circular-progress(14, $circle-color);
    }

    .circular-progress15 {
        @include circular-progress(15, $circle-color);
    }

    .circular-progress16 {
        @include circular-progress(16, $circle-color);
    }

    .circular-progress17 {
        @include circular-progress(17, $circle-color);
    }

    .circular-progress18 {
        @include circular-progress(18, $circle-color);
    }

    .circular-progress19 {
        @include circular-progress(19, $circle-color);
    }

    .circular-progress20 {
        @include circular-progress(20, $circle-color);
    }

    .circular-progress21 {
        @include circular-progress(21, $circle-color);
    }

    .circular-progress22 {
        @include circular-progress(22, $circle-color);
    }

    .circular-progress23 {
        @include circular-progress(23, $circle-color);
    }

    .circular-progress24 {
        @include circular-progress(24, $circle-color);
    }

    .circular-progress25 {
        @include circular-progress(25, $circle-color);
    }

    .circular-progress26 {
        @include circular-progress(26, $circle-color);
    }

    .circular-progress27 {
        @include circular-progress(27, $circle-color);
    }

    .circular-progress28 {
        @include circular-progress(28, $circle-color);
    }

    .circular-progress29 {
        @include circular-progress(29, $circle-color);
    }

    .circular-progress30 {
        @include circular-progress(30, $circle-color);
    }

    .circular-progress31 {
        @include circular-progress(31, $circle-color);
    }

    .circular-progress32 {
        @include circular-progress(32, $circle-color);
    }

    .circular-progress33 {
        @include circular-progress(33, $circle-color);
    }

    .circular-progress34 {
        @include circular-progress(34, $circle-color);
    }

    .circular-progress35 {
        @include circular-progress(35, $circle-color);
    }

    .circular-progress36 {
        @include circular-progress(36, $circle-color);
    }

    .circular-progress37 {
        @include circular-progress(37, $circle-color);
    }

    .circular-progress38 {
        @include circular-progress(38, $circle-color);
    }

    .circular-progress39 {
        @include circular-progress(39, $circle-color);
    }

    .circular-progress40 {
        @include circular-progress(40, $circle-color);
    }

    .circular-progress41 {
        @include circular-progress(41, $circle-color);
    }

    .circular-progress42 {
        @include circular-progress(42, $circle-color);
    }

    .circular-progress43 {
        @include circular-progress(43, $circle-color);
    }

    .circular-progress44 {
        @include circular-progress(44, $circle-color);
    }

    .circular-progress45 {
        @include circular-progress(45, $circle-color);
    }

    .circular-progress46 {
        @include circular-progress(46, $circle-color);
    }

    .circular-progress47 {
        @include circular-progress(47, $circle-color);
    }

    .circular-progress48 {
        @include circular-progress(48, $circle-color);
    }

    .circular-progress49 {
        @include circular-progress(49, $circle-color);
    }

    .circular-progress50 {
        @include circular-progress(50, $circle-color);
    }

    .circular-progress51 {
        @include circular-progress(51, $circle-color);
    }

    .circular-progress52 {
        @include circular-progress(52, $circle-color);
    }

    .circular-progress53 {
        @include circular-progress(53, $circle-color);
    }

    .circular-progress54 {
        @include circular-progress(54, $circle-color);
    }

    .circular-progress55 {
        @include circular-progress(55, $circle-color);
    }

    .circular-progress56 {
        @include circular-progress(56, $circle-color);
    }

    .circular-progress57 {
        @include circular-progress(57, $circle-color);
    }

    .circular-progress58 {
        @include circular-progress(58, $circle-color);
    }

    .circular-progress59 {
        @include circular-progress(59, $circle-color);
    }

    .circular-progress60 {
        @include circular-progress(60, $circle-color);
    }

    .circular-progress61 {
        @include circular-progress(61, $circle-color);
    }

    .circular-progress62 {
        @include circular-progress(62, $circle-color);
    }

    .circular-progress63 {
        @include circular-progress(63, $circle-color);
    }

    .circular-progress64 {
        @include circular-progress(64, $circle-color);
    }

    .circular-progress65 {
        @include circular-progress(65, $circle-color);
    }

    .circular-progress66 {
        @include circular-progress(66, $circle-color);
    }

    .circular-progress67 {
        @include circular-progress(67, $circle-color);
    }

    .circular-progress68 {
        @include circular-progress(68, $circle-color);
    }

    .circular-progress69 {
        @include circular-progress(69, $circle-color);
    }

    .circular-progress70 {
        @include circular-progress(70, $circle-color);
    }

    .circular-progress71 {
        @include circular-progress(71, $circle-color);
    }

    .circular-progress72 {
        @include circular-progress(72, $circle-color);
    }

    .circular-progress73 {
        @include circular-progress(73, $circle-color);
    }

    .circular-progress74 {
        @include circular-progress(74, $circle-color);
    }

    .circular-progress75 {
        @include circular-progress(75, $circle-color);
    }

    .circular-progress76 {
        @include circular-progress(76, $circle-color);
    }

    .circular-progress77 {
        @include circular-progress(77, $circle-color);
    }

    .circular-progress78 {
        @include circular-progress(78, $circle-color);
    }

    .circular-progress79 {
        @include circular-progress(79, $circle-color);
    }

    .circular-progress80 {
        @include circular-progress(80, $circle-color);
    }

    .circular-progress81 {
        @include circular-progress(81, $circle-color);
    }

    .circular-progress82 {
        @include circular-progress(82, $circle-color);
    }

    .circular-progress83 {
        @include circular-progress(83, $circle-color);
    }

    .circular-progress84 {
        @include circular-progress(84, $circle-color);
    }

    .circular-progress85 {
        @include circular-progress(85, $circle-color);
    }

    .circular-progress86 {
        @include circular-progress(86, $circle-color);
    }

    .circular-progress87 {
        @include circular-progress(87, $circle-color);
    }

    .circular-progress88 {
        @include circular-progress(88, $circle-color);
    }

    .circular-progress89 {
        @include circular-progress(89, $circle-color);
    }

    .circular-progress90 {
        @include circular-progress(90, $circle-color);
    }

    .circular-progress91 {
        @include circular-progress(91, $circle-color);
    }

    .circular-progress92 {
        @include circular-progress(92, $circle-color);
    }

    .circular-progress93 {
        @include circular-progress(93, $circle-color);
    }

    .circular-progress94 {
        @include circular-progress(94, $circle-color);
    }

    .circular-progress95 {
        @include circular-progress(95, $circle-color);
    }

    .circular-progress96 {
        @include circular-progress(96, $circle-color);
    }

    .circular-progress97 {
        @include circular-progress(97, $circle-color);
    }

    .circular-progress98 {
        @include circular-progress(98, $circle-color);
    }

    .circular-progress99 {
        @include circular-progress(99, $circle-color);
    }

    .circular-progress100 {
        @include circular-progress(100, $circle-color);
    }

    &.green {
        $circle-color: #a1ccc2;

        .circular-progress {
            &:before {
                color: $circle-color;
            }
        }

        .circular-progress0 {
            @include circular-progress(0, $circle-color);
        }

        .circular-progress1 {
            @include circular-progress(1, $circle-color);
        }

        .circular-progress2 {
            @include circular-progress(2, $circle-color);
        }

        .circular-progress3 {
            @include circular-progress(3, $circle-color);
        }

        .circular-progress4 {
            @include circular-progress(4, $circle-color);
        }

        .circular-progress5 {
            @include circular-progress(5, $circle-color);
        }

        .circular-progress6 {
            @include circular-progress(6, $circle-color);
        }

        .circular-progress7 {
            @include circular-progress(7, $circle-color);
        }

        .circular-progress8 {
            @include circular-progress(8, $circle-color);
        }

        .circular-progress9 {
            @include circular-progress(9, $circle-color);
        }

        .circular-progress10 {
            @include circular-progress(10, $circle-color);
        }

        .circular-progress11 {
            @include circular-progress(11, $circle-color);
        }

        .circular-progress12 {
            @include circular-progress(12, $circle-color);
        }

        .circular-progress13 {
            @include circular-progress(13, $circle-color);
        }

        .circular-progress14 {
            @include circular-progress(14, $circle-color);
        }

        .circular-progress15 {
            @include circular-progress(15, $circle-color);
        }

        .circular-progress16 {
            @include circular-progress(16, $circle-color);
        }

        .circular-progress17 {
            @include circular-progress(17, $circle-color);
        }

        .circular-progress18 {
            @include circular-progress(18, $circle-color);
        }

        .circular-progress19 {
            @include circular-progress(19, $circle-color);
        }

        .circular-progress20 {
            @include circular-progress(20, $circle-color);
        }

        .circular-progress21 {
            @include circular-progress(21, $circle-color);
        }

        .circular-progress22 {
            @include circular-progress(22, $circle-color);
        }

        .circular-progress23 {
            @include circular-progress(23, $circle-color);
        }

        .circular-progress24 {
            @include circular-progress(24, $circle-color);
        }

        .circular-progress25 {
            @include circular-progress(25, $circle-color);
        }

        .circular-progress26 {
            @include circular-progress(26, $circle-color);
        }

        .circular-progress27 {
            @include circular-progress(27, $circle-color);
        }

        .circular-progress28 {
            @include circular-progress(28, $circle-color);
        }

        .circular-progress29 {
            @include circular-progress(29, $circle-color);
        }

        .circular-progress30 {
            @include circular-progress(30, $circle-color);
        }

        .circular-progress31 {
            @include circular-progress(31, $circle-color);
        }

        .circular-progress32 {
            @include circular-progress(32, $circle-color);
        }

        .circular-progress33 {
            @include circular-progress(33, $circle-color);
        }

        .circular-progress34 {
            @include circular-progress(34, $circle-color);
        }

        .circular-progress35 {
            @include circular-progress(35, $circle-color);
        }

        .circular-progress36 {
            @include circular-progress(36, $circle-color);
        }

        .circular-progress37 {
            @include circular-progress(37, $circle-color);
        }

        .circular-progress38 {
            @include circular-progress(38, $circle-color);
        }

        .circular-progress39 {
            @include circular-progress(39, $circle-color);
        }

        .circular-progress40 {
            @include circular-progress(40, $circle-color);
        }

        .circular-progress41 {
            @include circular-progress(41, $circle-color);
        }

        .circular-progress42 {
            @include circular-progress(42, $circle-color);
        }

        .circular-progress43 {
            @include circular-progress(43, $circle-color);
        }

        .circular-progress44 {
            @include circular-progress(44, $circle-color);
        }

        .circular-progress45 {
            @include circular-progress(45, $circle-color);
        }

        .circular-progress46 {
            @include circular-progress(46, $circle-color);
        }

        .circular-progress47 {
            @include circular-progress(47, $circle-color);
        }

        .circular-progress48 {
            @include circular-progress(48, $circle-color);
        }

        .circular-progress49 {
            @include circular-progress(49, $circle-color);
        }

        .circular-progress50 {
            @include circular-progress(50, $circle-color);
        }

        .circular-progress51 {
            @include circular-progress(51, $circle-color);
        }

        .circular-progress52 {
            @include circular-progress(52, $circle-color);
        }

        .circular-progress53 {
            @include circular-progress(53, $circle-color);
        }

        .circular-progress54 {
            @include circular-progress(54, $circle-color);
        }

        .circular-progress55 {
            @include circular-progress(55, $circle-color);
        }

        .circular-progress56 {
            @include circular-progress(56, $circle-color);
        }

        .circular-progress57 {
            @include circular-progress(57, $circle-color);
        }

        .circular-progress58 {
            @include circular-progress(58, $circle-color);
        }

        .circular-progress59 {
            @include circular-progress(59, $circle-color);
        }

        .circular-progress60 {
            @include circular-progress(60, $circle-color);
        }

        .circular-progress61 {
            @include circular-progress(61, $circle-color);
        }

        .circular-progress62 {
            @include circular-progress(62, $circle-color);
        }

        .circular-progress63 {
            @include circular-progress(63, $circle-color);
        }

        .circular-progress64 {
            @include circular-progress(64, $circle-color);
        }

        .circular-progress65 {
            @include circular-progress(65, $circle-color);
        }

        .circular-progress66 {
            @include circular-progress(66, $circle-color);
        }

        .circular-progress67 {
            @include circular-progress(67, $circle-color);
        }

        .circular-progress68 {
            @include circular-progress(68, $circle-color);
        }

        .circular-progress69 {
            @include circular-progress(69, $circle-color);
        }

        .circular-progress70 {
            @include circular-progress(70, $circle-color);
        }

        .circular-progress71 {
            @include circular-progress(71, $circle-color);
        }

        .circular-progress72 {
            @include circular-progress(72, $circle-color);
        }

        .circular-progress73 {
            @include circular-progress(73, $circle-color);
        }

        .circular-progress74 {
            @include circular-progress(74, $circle-color);
        }

        .circular-progress75 {
            @include circular-progress(75, $circle-color);
        }

        .circular-progress76 {
            @include circular-progress(76, $circle-color);
        }

        .circular-progress77 {
            @include circular-progress(77, $circle-color);
        }

        .circular-progress78 {
            @include circular-progress(78, $circle-color);
        }

        .circular-progress79 {
            @include circular-progress(79, $circle-color);
        }

        .circular-progress80 {
            @include circular-progress(80, $circle-color);
        }

        .circular-progress81 {
            @include circular-progress(81, $circle-color);
        }

        .circular-progress82 {
            @include circular-progress(82, $circle-color);
        }

        .circular-progress83 {
            @include circular-progress(83, $circle-color);
        }

        .circular-progress84 {
            @include circular-progress(84, $circle-color);
        }

        .circular-progress85 {
            @include circular-progress(85, $circle-color);
        }

        .circular-progress86 {
            @include circular-progress(86, $circle-color);
        }

        .circular-progress87 {
            @include circular-progress(87, $circle-color);
        }

        .circular-progress88 {
            @include circular-progress(88, $circle-color);
        }

        .circular-progress89 {
            @include circular-progress(89, $circle-color);
        }

        .circular-progress90 {
            @include circular-progress(90, $circle-color);
        }

        .circular-progress91 {
            @include circular-progress(91, $circle-color);
        }

        .circular-progress92 {
            @include circular-progress(92, $circle-color);
        }

        .circular-progress93 {
            @include circular-progress(93, $circle-color);
        }

        .circular-progress94 {
            @include circular-progress(94, $circle-color);
        }

        .circular-progress95 {
            @include circular-progress(95, $circle-color);
        }

        .circular-progress96 {
            @include circular-progress(96, $circle-color);
        }

        .circular-progress97 {
            @include circular-progress(97, $circle-color);
        }

        .circular-progress98 {
            @include circular-progress(98, $circle-color);
        }

        .circular-progress99 {
            @include circular-progress(99, $circle-color);
        }

        .circular-progress100 {
            @include circular-progress(100, $circle-color);
        }
    }

    &.yellow {
        $circle-color: #ebcd99;

        .circular-progress {
            &:before {
                color: $circle-color;
            }
        }

        .circular-progress0 {
            @include circular-progress(0, $circle-color);
        }

        .circular-progress1 {
            @include circular-progress(1, $circle-color);
        }

        .circular-progress2 {
            @include circular-progress(2, $circle-color);
        }

        .circular-progress3 {
            @include circular-progress(3, $circle-color);
        }

        .circular-progress4 {
            @include circular-progress(4, $circle-color);
        }

        .circular-progress5 {
            @include circular-progress(5, $circle-color);
        }

        .circular-progress6 {
            @include circular-progress(6, $circle-color);
        }

        .circular-progress7 {
            @include circular-progress(7, $circle-color);
        }

        .circular-progress8 {
            @include circular-progress(8, $circle-color);
        }

        .circular-progress9 {
            @include circular-progress(9, $circle-color);
        }

        .circular-progress10 {
            @include circular-progress(10, $circle-color);
        }

        .circular-progress11 {
            @include circular-progress(11, $circle-color);
        }

        .circular-progress12 {
            @include circular-progress(12, $circle-color);
        }

        .circular-progress13 {
            @include circular-progress(13, $circle-color);
        }

        .circular-progress14 {
            @include circular-progress(14, $circle-color);
        }

        .circular-progress15 {
            @include circular-progress(15, $circle-color);
        }

        .circular-progress16 {
            @include circular-progress(16, $circle-color);
        }

        .circular-progress17 {
            @include circular-progress(17, $circle-color);
        }

        .circular-progress18 {
            @include circular-progress(18, $circle-color);
        }

        .circular-progress19 {
            @include circular-progress(19, $circle-color);
        }

        .circular-progress20 {
            @include circular-progress(20, $circle-color);
        }

        .circular-progress21 {
            @include circular-progress(21, $circle-color);
        }

        .circular-progress22 {
            @include circular-progress(22, $circle-color);
        }

        .circular-progress23 {
            @include circular-progress(23, $circle-color);
        }

        .circular-progress24 {
            @include circular-progress(24, $circle-color);
        }

        .circular-progress25 {
            @include circular-progress(25, $circle-color);
        }

        .circular-progress26 {
            @include circular-progress(26, $circle-color);
        }

        .circular-progress27 {
            @include circular-progress(27, $circle-color);
        }

        .circular-progress28 {
            @include circular-progress(28, $circle-color);
        }

        .circular-progress29 {
            @include circular-progress(29, $circle-color);
        }

        .circular-progress30 {
            @include circular-progress(30, $circle-color);
        }

        .circular-progress31 {
            @include circular-progress(31, $circle-color);
        }

        .circular-progress32 {
            @include circular-progress(32, $circle-color);
        }

        .circular-progress33 {
            @include circular-progress(33, $circle-color);
        }

        .circular-progress34 {
            @include circular-progress(34, $circle-color);
        }

        .circular-progress35 {
            @include circular-progress(35, $circle-color);
        }

        .circular-progress36 {
            @include circular-progress(36, $circle-color);
        }

        .circular-progress37 {
            @include circular-progress(37, $circle-color);
        }

        .circular-progress38 {
            @include circular-progress(38, $circle-color);
        }

        .circular-progress39 {
            @include circular-progress(39, $circle-color);
        }

        .circular-progress40 {
            @include circular-progress(40, $circle-color);
        }

        .circular-progress41 {
            @include circular-progress(41, $circle-color);
        }

        .circular-progress42 {
            @include circular-progress(42, $circle-color);
        }

        .circular-progress43 {
            @include circular-progress(43, $circle-color);
        }

        .circular-progress44 {
            @include circular-progress(44, $circle-color);
        }

        .circular-progress45 {
            @include circular-progress(45, $circle-color);
        }

        .circular-progress46 {
            @include circular-progress(46, $circle-color);
        }

        .circular-progress47 {
            @include circular-progress(47, $circle-color);
        }

        .circular-progress48 {
            @include circular-progress(48, $circle-color);
        }

        .circular-progress49 {
            @include circular-progress(49, $circle-color);
        }

        .circular-progress50 {
            @include circular-progress(50, $circle-color);
        }

        .circular-progress51 {
            @include circular-progress(51, $circle-color);
        }

        .circular-progress52 {
            @include circular-progress(52, $circle-color);
        }

        .circular-progress53 {
            @include circular-progress(53, $circle-color);
        }

        .circular-progress54 {
            @include circular-progress(54, $circle-color);
        }

        .circular-progress55 {
            @include circular-progress(55, $circle-color);
        }

        .circular-progress56 {
            @include circular-progress(56, $circle-color);
        }

        .circular-progress57 {
            @include circular-progress(57, $circle-color);
        }

        .circular-progress58 {
            @include circular-progress(58, $circle-color);
        }

        .circular-progress59 {
            @include circular-progress(59, $circle-color);
        }

        .circular-progress60 {
            @include circular-progress(60, $circle-color);
        }

        .circular-progress61 {
            @include circular-progress(61, $circle-color);
        }

        .circular-progress62 {
            @include circular-progress(62, $circle-color);
        }

        .circular-progress63 {
            @include circular-progress(63, $circle-color);
        }

        .circular-progress64 {
            @include circular-progress(64, $circle-color);
        }

        .circular-progress65 {
            @include circular-progress(65, $circle-color);
        }

        .circular-progress66 {
            @include circular-progress(66, $circle-color);
        }

        .circular-progress67 {
            @include circular-progress(67, $circle-color);
        }

        .circular-progress68 {
            @include circular-progress(68, $circle-color);
        }

        .circular-progress69 {
            @include circular-progress(69, $circle-color);
        }

        .circular-progress70 {
            @include circular-progress(70, $circle-color);
        }

        .circular-progress71 {
            @include circular-progress(71, $circle-color);
        }

        .circular-progress72 {
            @include circular-progress(72, $circle-color);
        }

        .circular-progress73 {
            @include circular-progress(73, $circle-color);
        }

        .circular-progress74 {
            @include circular-progress(74, $circle-color);
        }

        .circular-progress75 {
            @include circular-progress(75, $circle-color);
        }

        .circular-progress76 {
            @include circular-progress(76, $circle-color);
        }

        .circular-progress77 {
            @include circular-progress(77, $circle-color);
        }

        .circular-progress78 {
            @include circular-progress(78, $circle-color);
        }

        .circular-progress79 {
            @include circular-progress(79, $circle-color);
        }

        .circular-progress80 {
            @include circular-progress(80, $circle-color);
        }

        .circular-progress81 {
            @include circular-progress(81, $circle-color);
        }

        .circular-progress82 {
            @include circular-progress(82, $circle-color);
        }

        .circular-progress83 {
            @include circular-progress(83, $circle-color);
        }

        .circular-progress84 {
            @include circular-progress(84, $circle-color);
        }

        .circular-progress85 {
            @include circular-progress(85, $circle-color);
        }

        .circular-progress86 {
            @include circular-progress(86, $circle-color);
        }

        .circular-progress87 {
            @include circular-progress(87, $circle-color);
        }

        .circular-progress88 {
            @include circular-progress(88, $circle-color);
        }

        .circular-progress89 {
            @include circular-progress(89, $circle-color);
        }

        .circular-progress90 {
            @include circular-progress(90, $circle-color);
        }

        .circular-progress91 {
            @include circular-progress(91, $circle-color);
        }

        .circular-progress92 {
            @include circular-progress(92, $circle-color);
        }

        .circular-progress93 {
            @include circular-progress(93, $circle-color);
        }

        .circular-progress94 {
            @include circular-progress(94, $circle-color);
        }

        .circular-progress95 {
            @include circular-progress(95, $circle-color);
        }

        .circular-progress96 {
            @include circular-progress(96, $circle-color);
        }

        .circular-progress97 {
            @include circular-progress(97, $circle-color);
        }

        .circular-progress98 {
            @include circular-progress(98, $circle-color);
        }

        .circular-progress99 {
            @include circular-progress(99, $circle-color);
        }

        .circular-progress100 {
            @include circular-progress(100, $circle-color);
        }
    }

    &.orange {
        $circle-color: #f0805a;

        .circular-progress {
            &:before {
                color: $circle-color;
            }
        }

        .circular-progress0 {
            @include circular-progress(0, $circle-color);
        }

        .circular-progress1 {
            @include circular-progress(1, $circle-color);
        }

        .circular-progress2 {
            @include circular-progress(2, $circle-color);
        }

        .circular-progress3 {
            @include circular-progress(3, $circle-color);
        }

        .circular-progress4 {
            @include circular-progress(4, $circle-color);
        }

        .circular-progress5 {
            @include circular-progress(5, $circle-color);
        }

        .circular-progress6 {
            @include circular-progress(6, $circle-color);
        }

        .circular-progress7 {
            @include circular-progress(7, $circle-color);
        }

        .circular-progress8 {
            @include circular-progress(8, $circle-color);
        }

        .circular-progress9 {
            @include circular-progress(9, $circle-color);
        }

        .circular-progress10 {
            @include circular-progress(10, $circle-color);
        }

        .circular-progress11 {
            @include circular-progress(11, $circle-color);
        }

        .circular-progress12 {
            @include circular-progress(12, $circle-color);
        }

        .circular-progress13 {
            @include circular-progress(13, $circle-color);
        }

        .circular-progress14 {
            @include circular-progress(14, $circle-color);
        }

        .circular-progress15 {
            @include circular-progress(15, $circle-color);
        }

        .circular-progress16 {
            @include circular-progress(16, $circle-color);
        }

        .circular-progress17 {
            @include circular-progress(17, $circle-color);
        }

        .circular-progress18 {
            @include circular-progress(18, $circle-color);
        }

        .circular-progress19 {
            @include circular-progress(19, $circle-color);
        }

        .circular-progress20 {
            @include circular-progress(20, $circle-color);
        }

        .circular-progress21 {
            @include circular-progress(21, $circle-color);
        }

        .circular-progress22 {
            @include circular-progress(22, $circle-color);
        }

        .circular-progress23 {
            @include circular-progress(23, $circle-color);
        }

        .circular-progress24 {
            @include circular-progress(24, $circle-color);
        }

        .circular-progress25 {
            @include circular-progress(25, $circle-color);
        }

        .circular-progress26 {
            @include circular-progress(26, $circle-color);
        }

        .circular-progress27 {
            @include circular-progress(27, $circle-color);
        }

        .circular-progress28 {
            @include circular-progress(28, $circle-color);
        }

        .circular-progress29 {
            @include circular-progress(29, $circle-color);
        }

        .circular-progress30 {
            @include circular-progress(30, $circle-color);
        }

        .circular-progress31 {
            @include circular-progress(31, $circle-color);
        }

        .circular-progress32 {
            @include circular-progress(32, $circle-color);
        }

        .circular-progress33 {
            @include circular-progress(33, $circle-color);
        }

        .circular-progress34 {
            @include circular-progress(34, $circle-color);
        }

        .circular-progress35 {
            @include circular-progress(35, $circle-color);
        }

        .circular-progress36 {
            @include circular-progress(36, $circle-color);
        }

        .circular-progress37 {
            @include circular-progress(37, $circle-color);
        }

        .circular-progress38 {
            @include circular-progress(38, $circle-color);
        }

        .circular-progress39 {
            @include circular-progress(39, $circle-color);
        }

        .circular-progress40 {
            @include circular-progress(40, $circle-color);
        }

        .circular-progress41 {
            @include circular-progress(41, $circle-color);
        }

        .circular-progress42 {
            @include circular-progress(42, $circle-color);
        }

        .circular-progress43 {
            @include circular-progress(43, $circle-color);
        }

        .circular-progress44 {
            @include circular-progress(44, $circle-color);
        }

        .circular-progress45 {
            @include circular-progress(45, $circle-color);
        }

        .circular-progress46 {
            @include circular-progress(46, $circle-color);
        }

        .circular-progress47 {
            @include circular-progress(47, $circle-color);
        }

        .circular-progress48 {
            @include circular-progress(48, $circle-color);
        }

        .circular-progress49 {
            @include circular-progress(49, $circle-color);
        }

        .circular-progress50 {
            @include circular-progress(50, $circle-color);
        }

        .circular-progress51 {
            @include circular-progress(51, $circle-color);
        }

        .circular-progress52 {
            @include circular-progress(52, $circle-color);
        }

        .circular-progress53 {
            @include circular-progress(53, $circle-color);
        }

        .circular-progress54 {
            @include circular-progress(54, $circle-color);
        }

        .circular-progress55 {
            @include circular-progress(55, $circle-color);
        }

        .circular-progress56 {
            @include circular-progress(56, $circle-color);
        }

        .circular-progress57 {
            @include circular-progress(57, $circle-color);
        }

        .circular-progress58 {
            @include circular-progress(58, $circle-color);
        }

        .circular-progress59 {
            @include circular-progress(59, $circle-color);
        }

        .circular-progress60 {
            @include circular-progress(60, $circle-color);
        }

        .circular-progress61 {
            @include circular-progress(61, $circle-color);
        }

        .circular-progress62 {
            @include circular-progress(62, $circle-color);
        }

        .circular-progress63 {
            @include circular-progress(63, $circle-color);
        }

        .circular-progress64 {
            @include circular-progress(64, $circle-color);
        }

        .circular-progress65 {
            @include circular-progress(65, $circle-color);
        }

        .circular-progress66 {
            @include circular-progress(66, $circle-color);
        }

        .circular-progress67 {
            @include circular-progress(67, $circle-color);
        }

        .circular-progress68 {
            @include circular-progress(68, $circle-color);
        }

        .circular-progress69 {
            @include circular-progress(69, $circle-color);
        }

        .circular-progress70 {
            @include circular-progress(70, $circle-color);
        }

        .circular-progress71 {
            @include circular-progress(71, $circle-color);
        }

        .circular-progress72 {
            @include circular-progress(72, $circle-color);
        }

        .circular-progress73 {
            @include circular-progress(73, $circle-color);
        }

        .circular-progress74 {
            @include circular-progress(74, $circle-color);
        }

        .circular-progress75 {
            @include circular-progress(75, $circle-color);
        }

        .circular-progress76 {
            @include circular-progress(76, $circle-color);
        }

        .circular-progress77 {
            @include circular-progress(77, $circle-color);
        }

        .circular-progress78 {
            @include circular-progress(78, $circle-color);
        }

        .circular-progress79 {
            @include circular-progress(79, $circle-color);
        }

        .circular-progress80 {
            @include circular-progress(80, $circle-color);
        }

        .circular-progress81 {
            @include circular-progress(81, $circle-color);
        }

        .circular-progress82 {
            @include circular-progress(82, $circle-color);
        }

        .circular-progress83 {
            @include circular-progress(83, $circle-color);
        }

        .circular-progress84 {
            @include circular-progress(84, $circle-color);
        }

        .circular-progress85 {
            @include circular-progress(85, $circle-color);
        }

        .circular-progress86 {
            @include circular-progress(86, $circle-color);
        }

        .circular-progress87 {
            @include circular-progress(87, $circle-color);
        }

        .circular-progress88 {
            @include circular-progress(88, $circle-color);
        }

        .circular-progress89 {
            @include circular-progress(89, $circle-color);
        }

        .circular-progress90 {
            @include circular-progress(90, $circle-color);
        }

        .circular-progress91 {
            @include circular-progress(91, $circle-color);
        }

        .circular-progress92 {
            @include circular-progress(92, $circle-color);
        }

        .circular-progress93 {
            @include circular-progress(93, $circle-color);
        }

        .circular-progress94 {
            @include circular-progress(94, $circle-color);
        }

        .circular-progress95 {
            @include circular-progress(95, $circle-color);
        }

        .circular-progress96 {
            @include circular-progress(96, $circle-color);
        }

        .circular-progress97 {
            @include circular-progress(97, $circle-color);
        }

        .circular-progress98 {
            @include circular-progress(98, $circle-color);
        }

        .circular-progress99 {
            @include circular-progress(99, $circle-color);
        }

        .circular-progress100 {
            @include circular-progress(100, $circle-color);
        }
    }

    .circular-text {
        text-align: center;
        color: rgba(black, .6);
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 1px;
    }
}

@keyframes turning_cw {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

$color-progress-circle-number: #fff;
$color-progress-circle: #ebebeb;
$color-progress-idicator: #66b8ff;
$color-progress-number: #8b8b8b;


.progress-circle {
    position: relative;
    display: inline-block;
    margin: 1rem;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: $color-progress-circle;
}

.progress-circle:after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    -webkit-animation: colorload 2s;
    animation: colorload 2s;
}

.progress-circle span {
    font-size: 1rem;
    color: $color-progress-number;
    position: absolute;
    left: 50%;
    top: 50%;
    display: block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin-left: -15px;
    margin-top: -15px;
    text-align: center;
    border-radius: 50%;
    background: $color-progress-circle-number;
    z-index: 1;
}

.progress-circle span:after {
    content: "";
    font-weight: 600;
    color: $color-progress-number;
}

.progress-circle.progress-0:after {
    background-image: linear-gradient(90deg, $color-progress-circle 50%, transparent 50%, transparent), linear-gradient(90deg, $color-progress-idicator 50%, $color-progress-circle 50%, $color-progress-circle);
}

.progress-circle.progress-1:after {
    background-image: linear-gradient(90deg, $color-progress-circle 50%, transparent 50%, transparent), linear-gradient(93.6deg, $color-progress-idicator 50%, $color-progress-circle 50%, $color-progress-circle);
}

.progress-circle.progress-2:after {
    background-image: linear-gradient(90deg, $color-progress-circle 50%, transparent 50%, transparent), linear-gradient(97.2deg, $color-progress-idicator 50%, $color-progress-circle 50%, $color-progress-circle);
}

.progress-circle.progress-3:after {
    background-image: linear-gradient(90deg, $color-progress-circle 50%, transparent 50%, transparent), linear-gradient(100.8deg, $color-progress-idicator 50%, $color-progress-circle 50%, $color-progress-circle);
}

.progress-circle.progress-4:after {
    background-image: linear-gradient(90deg, $color-progress-circle 50%, transparent 50%, transparent), linear-gradient(104.4deg, $color-progress-idicator 50%, $color-progress-circle 50%, $color-progress-circle);
}

.progress-circle.progress-5:after {
    background-image: linear-gradient(90deg, $color-progress-circle 50%, transparent 50%, transparent), linear-gradient(108deg, $color-progress-idicator 50%, $color-progress-circle 50%, $color-progress-circle);
}

.progress-circle.progress-6:after {
    background-image: linear-gradient(90deg, $color-progress-circle 50%, transparent 50%, transparent), linear-gradient(111.6deg, $color-progress-idicator 50%, $color-progress-circle 50%, $color-progress-circle);
}

.progress-circle.progress-7:after {
    background-image: linear-gradient(90deg, $color-progress-circle 50%, transparent 50%, transparent), linear-gradient(115.2deg, $color-progress-idicator 50%, $color-progress-circle 50%, $color-progress-circle);
}

.progress-circle.progress-8:after {
    background-image: linear-gradient(90deg, $color-progress-circle 50%, transparent 50%, transparent), linear-gradient(118.8deg, $color-progress-idicator 50%, $color-progress-circle 50%, $color-progress-circle);
}

.progress-circle.progress-9:after {
    background-image: linear-gradient(90deg, $color-progress-circle 50%, transparent 50%, transparent), linear-gradient(122.4deg, $color-progress-idicator 50%, $color-progress-circle 50%, $color-progress-circle);
}

.progress-circle.progress-10:after {
    background-image: linear-gradient(90deg, $color-progress-circle 50%, transparent 50%, transparent), linear-gradient(126deg, $color-progress-idicator 50%, $color-progress-circle 50%, $color-progress-circle);
}

.progress-circle.progress-11:after {
    background-image: linear-gradient(90deg, $color-progress-circle 50%, transparent 50%, transparent), linear-gradient(129.6deg, $color-progress-idicator 50%, $color-progress-circle 50%, $color-progress-circle);
}

.progress-circle.progress-12:after {
    background-image: linear-gradient(90deg, $color-progress-circle 50%, transparent 50%, transparent), linear-gradient(133.2deg, $color-progress-idicator 50%, $color-progress-circle 50%, $color-progress-circle);
}

.progress-circle.progress-13:after {
    background-image: linear-gradient(90deg, $color-progress-circle 50%, transparent 50%, transparent), linear-gradient(136.8deg, $color-progress-idicator 50%, $color-progress-circle 50%, $color-progress-circle);
}

.progress-circle.progress-14:after {
    background-image: linear-gradient(90deg, $color-progress-circle 50%, transparent 50%, transparent), linear-gradient(140.4deg, $color-progress-idicator 50%, $color-progress-circle 50%, $color-progress-circle);
}

.progress-circle.progress-15:after {
    background-image: linear-gradient(90deg, $color-progress-circle 50%, transparent 50%, transparent), linear-gradient(129.6deg, $color-progress-idicator 50%, $color-progress-circle 50%, $color-progress-circle);
}

.progress-circle.progress-16:after {
    background-image: linear-gradient(90deg, $color-progress-circle 50%, transparent 50%, transparent), linear-gradient(133.2deg, $color-progress-idicator 50%, $color-progress-circle 50%, $color-progress-circle);
}

.progress-circle.progress-17:after {
    background-image: linear-gradient(90deg, $color-progress-circle 50%, transparent 50%, transparent), linear-gradient(136.8deg, $color-progress-idicator 50%, $color-progress-circle 50%, $color-progress-circle);
}

.progress-circle.progress-18:after {
    background-image: linear-gradient(90deg, $color-progress-circle 50%, transparent 50%, transparent), linear-gradient(140.4deg, $color-progress-idicator 50%, $color-progress-circle 50%, $color-progress-circle);
}

.progress-circle.progress-19:after {
    background-image: linear-gradient(90deg, $color-progress-circle 50%, transparent 50%, transparent), linear-gradient(144deg, $color-progress-idicator 50%, $color-progress-circle 50%, $color-progress-circle);
}

.progress-circle.progress-20:after {
    background-image: linear-gradient(90deg, $color-progress-circle 50%, transparent 50%, transparent), linear-gradient(151.2deg, $color-progress-idicator 50%, $color-progress-circle 50%, $color-progress-circle);
}

.progress-circle.progress-21:after {
    background-image: linear-gradient(90deg, $color-progress-circle 50%, transparent 50%, transparent), linear-gradient(158.6deg, $color-progress-idicator 50%, $color-progress-circle 50%, $color-progress-circle);
}

.progress-circle.progress-22:after {
    background-image: linear-gradient(90deg, $color-progress-circle 50%, transparent 50%, transparent), linear-gradient(161.2deg, $color-progress-idicator 50%, $color-progress-circle 50%, $color-progress-circle);
}

.progress-circle.progress-23:after {
    background-image: linear-gradient(90deg, $color-progress-circle 50%, transparent 50%, transparent), linear-gradient(165.6deg, $color-progress-idicator 50%, $color-progress-circle 50%, $color-progress-circle);
}

.progress-circle.progress-24:after {
    background-image: linear-gradient(90deg, $color-progress-circle 50%, transparent 50%, transparent), linear-gradient(169.2deg, $color-progress-idicator 50%, $color-progress-circle 50%, $color-progress-circle);
}

.progress-circle.progress-25:after {
    background-image: linear-gradient(90deg, $color-progress-circle 50%, transparent 50%, transparent), linear-gradient(180deg, $color-progress-idicator 50%, $color-progress-circle 50%, $color-progress-circle);
}

.progress-circle.progress-26:after {
    background-image: linear-gradient(90deg, $color-progress-circle 50%, transparent 50%, transparent), linear-gradient(183.6deg, $color-progress-idicator 50%, $color-progress-circle 50%, $color-progress-circle);
}

.progress-circle.progress-27:after {
    background-image: linear-gradient(90deg, $color-progress-circle 50%, transparent 50%, transparent), linear-gradient(187.2deg, $color-progress-idicator 50%, $color-progress-circle 50%, $color-progress-circle);
}

.progress-circle.progress-28:after {
    background-image: linear-gradient(90deg, $color-progress-circle 50%, transparent 50%, transparent), linear-gradient(190.8deg, $color-progress-idicator 50%, $color-progress-circle 50%, $color-progress-circle);
}

.progress-circle.progress-29:after {
    background-image: linear-gradient(90deg, $color-progress-circle 50%, transparent 50%, transparent), linear-gradient(194.4deg, $color-progress-idicator 50%, $color-progress-circle 50%, $color-progress-circle);
}

.progress-circle.progress-30:after {
    background-image: linear-gradient(90deg, $color-progress-circle 50%, transparent 50%, transparent), linear-gradient(198deg, $color-progress-idicator 50%, $color-progress-circle 50%, $color-progress-circle);
}

.progress-circle.progress-31:after {
    background-image: linear-gradient(90deg, $color-progress-circle 50%, transparent 50%, transparent), linear-gradient(201.6deg, $color-progress-idicator 50%, $color-progress-circle 50%, $color-progress-circle);
}

.progress-circle.progress-32:after {
    background-image: linear-gradient(90deg, $color-progress-circle 50%, transparent 50%, transparent), linear-gradient(205.2deg, $color-progress-idicator 50%, $color-progress-circle 50%, $color-progress-circle);
}

.progress-circle.progress-33:after {
    background-image: linear-gradient(90deg, $color-progress-circle 50%, transparent 50%, transparent), linear-gradient(208.8deg, $color-progress-idicator 50%, $color-progress-circle 50%, $color-progress-circle);
}

.progress-circle.progress-34:after {
    background-image: linear-gradient(90deg, $color-progress-circle 50%, transparent 50%, transparent), linear-gradient(212.4deg, $color-progress-idicator 50%, $color-progress-circle 50%, $color-progress-circle);
}

.progress-circle.progress-35:after {
    background-image: linear-gradient(90deg, $color-progress-circle 50%, transparent 50%, transparent), linear-gradient(216deg, $color-progress-idicator 50%, $color-progress-circle 50%, $color-progress-circle);
}

.progress-circle.progress-40:after {
    background-image: linear-gradient(90deg, $color-progress-circle 50%, transparent 50%, transparent), linear-gradient(234deg, $color-progress-idicator 50%, $color-progress-circle 50%, $color-progress-circle);
}

.progress-circle.progress-36:after {
    background-image: linear-gradient(90deg, $color-progress-circle 50%, transparent 50%, transparent), linear-gradient(219.6deg, $color-progress-idicator 50%, $color-progress-circle 50%, $color-progress-circle);
}

.progress-circle.progress-37:after {
    background-image: linear-gradient(90deg, $color-progress-circle 50%, transparent 50%, transparent), linear-gradient(223.2deg, $color-progress-idicator 50%, $color-progress-circle 50%, $color-progress-circle);
}

.progress-circle.progress-38:after {
    background-image: linear-gradient(90deg, $color-progress-circle 50%, transparent 50%, transparent), linear-gradient(226.8deg, $color-progress-idicator 50%, $color-progress-circle 50%, $color-progress-circle);
}

.progress-circle.progress-39:after {
    background-image: linear-gradient(90deg, $color-progress-circle 50%, transparent 50%, transparent), linear-gradient(230.4deg, $color-progress-idicator 50%, $color-progress-circle 50%, $color-progress-circle);
}

.progress-circle.progress-41:after {
    background-image: linear-gradient(90deg, $color-progress-circle 50%, transparent 50%, transparent), linear-gradient(237.6deg, $color-progress-idicator 50%, $color-progress-circle 50%, $color-progress-circle);
}

.progress-circle.progress-42:after {
    background-image: linear-gradient(90deg, $color-progress-circle 50%, transparent 50%, transparent), linear-gradient(241.2deg, $color-progress-idicator 50%, $color-progress-circle 50%, $color-progress-circle);
}

.progress-circle.progress-43:after {
    background-image: linear-gradient(90deg, $color-progress-circle 50%, transparent 50%, transparent), linear-gradient(244.8deg, $color-progress-idicator 50%, $color-progress-circle 50%, $color-progress-circle);
}

.progress-circle.progress-44:after {
    background-image: linear-gradient(90deg, $color-progress-circle 50%, transparent 50%, transparent), linear-gradient(248.4deg, $color-progress-idicator 50%, $color-progress-circle 50%, $color-progress-circle);
}

.progress-circle.progress-45:after {
    background-image: linear-gradient(90deg, $color-progress-circle 50%, transparent 50%, transparent), linear-gradient(252deg, $color-progress-idicator 50%, $color-progress-circle 50%, $color-progress-circle);
}

.progress-circle.progress-46:after {
    background-image: linear-gradient(90deg, $color-progress-circle 50%, transparent 50%, transparent), linear-gradient(255.6deg, $color-progress-idicator 50%, $color-progress-circle 50%, $color-progress-circle);
}

.progress-circle.progress-47:after {
    background-image: linear-gradient(90deg, $color-progress-circle 50%, transparent 50%, transparent), linear-gradient(259.2deg, $color-progress-idicator 50%, $color-progress-circle 50%, $color-progress-circle);
}

.progress-circle.progress-48:after {
    background-image: linear-gradient(90deg, $color-progress-circle 50%, transparent 50%, transparent), linear-gradient(262.8deg, $color-progress-idicator 50%, $color-progress-circle 50%, $color-progress-circle);
}

.progress-circle.progress-49:after {
    background-image: linear-gradient(90deg, $color-progress-circle 50%, transparent 50%, transparent), linear-gradient(266.4deg, $color-progress-idicator 50%, $color-progress-circle 50%, $color-progress-circle);
}

.progress-circle.progress-50:after {
    background-image: linear-gradient(-90deg, $color-progress-idicator 50%, transparent 50%, transparent), linear-gradient(270deg, $color-progress-idicator 50%, $color-progress-circle 50%, $color-progress-circle);
}

.progress-circle.progress-51:after {
    background-image: linear-gradient(-86.4deg, $color-progress-idicator 50%, transparent 50%, transparent), linear-gradient(270deg, $color-progress-idicator 50%, $color-progress-circle 50%, $color-progress-circle);
}

.progress-circle.progress-52:after {
    background-image: linear-gradient(-82.6deg, $color-progress-idicator 50%, transparent 50%, transparent), linear-gradient(270deg, $color-progress-idicator 50%, $color-progress-circle 50%, $color-progress-circle);
}

.progress-circle.progress-53:after {
    background-image: linear-gradient(-79.2deg, $color-progress-idicator 50%, transparent 50%, transparent), linear-gradient(270deg, $color-progress-idicator 50%, $color-progress-circle 50%, $color-progress-circle);
}

.progress-circle.progress-54:after {
    background-image: linear-gradient(-75.6deg, $color-progress-idicator 50%, transparent 50%, transparent), linear-gradient(270deg, $color-progress-idicator 50%, $color-progress-circle 50%, $color-progress-circle);
}

.progress-circle.progress-55:after {
    background-image: linear-gradient(-72deg, $color-progress-idicator 50%, transparent 50%, transparent), linear-gradient(270deg, $color-progress-idicator 50%, $color-progress-circle 50%, $color-progress-circle);
}

.progress-circle.progress-56:after {
    background-image: linear-gradient(-68.4deg, $color-progress-idicator 50%, transparent 50%, transparent), linear-gradient(270deg, $color-progress-idicator 50%, $color-progress-circle 50%, $color-progress-circle);
}

.progress-circle.progress-57:after {
    background-image: linear-gradient(-64.8deg, $color-progress-idicator 50%, transparent 50%, transparent), linear-gradient(270deg, $color-progress-idicator 50%, $color-progress-circle 50%, $color-progress-circle);
}

.progress-circle.progress-58:after {
    background-image: linear-gradient(-61.2deg, $color-progress-idicator 50%, transparent 50%, transparent), linear-gradient(270deg, $color-progress-idicator 50%, $color-progress-circle 50%, $color-progress-circle);
}

.progress-circle.progress-59:after {
    background-image: linear-gradient(-57.6deg, $color-progress-idicator 50%, transparent 50%, transparent), linear-gradient(270deg, $color-progress-idicator 50%, $color-progress-circle 50%, $color-progress-circle);
}

.progress-circle.progress-60:after {
    background-image: linear-gradient(-54deg, $color-progress-idicator 50%, transparent 50%, transparent), linear-gradient(270deg, $color-progress-idicator 50%, $color-progress-circle 50%, $color-progress-circle);
}

.progress-circle.progress-61:after {
    background-image: linear-gradient(-50.4deg, $color-progress-idicator 50%, transparent 50%, transparent), linear-gradient(270deg, $color-progress-idicator 50%, $color-progress-circle 50%, $color-progress-circle);
}

.progress-circle.progress-62:after {
    background-image: linear-gradient(-46.8deg, $color-progress-idicator 50%, transparent 50%, transparent), linear-gradient(270deg, $color-progress-idicator 50%, $color-progress-circle 50%, $color-progress-circle);
}

.progress-circle.progress-63:after {
    background-image: linear-gradient(-43.2deg, $color-progress-idicator 50%, transparent 50%, transparent), linear-gradient(270deg, $color-progress-idicator 50%, $color-progress-circle 50%, $color-progress-circle);
}

.progress-circle.progress-64:after {
    background-image: linear-gradient(-39.6deg, $color-progress-idicator 50%, transparent 50%, transparent), linear-gradient(270deg, $color-progress-idicator 50%, $color-progress-circle 50%, $color-progress-circle);
}

.progress-circle.progress-65:after {
    background-image: linear-gradient(-36deg, $color-progress-idicator 50%, transparent 50%, transparent), linear-gradient(270deg, $color-progress-idicator 50%, $color-progress-circle 50%, $color-progress-circle);
}

.progress-circle.progress-66:after {
    background-image: linear-gradient(-32.4deg, $color-progress-idicator 50%, transparent 50%, transparent), linear-gradient(270deg, $color-progress-idicator 50%, $color-progress-circle 50%, $color-progress-circle);
}

.progress-circle.progress-67:after {
    background-image: linear-gradient(-28.8deg, $color-progress-idicator 50%, transparent 50%, transparent), linear-gradient(270deg, $color-progress-idicator 50%, $color-progress-circle 50%, $color-progress-circle);
}

.progress-circle.progress-68:after {
    background-image: linear-gradient(-25.2deg, $color-progress-idicator 50%, transparent 50%, transparent), linear-gradient(270deg, $color-progress-idicator 50%, $color-progress-circle 50%, $color-progress-circle);
}

.progress-circle.progress-69:after {
    background-image: linear-gradient(-21.6deg, $color-progress-idicator 50%, transparent 50%, transparent), linear-gradient(270deg, $color-progress-idicator 50%, $color-progress-circle 50%, $color-progress-circle);
}

.progress-circle.progress-70:after {
    background-image: linear-gradient(-18deg, $color-progress-idicator 50%, transparent 50%, transparent), linear-gradient(270deg, $color-progress-idicator 50%, $color-progress-circle 50%, $color-progress-circle);
}

.progress-circle.progress-71:after {
    background-image: linear-gradient(-14.4deg, $color-progress-idicator 50%, transparent 50%, transparent), linear-gradient(270deg, $color-progress-idicator 50%, $color-progress-circle 50%, $color-progress-circle);
}

.progress-circle.progress-72:after {
    background-image: linear-gradient(-10.8deg, $color-progress-idicator 50%, transparent 50%, transparent), linear-gradient(270deg, $color-progress-idicator 50%, $color-progress-circle 50%, $color-progress-circle);
}

.progress-circle.progress-73:after {
    background-image: linear-gradient(-7.2deg, $color-progress-idicator 50%, transparent 50%, transparent), linear-gradient(270deg, $color-progress-idicator 50%, $color-progress-circle 50%, $color-progress-circle);
}

.progress-circle.progress-74:after {
    background-image: linear-gradient(-3.6deg, $color-progress-idicator 50%, transparent 50%, transparent), linear-gradient(270deg, $color-progress-idicator 50%, $color-progress-circle 50%, $color-progress-circle);
}

.progress-circle.progress-75:after {
    background-image: linear-gradient(0deg, $color-progress-idicator 50%, transparent 50%, transparent), linear-gradient(270deg, $color-progress-idicator 50%, $color-progress-circle 50%, $color-progress-circle);
}

.progress-circle.progress-76:after {
    background-image: linear-gradient(3.6deg, $color-progress-idicator 50%, transparent 50%, transparent), linear-gradient(270deg, $color-progress-idicator 50%, $color-progress-circle 50%, $color-progress-circle);
}

.progress-circle.progress-77:after {
    background-image: linear-gradient(7.2deg, $color-progress-idicator 50%, transparent 50%, transparent), linear-gradient(270deg, $color-progress-idicator 50%, $color-progress-circle 50%, $color-progress-circle);
}

.progress-circle.progress-78:after {
    background-image: linear-gradient(10.8deg, $color-progress-idicator 50%, transparent 50%, transparent), linear-gradient(270deg, $color-progress-idicator 50%, $color-progress-circle 50%, $color-progress-circle);
}

.progress-circle.progress-79:after {
    background-image: linear-gradient(14.4deg, $color-progress-idicator 50%, transparent 50%, transparent), linear-gradient(270deg, $color-progress-idicator 50%, $color-progress-circle 50%, $color-progress-circle);
}

.progress-circle.progress-80:after {
    background-image: linear-gradient(18deg, $color-progress-idicator 50%, transparent 50%, transparent), linear-gradient(270deg, $color-progress-idicator 50%, $color-progress-circle 50%, $color-progress-circle);
}

.progress-circle.progress-81:after {
    background-image: linear-gradient(21.6deg, $color-progress-idicator 50%, transparent 50%, transparent), linear-gradient(270deg, $color-progress-idicator 50%, $color-progress-circle 50%, $color-progress-circle);
}

.progress-circle.progress-82:after {
    background-image: linear-gradient(25.2deg, $color-progress-idicator 50%, transparent 50%, transparent), linear-gradient(270deg, $color-progress-idicator 50%, $color-progress-circle 50%, $color-progress-circle);
}

.progress-circle.progress-83:after {
    background-image: linear-gradient(28.8deg, $color-progress-idicator 50%, transparent 50%, transparent), linear-gradient(270deg, $color-progress-idicator 50%, $color-progress-circle 50%, $color-progress-circle);
}

.progress-circle.progress-84:after {
    background-image: linear-gradient(32.4deg, $color-progress-idicator 50%, transparent 50%, transparent), linear-gradient(270deg, $color-progress-idicator 50%, $color-progress-circle 50%, $color-progress-circle);
}

.progress-circle.progress-85:after {
    background-image: linear-gradient(36deg, $color-progress-idicator 50%, transparent 50%, transparent), linear-gradient(270deg, $color-progress-idicator 50%, $color-progress-circle 50%, $color-progress-circle);
}

.progress-circle.progress-86:after {
    background-image: linear-gradient(39.2deg, $color-progress-idicator 50%, transparent 50%, transparent), linear-gradient(270deg, $color-progress-idicator 50%, $color-progress-circle 50%, $color-progress-circle);
}

.progress-circle.progress-87:after {
    background-image: linear-gradient(43.2deg, $color-progress-idicator 50%, transparent 50%, transparent), linear-gradient(270deg, $color-progress-idicator 50%, $color-progress-circle 50%, $color-progress-circle);
}

.progress-circle.progress-88:after {
    background-image: linear-gradient(46.8deg, $color-progress-idicator 50%, transparent 50%, transparent), linear-gradient(270deg, $color-progress-idicator 50%, $color-progress-circle 50%, $color-progress-circle);
}

.progress-circle.progress-89:after {
    background-image: linear-gradient(50.4deg, $color-progress-idicator 50%, transparent 50%, transparent), linear-gradient(270deg, $color-progress-idicator 50%, $color-progress-circle 50%, $color-progress-circle);
}

.progress-circle.progress-90:after {
    background-image: linear-gradient(54deg, $color-progress-idicator 50%, transparent 50%, transparent), linear-gradient(270deg, $color-progress-idicator 50%, $color-progress-circle 50%, $color-progress-circle);
}

.progress-circle.progress-91:after {
    background-image: linear-gradient(57.6deg, $color-progress-idicator 50%, transparent 50%, transparent), linear-gradient(270deg, $color-progress-idicator 50%, $color-progress-circle 50%, $color-progress-circle);
}

.progress-circle.progress-92:after {
    background-image: linear-gradient(61.2deg, $color-progress-idicator 50%, transparent 50%, transparent), linear-gradient(270deg, $color-progress-idicator 50%, $color-progress-circle 50%, $color-progress-circle);
}

.progress-circle.progress-93:after {
    background-image: linear-gradient(64.8deg, $color-progress-idicator 50%, transparent 50%, transparent), linear-gradient(270deg, $color-progress-idicator 50%, $color-progress-circle 50%, $color-progress-circle);
}

.progress-circle.progress-94:after {
    background-image: linear-gradient(68.4deg, $color-progress-idicator 50%, transparent 50%, transparent), linear-gradient(270deg, $color-progress-idicator 50%, $color-progress-circle 50%, $color-progress-circle);
}

.progress-circle.progress-95:after {
    background-image: linear-gradient(72deg, $color-progress-idicator 50%, transparent 50%, transparent), linear-gradient(270deg, $color-progress-idicator 50%, $color-progress-circle 50%, $color-progress-circle);
}

.progress-circle.progress-96:after {
    background-image: linear-gradient(75.6deg, $color-progress-idicator 50%, transparent 50%, transparent), linear-gradient(270deg, $color-progress-idicator 50%, $color-progress-circle 50%, $color-progress-circle);
}

.progress-circle.progress-97:after {
    background-image: linear-gradient(79.2deg, $color-progress-idicator 50%, transparent 50%, transparent), linear-gradient(270deg, $color-progress-idicator 50%, $color-progress-circle 50%, $color-progress-circle);
}

.progress-circle.progress-98:after {
    background-image: linear-gradient(82.8deg, $color-progress-idicator 50%, transparent 50%, transparent), linear-gradient(270deg, $color-progress-idicator 50%, $color-progress-circle 50%, $color-progress-circle);
}

.progress-circle.progress-99:after {
    background-image: linear-gradient(86.4deg, $color-progress-idicator 50%, transparent 50%, transparent), linear-gradient(270deg, $color-progress-idicator 50%, $color-progress-circle 50%, $color-progress-circle);
}

.progress-circle.progress-100:after {
    background-image: linear-gradient(90deg, $color-progress-idicator 50%, transparent 50%, transparent), linear-gradient(270deg, $color-progress-idicator 50%, $color-progress-circle 50%, $color-progress-circle);
}

@-webkit-keyframes colorload {
    0% {
        opacity: 0;
        transform: rotate(0deg)
    }

    100% {
        opacity: 1;
        transform: rotate(360deg)
    }
}