.flex {
    display: flex;

    .fl {
        width: 100%;

        &-1 {
        	width: percentage(120px/1440px);
        }
        &-2 {
        	width: percentage(240px/1440px);
        }
        &-3 {
        	width: percentage(360px/1440px);
        }
        &-4 {
        	width: percentage(480px/1440px);
        }
        &-5 {
        	width: percentage(600px/1440px);
        }
        &-6 {
        	width: percentage(720px/1440px);
        }
        &-7 {
        	width: percentage(840px/1440px);
        }
        &-8 {
        	width: percentage(960px/1440px);
        }
        &-9 {
        	width: percentage(1080px/1440px);
        }
        &-10 {
        	width: percentage(1200px/1440px);
        }
        &-11 {
        	width: percentage(1320px/1440px);
        }
        &-12 {
        	width: percentage(1440px/1440px);
        }
    }

    .fl-style {
        padding: 10px;
        border: solid 1px rgba(0, 0, 0, 0.14);
        text-align: center;
    }
}


.flex-wrapper {
    display: flex;
    .col {
        &-3 {
            flex: 0 0 25%;
            max-width: 25%;
        }
    }
}

.flex-column {
    display: flex;
    flex-direction: column;
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;

    .bg-image {
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: cover;
    }
}

.flex-column>div {
    font-size: 4vh;
    color: white;
    background: royalblue;
    margin: .1em;
    padding: .3em 1em;
    border-radius: 3px;
    flex: 1;
}

.flex-wrapper {
    &.flex-secondary {
        .flex-column {
            height: 450px;
        }
    }
}