@font-face {
  font-family: 'fontello';
  src: url('./fonts/fontello.eot?96932282');
  src: url('./fonts/fontello.eot?96932282#iefix') format('embedded-opentype'),
       url('./fonts/fontello.woff2?96932282') format('woff2'),
       url('./fonts/fontello.woff?96932282') format('woff'),
       url('./fonts/fontello.ttf?96932282') format('truetype'),
       url('./fonts/fontello.svg?96932282#fontello') format('svg');
  font-weight: normal;
  font-style: normal; 
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?96932282#fontello') format('svg');
  }
}
*/

.fontello-icon {
    letter-spacing: 0;
    width: auto; 
 }
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
} 
  
.icon-cloud-moon-inv:before { content: '\e800'; } /* '' */
.icon-cloud-sun:before { content: '\e801'; } /* '' */
.icon-cloud-moon:before { content: '\e802'; } /* '' */
.icon-cloud-sun-inv:before { content: '\e803'; } /* '' */
.icon-sun:before { content: '\e804'; } /* '' */
.icon-sun-filled:before { content: '\e805'; } /* '' */
.icon-sun-1:before { content: '\e806'; } /* '' */
.icon-sunrise:before { content: '\e807'; } /* '' */
.icon-sun-inv:before { content: '\e808'; } /* '' */