//////////////
// LAYOUTS //
//////////////
// rw == Row, cl = Column

//Variables 
$site-container: 100%;
$site-wrapper: 960px;

.rw {
    width: 100%;
}

.rw, .cl-margin {
	display: block;
	font-size: 0;
	.cl {
		display: inline-block;
		padding: 0 fluidity(15px, 1440px);
		vertical-align: top;
		font-size: 16px;
		&.middle {
			vertical-align: middle;
		}
		&.not-padded {
			padding: 0;
		}
	}
	&.rw-full {
		margin-right: fluidity(-15px, 1440px);
		margin-left: fluidity(-15px, 1440px);
	}
	&.cl-padded {
		.cl {
			padding: 0 fluidity(15px, 1440px) fluidity(30px, 1440px) fluidity(15px, 1440px);
		}
	}
	&.cl-no-margin {
		margin-right: 0;
		margin-left: 0;
	}
}

.cl { 
	&-1 {
		>.cl {
			width: percentage(1400px/1400px);
		}
	}
	&-2 {
		>.cl {
			width: percentage(700px/1400px);
		}
	}
	&-3 {
		>.cl {
			width: percentage(466.66px/1400px);
		}
	}
	&-4 {
		>.cl {
			width: percentage(350px/1400px);
		}
	}
	&-5 {
		>.cl {
			width: percentage(280px/1400px);
		}
	}
	&-6 {
		>.cl {
			width: percentage(233.33px/1400px);
		}
	}
	&-7 {
		>.cl {
			width: percentage(200px/1400px);
		}
	}
	&-8 {
		>.cl {
			width: percentage(175px/1400px);
		}
	}
	&-9 {
		>.cl {
			width: percentage(155.55px/1400px);
		}
	}
	&-10 {
		>.cl {
			width: percentage(140px/1400px);
		}
	}
	&-11 {
		>.cl {
			width: percentage(127.27px/1400px);
		}
	}
	&-12 {
		>.cl {
			width: percentage(116.66px/1400px);
		}
	}

}

.cl-margin {
	&-1 {
		.cl {
			width: percentage(1370px/1400px);
			margin: 0 percentage(15px/1400px);
		}
	}
	&-2 {
		.cl {
			width: percentage(670px/1400px);
			margin: 0 percentage(15px/1400px);
		}
	}
	&-3 {
		.cl {
			width: percentage(436.66px/1400px);
			margin: 0 percentage(15px/1400px);
		}
	}
	&-4 {
		.cl {
			width: percentage(320px/1400px);
			margin: 0 percentage(15px/1400px);
		}
	}
}

.cl {
	//Grid cell
	&.cl-1 {
		width: percentage(116.66px/1400px);
	}
	&.cl-2 {
		width: percentage(233.33px/1400px);
	}
	&.cl-3 {
		width: percentage(350px/1400px);
	}
	&.cl-4 {
		width: percentage(466.66px/1400px);
	}
	&.cl-5 {
		width: percentage(583.33px/1400px);
	}
	&.cl-6 {
		width: percentage(700px/1400px);
	}
	&.cl-seven {
		width: percentage(816.8px/1400px);
	}
	&.cl-7 {
		width: percentage(816.70px/1400px);
	}
	&.cl-8 {
		width: percentage(933.33px/1400px);
	}
	&.cl-9 {
		width: percentage(1050px/1400px);
	}
	&.cl-10 {
		width: percentage(1166.66px/1400px);
	}
	&.cl-11 {
		width: percentage(1283px/1400px);
	}
	&.cl-12 {
		width: percentage(1400px/1400px);
	}
}

.adjusted-margin {
    margin-left: fluidity(15px, 1440px);
    margin-right: fluidity(15px, 1440px);
}

.site {
	&-container {
		width: $site-container;
	}
	&-wrapper {
		max-width: $site-wrapper;
		margin: 0 auto;
	}
}


