///////////////
///// ABS Loader ///
///////////////

//Loader Variables 
@mixin centeredFull() { //center element
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.loader-container {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 10007;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    outline: 0;
    -webkit-overflow-scrolling: hidden;
    overflow: hidden;
    opacity: 1;

    &:before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        opacity: 0.95;
        background: rgba(255,255,255,1);
        background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(184,184,184,1) 100%);
        background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(184,184,184,1)));
        background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(184,184,184,1) 100%);
        background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(184,184,184,1) 100%);
        background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(184,184,184,1) 100%);
        background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(184,184,184,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#b8b8b8', GradientType=1 );
    }

    &:after {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: transparent url("../images/pattern.png") repeat center center;
        z-index: -1;
    }

    &.relative {
        //for relative/inline loader
        position: relative;
        min-height: 350px;
        width: 100%;
        background-color: transparent;
        z-index: 1;
        text-align: center;

        .loader-inner {
            top: 25%;
        }

        &:before {
            background: transparent;
        }
    }

    &.dark {
        background-color: $black;

        .loader-message {

            p,
            h2 {
                color: $white;
            }
        }
    }

    &.light {
        background-color: $white;

        .loader-message {

            p,
            h2 {
                color: $black;
            }
        }
    }

    .spinner {
        @include centered-full();
        margin-left: -19px;
        z-index: 9999;
        color: #fee400;
        font-size: 70px;
    }

    .loader-inner {
        @include centered-full;

        &>div {
            background-color: #fff;
            border-color: #c3b699;
        }
    }

    .fas {
        @include centered-full;
        font-size: 1.5em;
        color: $white;
        text-shadow: 0 0 1em #000;
        -webkit-text-shadow: 0 0 1em #000;
        -moz-text-shadow: 0 0 1em #000;
        -webkit-animation-duration: 2s;
        -webkit-animation-name: pulse;
        -webkit-animation-direction: alternate;
        -webkit-animation-iteration-count: infinite;
        animation-duration: 2s;
        animation-name: pulse;
        animation-direction: alternate;
        animation-iteration-count: infinite;

        &:before {
            -webkit-animation: pulse-shadow 3s infinite ease-in-out;
            -o-animation: pulse-shadow 3s infinite ease-in-out;
            -ms-animation: pulse-shadow 3s infinite ease-in-out;
            -moz-animation: pulse-shadow 3s infinite ease-in-out;
            animation: pulse-shadow 3s infinite ease-in-out;
        }
    }

    .loader-logo {
        max-width: 100px;
        animation: fadein 1.45s 1;
        //animation: pulse-shadow-blue 1.5s infinite;
    }

    .loader-message {
        display: block;
        width: 280px;
        margin: 0 auto;
        @include centered-horizontal;
        text-align: center;
        bottom: -58%;
        color: $white;

        p,
        h2,
        h3 {
            text-transform: uppercase;
            color: #fff;
        }

        p {
            margin: 0;
            font-weight: 300;
            font-size: 12px;
        }

        h2 {
            margin-top: 0;
            font-weight: 400;
        }
    }

    .text-container {
        width: 100%;
        @include centered-full;
        color: $color-default;
        text-align: center;
        h1 {
            margin: 0 auto -6px auto;
            @include textshadow(0, 0, 50px, rgba(0, 0, 0, 0.25));

            //-webkit-animation: tracking-in-expand 0.95s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
            //animation: tracking-in-expand 0.95s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
        }

        p {
            position: fixed;
            width: 100%;
            margin-top: 10px;
            left: 0;
            font-weight: 700;
            letter-spacing: 0.15em;
            font-family: $font-third;
            @include textshadow(0, 0, 70px, rgba(255, 255, 255, 0.95));

            -webkit-animation: tracking-in-contract-bck 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
            animation: tracking-in-contract-bck 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;


        }
    }
}


$loader-circle-width: 170px;
$loader-circle-height: 100px;
$loader-circle-width-half: ($loader-circle-width / 2);

.loader-circle {
    position: absolute;
    left: 50%;
    top: 50%;
    width: $loader-circle-width;
    height: $loader-circle-width;
    border-radius: 50%;
    margin-left: -$loader-circle-width-half;
    margin-top: -$loader-circle-width-half;

    -webkit-animation: fadeIn 1.8s 1 linear;
    -moz-animation: fadeIn 1.8s 1 linear;
    -o-animation: fadeIn 1.8s 1 linear;
    animation: fadeIn 1.8s 1 linear;
}

.loader-line-mask {
    position: absolute;
    left: 50%;
    top: 50%;
    width: $loader-circle-width-half;
    height: $loader-circle-width;
    margin-left: -$loader-circle-width-half;
    margin-top: -$loader-circle-width-half;
    overflow: hidden;
    -webkit-transform-origin: $loader-circle-width-half $loader-circle-width-half;
    -moz-transform-origin: $loader-circle-width-half $loader-circle-width-half;
    -ms-transform-origin: $loader-circle-width-half $loader-circle-width-half;
    -o-transform-origin: $loader-circle-width-half $loader-circle-width-half;
    transform-origin: $loader-circle-width-half $loader-circle-width-half;
    -webkit-mask-image: -webkit-linear-gradient(top, #000000, rgba(0, 0, 0, 0));
    -webkit-animation: rotate 0.8s infinite linear;
    -moz-animation: rotate 0.8s infinite linear;
    -o-animation: rotate 0.8s infinite linear;
    animation: rotate 0.8s infinite linear;
    z-index: 1;

    .loader-line {
        width: $loader-circle-width;
        height: $loader-circle-width;
        border-radius: 170px / 85px;
        box-shadow: inset 0 0 0 2px rgba(145, 114, 9, 0.8); //yellow 
    }
}

.logo-loader {
    @include centered-horizontal();
    top: 27%;
    width: 150px;

    -webkit-animation: fadeIn 1.5s 1 ease-in;
    -moz-animation: fadeIn 1.5s 1 ease-in;
    -o-animation: fadeIn 1.5s 1 ease-in;
    animation: fadeIn 1.5s 1 ease-in;
}

.circle-container {
    @include centered-full();
    width: 100px;
    height: 100px;
}

.circle-new {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    background-color: red;
    display: inline-block;
    position: absolute;
    display: none;
}

.circle-new.big {
    width: 100px;
    height: 100px;
    background-color: transparent;
}

.camera-shots {
  @include centered-full();
  width: 180px;
  height: 180px;
  div {
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    left: 28%;
    top: 5%;
    border-radius: 50%;

    animation: flash 1s infinite;

    background: rgba(255,255,255,0.9);
    background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,0.9) 0%, rgba(255,255,255,0.9) 11%, rgba(255,255,255,0.52) 36%, rgba(255,255,255,0) 70%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,255,255,0.9)), color-stop(11%, rgba(255,255,255,0.9)), color-stop(36%, rgba(255,255,255,0.52)), color-stop(70%, rgba(255,255,255,0)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,0.9) 0%, rgba(255,255,255,0.9) 11%, rgba(255,255,255,0.52) 36%, rgba(255,255,255,0) 70%);
    background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,0.9) 0%, rgba(255,255,255,0.9) 11%, rgba(255,255,255,0.52) 36%, rgba(255,255,255,0) 70%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,0.9) 0%, rgba(255,255,255,0.9) 11%, rgba(255,255,255,0.52) 36%, rgba(255,255,255,0) 70%);
    background: radial-gradient(ellipse at center, rgba(255,255,255,0.9) 0%, rgba(255,255,255,0.9) 11%, rgba(255,255,255,0.52) 36%, rgba(255,255,255,0) 70%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
    &:nth-child(2) {
      width: 70px;
      height: 70px;
      top: 20%;
      right: 15%;
      left: 65%;
      animation: flash 0.3s infinite;
    }
    &:nth-child(3) {
      width: 50px;
      height: 50px;
      bottom: 30%;
      right: 25%;
      left: auto;
      animation: flash .4s infinite;
    }
    &:nth-child(4) {
      width: 50px;
      height: 50px;
      left: 18%;
      bottom: 0%;
      top: 57%;
      animation: flash 0.2s infinite;
    }
    &:nth-child(5) {
      width: 70px;
      height: 70px;
      top: 50%;
      right: 5%;
      left: 50%;
    }
  }
}

.star-shots {
  div {
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    left: 28%;
    top: 5%;
    border-radius: 50%;

    animation: flash 1s infinite;
    background-image: url("../images/star.png");
    background-repeat: no-repeat;
    background-position:center;
    background-size: 100% 100%;
    &:nth-child(2) {
      width: 70px;
      height: 70px;
      top: 20%;
      right: 15%;
      left: 65%;
      animation: flash 0.1s infinite;
    }
    &:nth-child(3) {
      width: 50px;
      height: 50px;
      top: 0;
      right: 25%;
      left: 52%;
      animation: flash .4s infinite;
    }
    &:nth-child(4) {
      width: 50px;
      height: 50px;
      left: 18%;
      bottom: 0%;
      top: 50%;
      animation: flash 0.1s infinite;
    }
    &:nth-child(5) {
      width: 70px;
      height: 70px;
      top: 40%;
      right: 5%;
      left: 50%;
    }
  }
}

// 设置大小
$ellipse:80px;

$circle:$ellipse/10;

@mixin style($mod) {
    width: $mod * 2; //$mod * 2;
    height: $mod * 2;
    border-radius: 50%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
}

.ellipse {
    @include style($ellipse);
    width: 188px;
    border: 8px rgba(255, 255, 255, 0.85) solid; //917209 //ffc500 //rgba(214,169,21,0.5)
    clip: rect(0, 0, 0, 0);
    animation: maskBorder 1.5s infinite;
    transform-style: preserve-3d;
    z-index: 888;

    .circle {
        @include style($circle);
        width: 10px;
        height: 10px;
        animation: move linear infinite;
        background: rgba(199, 153, 14, 1);
        background: -moz-radial-gradient(center, ellipse cover, rgba(199, 153, 14, 1) 10%, rgba(199, 153, 14, 0.99) 11%, rgba(145, 114, 9, 0) 100%);
        background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(10%, rgba(199, 153, 14, 1)), color-stop(11%, rgba(199, 153, 14, 0.99)), color-stop(100%, rgba(145, 114, 9, 0)));
        background: -webkit-radial-gradient(center, ellipse cover, rgba(199, 153, 14, 1) 10%, rgba(199, 153, 14, 0.99) 11%, rgba(145, 114, 9, 0) 100%);
        background: -o-radial-gradient(center, ellipse cover, rgba(199, 153, 14, 1) 10%, rgba(199, 153, 14, 0.99) 11%, rgba(145, 114, 9, 0) 100%);
        background: -ms-radial-gradient(center, ellipse cover, rgba(199, 153, 14, 1) 10%, rgba(199, 153, 14, 0.99) 11%, rgba(145, 114, 9, 0) 100%);
        background: radial-gradient(ellipse at center, rgba(199, 153, 14, 1) 10%, rgba(199, 153, 14, 0.99) 11%, rgba(145, 114, 9, 0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c7990e', endColorstr='#917209', GradientType=1);
    }

    transform: rotateZ(-107deg) rotateY(70deg);

    .circle {
        animation-duration: 2s;
    }
}

@keyframes move {
    from {
        transform: rotateZ(0) translateX($ellipse) rotateZ(0) rotateY(-70deg);
    }

    to {
        transform: rotateZ(360deg) translateX($ellipse) rotateZ(-360deg) rotateY(-70deg);
    }
}


@keyframes maskBorder {
    0% {
        clip: rect(0, 0, 500px, 0);
    }

    20% {
        clip: rect(0, 170px, 0, 0);
    }

    35% {
        clip: rect(0, 0, 10px, 0);
    }

    50% {
        clip: rect(10px, 50px, 0, 500px);
    }

    60% {
        clip: rect(40px, 50px, 50px, 500px);
    }

    70% {
        clip: rect(40px, 500px, 0, 0);
    }

    85% {
        clip: rect(40px, 10px, 50px, 0px);
    }

    90% {
        clip: rect(0, 10px, 50px, 0px);
    }

    100% {
        clip: rect(0, 10px, 0, 0);
    }
}

$white-faded: #917209; //rgba(255, 255, 255,.9)

.spark-container {
    position: absolute;
    bottom: 50%;
    width: 120px;
    @include centered-horizontal;
}

.spark {
    position: absolute;
    bottom: 50%;
    left: 25%;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: fade-out($white-faded, 0);

    animation-name: fly-up-burnout-1;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: .2s;

    &:nth-of-type(2n) {
        animation-name: fly-up-burnout-2;
        animation-duration: 8.4s;
        animation-delay: 1s;
    }

    &:nth-of-type(3n) {
        animation-delay: 1.5s;
        animation-duration: 8s;
        left: 55%;
    }

    &:nth-of-type(4n) {
        animation-delay: 2.6s;
        animation-duration: 7s;
        left: 75%;
    }

    &:nth-of-type(5n) {
        animation-delay: 1.1s;
        animation-duration: 7s;
        left: 32%;
    }

    &:nth-of-type(6n) {
        animation-delay: 3.2s;
        left: 61%;
    }

    &:nth-of-type(7n) {
        animation-delay: .6s;
        animation-duration: 5s;
        left: 64%;
    }

    &:nth-of-type(8n) {
        animation-delay: 4s;
        left: 19%;
    }

    &:nth-of-type(9n) {
        animation-delay: 3s;
        animation-duration: 6.8s;
        left: 22%;
    }

    &:nth-of-type(10n) {
        animation-delay: 5s;
        left: 61%;
    }

    &:nth-of-type(11n) {
        animation-delay: 3.5s;
        animation-duration: 8s;
        left: 70%;
    }

    &:nth-of-type(12n) {
        animation-delay: 2s;
        left: 50%;
    }
}


@keyframes fly-up-burnout-1 {
    0% {
        transform: translate(0, 0);
        opacity: 1;
    }

    33% {
        transform: translate(12px, -70px);
    }

    66% {
        transform: translate(0, -140px);
        opacity: .6;
    }

    100% {
        transform: translate(6px, -200px);
        opacity: 0;
    }
}

@keyframes fly-up-burnout-2 {
    0% {
        transform: translate(0, 0);
        opacity: 1;
    }

    50% {
        transform: translate(-10px, -80px);
    }

    80% {
        transform: translate(-4px, -140px);
        opacity: .6;
    }

    100% {
        transform: translate(-6px, -160px);
        opacity: 0;
    }
}


$color: red;

@keyframes border_oval {
    0% {
        box-shadow: 60px -60px 0 2px $color, -60px -60px 0 2px $color, -60px 60px 0 2px $color, 60px 60px 0 2px $color, 0 0 0 2px #E94E3D;
    }

    25% {
        box-shadow: 0 -125px 0 2px $color, -60px -60px 0 2px $color, -60px 60px 0 2px $color, 60px 60px 0 2px $color, 0 0 0 2px #fff;
    }

    50% {
        box-shadow: 0 -125px 0 2px $color, -125px 0px 0 2px $color, -60px 60px 0 2px $color, 60px 60px 0 2px $color, 0 0 0 2px #fff;
    }

    75% {
        box-shadow: 0 -125px 0 2px $color, -125px 0px 0 2px $color, 0px 125px 0 2px $color, 60px 60px 0 2px $color, 0 0 0 2px #fff;
    }

    100% {
        box-shadow: 0 -125px 0 2px $color, -125px 0px 0 2px $color, 0px 125px 0 2px $color, 120px 40px 0 2px $color, 0 0 0 2px #fff;
    }
}

/* Loader Animator - gradient */
.loader-gradient {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.15), rgba(0, 0, 0, 0));
    transform: translateX(-100%);
    animation: loading 1.5s 30;
    /* Chrome, IE 10+, Fx 29+ */
    -webkit-animation: loading 1.5s 20;
    /* Safari 4+ */
    -moz-animation: loading 1.5s 20;
    /* Fx 5+ */
    -o-animation: loading 1.5s 20;
    /* Opera 12+ */
    z-index: 0;
}

@-moz-keyframes loading {
    100% {
        transform: translateX(100%);
    }
}

@-webkit-keyframes loading {
    100% {
        transform: translateX(100%);
    }
}

@-o-keyframes loading {
    100% {
        transform: translateX(100%);
    }
}

@keyframes loading {
    100% {
        transform: translateX(100%);
    }
}


@-webkit-keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        top: 70%;
    }

    100% {
        opacity: 1;
        top: 40%;
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        top: 70%;
    }

    100% {
        opacity: 1;
        top: 40%;
    }
}

@keyframes flash {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.75;
    }
}

@keyframes lineloading {
    from {
        left: 50%;
        width: 0;
        z-index: 100;
    }

    33.3333% {
        left: 0;
        width: 100%;
        z-index: 10;
    }

    to {
        left: 0;
        width: 100%;
    }
}

@-webkit-keyframes transformer {
    from {
        -webkit-transform: scale(0.1);
    }

    to {
        -webkit-transform: scale(1);
    }
}

@keyframes transformer {
    from {
        transform: scale(0.1);
    }

    to {
        transform: scale(1);
    }
}

@-webkit-keyframes transformWidth {
    0% {
        width: 0;
        height: 0;
    }

    100% {
        width: 120px;
        height: 120px;
    }
}

@keyframes transformWidth {
    0% {
        width: 0;
        height: 0;
    }

    100% {
        width: 120px;
        height: 120px;
    }
}

@-moz-webkit-keyframes bgPushRight {
    0% {
        background-position: -800% center;
        opacity: 0;
    }

    100% {
        background-position: center center;
        opacity: 1;
    }
}

@-webkit-keyframes bgPushRight {
    0% {
        background-position: -800% center;
        opacity: 0;
    }

    100% {
        background-position: center center;
        opacity: 1;
    }
}

@keyframes bgPushRight {
    0% {
        background-position: -800% center;
        opacity: 0;
    }

    100% {
        background-position: center center;
        opacity: 1;
    }
}

@-moz-webkit-keyframes bgPushUp {
    0% {
        background-position: center 150px;
        opacity: 1;
    }

    100% {
        background-position: center center;
        opacity: 1;
    }
}

@-webkit-keyframes bgPushUp {
    0% {
        background-position: center 150px;
        opacity: 1;
    }

    100% {
        background-position: center center;
        opacity: 1;
    }
}

@keyframes bgPushUp {
    0% {
        background-position: center 150px;
        opacity: 1;
    }

    100% {
        background-position: center center;
        opacity: 1;
    }
}

/* ----------------------------------------------
 * Generated by Animista on 2019-1-22 5:5:8
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-pop-up-top
 * ----------------------------------------
 */
@-webkit-keyframes text-pop-up-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        text-shadow: none;
    }

    100% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
    }
}

@keyframes text-pop-up-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        text-shadow: none;
    }

    100% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        text-shadow: 0 1px 0 #cccccc, 0 2px 0 #cccccc, 0 3px 0 #cccccc, 0 4px 0 #cccccc, 0 5px 0 #cccccc, 0 6px 0 #cccccc, 0 7px 0 #cccccc, 0 8px 0 #cccccc, 0 9px 0 #cccccc, 0 50px 30px rgba(0, 0, 0, 0.3);
    }
}

/* ----------------------------------------------
 * Generated by Animista on 2019-1-22 5:12:20
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}

@keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}

/* ----------------------------------------------
 * Generated by Animista on 2019-1-23 16:28:4
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/* ----------------------------------------------
 * Generated by Animista on 2019-1-23 16:29:14
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/* ----------------------------------------------
 * Generated by Animista on 2019-1-23 16:31:26
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-contract-bck
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-contract-bck {
    0% {
        letter-spacing: 1em;
        -webkit-transform: translateZ(400px);
        transform: translateZ(400px);
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
}

@keyframes tracking-in-contract-bck {
    0% {
        letter-spacing: 1em;
        -webkit-transform: translateZ(400px);
        transform: translateZ(400px);
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
}


@media (max-width: 560px) {
  .ellipse {
    //top: -38px;
  }
}

@-webkit-keyframes ball-scale-ripple {
    0% {
        -webkit-transform: scale(.1);
        transform: scale(.1);
        opacity: 1
    }
    70% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: .7
    }
    100% {
        opacity: 0
    }
}

@keyframes ball-scale-ripple {
    0% {
        -webkit-transform: scale(.1);
        transform: scale(.1);
        opacity: 1
    }
    70% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: .7
    }
    100% {
        opacity: 0
    }
}

.ball-scale-ripple>div {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    border: 2px solid #fff;
    -webkit-animation: ball-scale-ripple 1s 0s infinite cubic-bezier(.21, .53, .56, .8);
    animation: ball-scale-ripple 1s 0s infinite cubic-bezier(.21, .53, .56, .8)
}

@-webkit-keyframes ball-scale-ripple-multiple {
    0% {
        -webkit-transform: scale(.1);
        transform: scale(.1);
        opacity: 1
    }
    70% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: .7
    }
    100% {
        opacity: 0
    }
}

@keyframes ball-scale-ripple-multiple {
    0% {
        -webkit-transform: scale(.1);
        transform: scale(.1);
        opacity: 1
    }
    70% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: .7
    }
    100% {
        opacity: 0
    }
}

.ball-scale-ripple-multiple {
    position: relative;
    -webkit-transform: translateY(-25px);
    transform: translateY(-25px)
}

.ball-scale-ripple-multiple>div:nth-child(0) {
    -webkit-animation-delay: -.8s;
    animation-delay: -.8s
}

.ball-scale-ripple-multiple>div:nth-child(1) {
    -webkit-animation-delay: -.6s;
    animation-delay: -.6s
}

.ball-scale-ripple-multiple>div:nth-child(2) {
    -webkit-animation-delay: -.4s;
    animation-delay: -.4s
}

.ball-scale-ripple-multiple>div:nth-child(3) {
    -webkit-animation-delay: -.2s;
    animation-delay: -.2s
}

.ball-scale-ripple-multiple>div {
    position: absolute;
    top: -2px;
    left: -26px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 2px solid #fff;
    -webkit-animation: ball-scale-ripple-multiple 1.25s 0s infinite cubic-bezier(.21, .53, .56, .8);
    animation: ball-scale-ripple-multiple 1.25s 0s infinite cubic-bezier(.21, .53, .56, .8)
}

@-webkit-keyframes ball-scale-multiple {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0; }
  5% {
    opacity: 1; }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0; } }

@keyframes ball-scale-multiple {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0; }
  5% {
    opacity: 1; }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0; } }

.ball-scale-multiple {
  position: relative;
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px); }
  .ball-scale-multiple > div:nth-child(2) {
    -webkit-animation-delay: -0.4s;
            animation-delay: -0.4s; }
  .ball-scale-multiple > div:nth-child(3) {
    -webkit-animation-delay: -0.2s;
            animation-delay: -0.2s; }
  .ball-scale-multiple > div {
    background-color: #fff;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    margin: 2px;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    position: absolute;
    left: -30px;
    top: 0px;
    opacity: 0;
    margin: 0;
    width: 60px;
    height: 60px;
    -webkit-animation: ball-scale-multiple 1s 0s linear infinite;
            animation: ball-scale-multiple 1s 0s linear infinite; }

@-webkit-keyframes scale {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1; }
  45% {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
    opacity: 0.7; }
  80% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1; } }
@keyframes scale {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1; }
  45% {
    -webkit-transform: scale(0.1);
            transform: scale(0.1);
    opacity: 0.7; }
  80% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1; } }

.ball-pulse > div:nth-child(1) {
  -webkit-animation: scale 0.75s -0.24s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
          animation: scale 0.75s -0.24s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08); }

.ball-pulse > div:nth-child(2) {
  -webkit-animation: scale 0.75s -0.12s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
          animation: scale 0.75s -0.12s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08); }

.ball-pulse > div:nth-child(3) {
  -webkit-animation: scale 0.75s 0s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
          animation: scale 0.75s 0s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08); }

.ball-pulse > div {
  background-color: #fff;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  margin: 2px;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  display: inline-block; }


/* Loader Animator - gradient */
.loader-gradient {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0; 
  bottom: 0;
  background: linear-gradient(90deg, rgba(0,0,0,0), rgba(255,255,255,0.15), rgba(0,0,0,0));
  transform: translateX(-100%);
  animation: loading 1.5s 30; /* Chrome, IE 10+, Fx 29+ */
  -webkit-animation: loading 1.5s 30; /* Safari 4+ */
  -moz-animation: loading 1.5s 30; /* Fx 5+ */
  -o-animation: loading 1.5s 30; /* Opera 12+ */
  z-index: 0;
}

@-moz-keyframes loading {
  100% {
    transform: translateX(100%);
  }
}
@-webkit-keyframes loading {
  100% {
    transform: translateX(100%);
  }
}
@-o-keyframes loading {
  100% {
    transform: translateX(100%);
  }
}
@keyframes loading {
  100% {
    transform: translateX(100%);
  }
}