/////////////////
// Scaffolding //
/////////////////
html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -ms-overflow-style: scrollbar;
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
    font-size: 16px;
    font-family: $font-primary;
    font-weight: 300;
    color: $black;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    /* Disables pull-to-refresh but allows overscroll glow effects. */
    overscroll-behavior-y: contain;
    &.nav-open {
        .main-container {
            filter: blur(8px);
        }
    }
}

html,
body {
    width: 100%;
    height: 100%;
}

video, iframe {
    max-width: 100%;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    -webkit-backface-visibility: hidden;
-moz-backface-visibility:    hidden;
-ms-backface-visibility:     hidden;
}
small {
   font-family: $font-primary; 
   font-weight: 300;
   -webkit-font-smoothing: antialiased;
   text-rendering: optimizeLegibility;
}
.uppercase {
    text-transform: uppercase;
}

.text {
    &-left {
        text-align: left;
    }
    &-right {
        text-align: right;
    }
    &-center {
        text-align: center;
    }
}

.wrapper {
    width: 100%;
    position: relative;
    padding-top: 70px;
    overflow: hidden;
    &.relative-wrapper {
        padding-top: 0;
    }
    &:before {
        width: 100%;
        height: 30px;
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background-color: $black;
    }
}

a {
    text-decoration: none;
    color: $link-blue;
    &:hover {
        @extend .transition;
        @extend .fast;
        text-decoration: underline;
    }
}

h1,
h2,
h3 {
    font-weight: 900;
}
h1 {
    font-size: 3em;
}
h3 {
    font-size: 18px;
}
p {
    line-height: 1.5;
}

.main-container {
    padding-top: 0;
    .lightbox-open & {
        z-index: 2; //needed when lightbox is open
    }
    &:before {
        width: 100%;
        height: 30px;
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background-color: $black;
    }
}

.container {
    width: 1240px;
    max-width: 100%;
    margin: 0 auto;
    @extend .clearfix;
}

.site {
    &-container {}
    &-wrapper {
        &.styled {
            border: solid 1px #ccc;
        }
    }
}

section {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    @extend .clearfix;
    background-color: $white;
    position: relative;
    z-index: 1;
    &.section-80 {
        padding: 50px 30px;
        text-align: center;
        >.rw {
            width: 80%;
            max-width: 900px;
            margin: 0 auto;
        } 
        &.padded-lg {
            padding: 20vh 30px;
        }
        &.subscription-section {
            min-height: 400px;
            padding: 100px 30px;
            border-bottom: solid 1px rgba(0,0,0,0.30);
            font-size: 1.1em;
        }
    }
    &.products-section {
        &.section-80 {
            //max-width: 1280px;
            //max-width: 100%;
            //text-align: left;
            >.rw {
                width: 100%;
                max-width: 100%;
            } 
            &.section-max {
                max-width: 1280px;
                padding-left: 0;
                padding-right: 0;
            }
        }
    }
    .section-head { 
        .desc {
            font-size: 1.3em;
        }
    }
}


.rw-80 {
    width: 80%;
    max-width: 900px;
    margin: 0 auto;
}

img {
    max-width: 100%;
    height: auto;
}


/*******GLOBAL**********/
header {
    @extend .transition;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 600;
    @include boxshadow(0, 0, 15px, 0, rgba(0, 0, 0, 0.15)); //@include transitionSpecific(linear, 0.8s);
    border-bottom: solid 3px rgba(0,0,0,0.10);
    &.main {
        padding: 0 30px;
        @extend .clearfix; //@include transitionSpecific(all, 0.3s);
        background-color: $white;
    }
    .logo {
        position: absolute;
        top: 0;
        left: 5%;
        width: 75px;
        margin: 0;
        background-color: $default-color;
        a {
            display: block;
            font-size: 0;
        }
        img {
            max-width: 75px;
            width: 100%;
        }
    }
    .logo-bar {
        width: 30%;
        display: inline-block;
        vertical-align: middle;
        margin-left: -4px;
    }
    .tagline {
        position: absolute;
        top: 3px;
        left: calc(5% + 100px);
        //left: 170px;
        color: $default-color;
        font-size: 1em;
        font-weight: 600;
        margin: 0;
        span {
            display: block;
            position: relative;
            font-size: 1.40em;
            &:before {
                position: absolute;
                top: 0px;
                right: -5px;
                content: "\00ae";
                font-size: 10px;
                font-family: $font-primary;
                font-weight: 500;
            }
        }
        img {
            max-width: 185px;
        }
    }
    nav {
        width: 70%;
        display: inline-block;
        vertical-align: middle;
        margin-left: -4px;
        text-align: right;
    }
    .nav-menu {
        padding-right: 40px;
        background-color: transparent;
        font-size: 0;
        li {
            font-size: 0.85rem;
            a {
                position: relative;
                overflow: hidden;
                padding: 25px 20px;
                font-size: 1.2em;
                font-weight: 400;
                color: $black;
                @extend .transition;
                &:after {
                    position: absolute;
                    content: "";
                    width: 0%;
                    height: 5px;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    background-color: $default-color; 
                    -webkit-transform-origin:left;
                    transform-origin:left;
                    transition: width 0.15s ease;
                    -webkit-transition: width 0.15s ease;
                }
                &:hover {
                    background-color: transparent;
                    &:after {
                        width: 100%;
                    }
                }
            }
            &.active {
                a {
                    &:after {
                        width: 100%;
                    }
                }
            }
            .dropdown, &>.level-1, &>.level-2 {
                @include boxshadow(0, 10px, 15px, 0, rgba(0, 0, 0, 0.10));
                text-align: left;
                a {
                    padding: 10px 20px;
                    &:after {
                        //content: none;
                        width: 0;
                        height: 100%;
                        z-index: -1;
                        background-color: rgba(0, 0, 0, 0.05);
                    }
                    &:hover {
                        //background-color: $color-default;
                        //color: $white;
                        &:after {
                            content: "";
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
    .header-fixed {
        background-color: #252525;
        transition: all .5s !important;
        -webkit-transition: all .5s !important;
        -moz-transition: all .5s !important;
    }
    .main-uninav-header {
        transition: all .5s !important;
        -webkit-transition: all .5s !important;
        -moz-transition: all .5s !important;
    }
    .header-nav-toggle {
        cursor: pointer;
    }
    .icon-bar {
        @include borderradius(0);
        width: 20px;
    }
    &.nav-open {
        nav {
            //display: block;
            right: 0;
            z-index: 99999;
            transition: all 0.3s ease;
        }
    }
}

.header-subnav {
    position: relative;
    z-index: 1;
    &.nav-menu {
        margin: 0;
        text-align: center;
        background-color: $white;
        //background-color: #fefdf9;
        @include boxshadow(0, 0, 15px, 0, rgba(0, 0, 0, 0.10));
        li {
            a { 
                position: relative;
                padding: 16px 20px;
                font-size: 1.06em;
                font-weight: 400;
                &:before {
                    position: absolute;
                    content: "";
                    width: 0%;
                    height: 5px;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    background-color: $default-color; 
                    -webkit-transform-origin:left;
                    transform-origin:left;
                    transition: width 0.15s ease;
                    -webkit-transition: width 0.15s ease;
                    //@extend .transition;
                }
                &:hover {
                    background-color: transparent;
                    &:before {
                        width: 100%;
                    }
                }
            }
            &.active {
                a {
                    &:before {
                        width: 100%;
                    }
                }
            }
        }
    }
}

.tagline {
    font-family: $font-third;
}

//Burger Nav - Open
.open {
    .burgernav__icon {
        background-color: transparent;
        &:before,
        &:after {
            //background-color: $white;
        }
        &:before {
            -moz-transform: translateY(10px) rotate(45deg);
            -ms-transform: translateY(10px) rotate(45deg);
            -webkit-transform: translateY(10px) rotate(45deg);
            transform: translateY(10px) rotate(45deg);
        }
        &:after {
            -moz-transform: translateY(-10px) rotate(-45deg);
            -ms-transform: translateY(-10px) rotate(-45deg);
            -webkit-transform: translateY(-10px) rotate(-45deg);
            transform: translateY(-10px) rotate(-45deg);
        }
    }
}

section {
    padding: 30px 30px;
    &.main {
        padding: 20px 30px;
    }
    .section-title {
        margin-top: 0;
        margin-bottom: 35px;
        font-family: $font-third;
        color: $black;
        //color: $default-color;
        font-weight: 500;
    }
}

.banner-block {
    position: relative;
    height: 380px;
    text-align: center;
    background-color: $light-gray;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    @include transitionAll(1s, ease);
    z-index: 1;
    .img-banner {
        @include transitionAll(1.8s, ease); //height: 400px;
        width: auto;
        max-width: 100%;
        z-index: -1;
    }
    &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.15);
        z-index: 1;
    }
    &.bg-fixed {
        .img-banner {
            -webkit-transform: scale(1.1);
            -moz-transform: scale(1.1);
            transform: scale(1.1);
            top: 0;
            left: 0;
            right: 0;
        }
    }
    &.banner-sm {
        height: 150px;
        background-color: $blue;
    }
    &>div {
        width: 960px;
        left: 0;
        right: 0;
        margin: 0 auto;
        padding: 0 10px;
        text-align: center;
        @include centered-vertical();
        z-index: 2;
    }
    &.home {
        >div {
            top: 42%;
            h1,
            h2,
            h3 {
                color: $black;
            }
        }
    }
    h1,
    h2,
    h3 {
        color: $white;
    }
    h3 {
        font-weight: 100;
    }
    p {
        color: $white;
        line-height: 1.563em;
    }
    .header-desc,
    .header-sub-desc {
        color: $white;
    }
    .header-desc {
        font-size: 1.563em;
        font-weight: 700;
        margin-bottom: 15px;
    }
    .header-sub-desc {
        line-height: 1.563em;
    }
    .btn {
        margin-bottom: 0;
    }
    .content {
        width: 70%;
        min-height: 200px;
        margin: 50px auto 30px auto;
        line-height: 2;
        p {
            font-size: 16px; //18px
            line-height: 19pt; //28px
        }
        p::first-child {
            background-color: yellow;
        }
        &>div>p {
            &:first-of-type {
                &:first-letter {
                    text-transform: uppercase;
                    font-family: $font-primary;
                    font-size: 63px;
                    font-weight: 900;
                }
            }
        }
        h4 {
            text-align: center;
            small {
                display: block;
                margin-bottom: 0;
                font-size: 12px;
                font-family: $font-primary;
                font-weight: 100;
                color: #7f7870;
            }
            em {
                display: block;
                width: 75%;
                margin: 10px auto;
                font-size: 14px;
                font-family: $font-primary;
                font-weight: 100;
                color: #7f7870;
                line-height: 20px;
            }
        }
        img {
            display: block;
            margin: 0 auto;
            height: auto !important;
        }
        iframe,
        .twitter-tweet {
            display: block;
            margin: 0 auto;
        }
    }
}

.banner-section {
    &.banner-default {
        //border-bottom: solid 5px $yellow;
        width: 100%;
        padding: 0;
        background-color: $white;
        border-bottom: solid 2px rgba(0,0,0,0.05);
        overflow: hidden;
        position: relative;
        .floated-content {
            max-width: 520px;
            bottom: 28%;
            left: 50%;
            padding-bottom: 0;
            @include transitionAll(0.7s, ease-in-out);
            >img {
                max-width: 320px;
                margin: 10px auto;
            }
            p, h1, h2, h3 {
                color: $black;
            }
            .btn {
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
        .carousel, .info-container {
            display: inline-block;
            height: 70vh; 
            vertical-align: top;
            margin-right: -3px;
            margin-bottom: 0;
        }
        .carousel {
            .floated-content {
                >img {
                    @include transitionAll(0.8s, ease-in-out);
                    opacity: 0;
                }
                p, h1, h2, h3 {
                    @include transitionAll(1.5s, ease-in-out);
                    opacity: 0;
                }
                .btn {
                    opacity: 1;
                    @include transitionAll(2s, ease-in-out);
                    @include textshadow(1px, 0, 10px, rgba(255,255,255,0.65));
                }
            }
            .tile-body {
                z-index: 1;
                .thumbnail {
                    transition: all 0.5s cubic-bezier(0.7, 0, 0.3, 1);
                    transform: scale(1.2);
                }
            }
            .slick-slide {
                padding: 0;
            }
            .slick-current {
                .floated-content {
                    opacity: 1;
                    //bottom: 10%;
                    >img, p, h1, h2, h3 {
                        opacity: 1;
                        transform: scale(1);
                    }
                    .btn {
                        opacity: 1;
                    }
                }
            }
            .slick-active {
                .tile-body {
                    .thumbnail {
                        transform: scale(1);
                    }
                }
            }
            .slick-track {
                transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
            }
        }
        .btn-down {
            @include centered-horizontal();
            bottom: 0;
            margin: 0;
            background-color: $white;
            padding: 15px 50px;
            border: none;
            z-index: 1;
            @include boxshadow(0, 0, 10px, 0, rgba(0, 0, 0, 0.2));
            &:hover {
                background-color: rgba(0,0,0,0.05);
                border-color: rgba(0,0,0,0.05);
            }
        }
        .info-container {
            position: relative;
            width: 30%;
            color: $black;
            overflow: hidden;
            border-bottom: solid 5px $yellow;
            .content {
                @include centered-full();
                width: 85%
            }
            .info-box {
                position: relative;
                z-index: 1;
            }
            canvas {
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                z-index: 0;
            }
        }
        .tile {
            border: none;
        }
        .tile-body {
            .thumbnail {
                height: 70vh;
                width: 100%;
            }
            .floated-content {
                p {
                    margin: 0 0 20px 0;
                    font-size: 1em;
                }
            }
            &.gradient-bottom {
                &:after {
                    height: 90%;
                }
            }
        }
        .btn-light {
            &.bordered-transparent {
                border: solid 1px $light-color;
                color: $black;
                font-weight: 400;
                &:hover {
                    background-color: transparent;
                    color: $black;
                    border-color: $black;
                    text-decoration: none;
                }
            }
        }
        .slick-dots {
            bottom: 12%;
            li {
                &.slick-active {
                    button {
                        &:before {
                            color: #edd7a5;
                        }
                    }
                }
            }
        }
        &.banner-home {
            .carousel, .info-container {
                height: 91vh;
            }   
            .tile-body {
                height: 91vh;
                background-color: rgba(0,0,0,0.4);
                .thumbnail {
                    height: 91vh;
                }
                &:before { 
                    @extend .loader-gradient;
                }
            }
            &.gradient-bottom {
                &:after {
                    height: 91%;
                }
            }
            .bg {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                width: 100%;
                height: 100%;
                -o-object-fit: cover;
                object-fit: cover;
                z-index: 0;
            }
        }
    }
    &.banner-home {
        //@include boxshadow(0, 0, 10px, 0, rgba(0, 0, 0, 0.2));
        border: none;
        &:after {
            content: "";
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 40px;
            box-shadow:  inset 0 -9px 9px rgba(0, 0, 0, 0.05);
            z-index: 0;
        }
        .slick-slide {
            img {
                margin: 10px auto;
            }
        }
    }
    &.banner-subpage {
        position: relative;
        overflow: hidden;
        @extend .gradient-yellow-reversed;
        background-color: $yellow-dark;
        background-image: url("../images/globe.png");
        background-position: 110% 10%;
        background-repeat: no-repeat;
        background-size: 350px;
        .content {
            position: relative;
            z-index: 1;
            color: $black;
            h1 {
                text-transform: uppercase;
            }
        }
        canvas {
            @include centered-all();
            width: 100%;
            z-index: 0;
        }
    }
    &.banner-secondary {
        padding: 0;
        .tile {
            border: none;
        }
    }
    &.banner-light {
        .floated-content {
            h1, h2, h3, p {
                color: $white;
                @include textshadow(1px, 1px, 2px, rgba(0,0,0,0.25));
            }
        }
    }
    &.centered {
        .floated-content {
            @include centered-full();
            bottom: auto;
        }
    }
    .cl {
        padding: 0;
        width: 100%;
    }
}

.search-results { 
    .pagination {
        margin: 20px auto;
        font-size: 16px;
        text-align: center;
        .prev {
            margin-right: 10px;
        }
        .next {
            margin-left: 10px;
        }
        .page_current {
            padding: 0 8px;
        }
    }
    .tile-clickable {
        .tile-body {
            background-image: url("../images/logo-plain.png");
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            .thumbnail {
                transition: none !important;
            }
        }
    }
    .cl-4 {
        .tile-clickable {
            margin-bottom: 20px;
        }
    }
}

.search-results-details {  

}

.products-section {
    padding: 0; 
    .cl {
        height: auto;
        position: relative;
        margin-bottom: 20px;
        h2 {
            text-transform: inherit;
            font-size: 1.5em;
            font-weight: 900;
        }
        .thumbnail {
            
        }
        .link {
            @include centered-full();
            width: 100%;
            height: 100%;
            z-index: 1;
        }
        .tile-footer {
            h2 {
                margin-top: 0;
                margin-bottom: 5px;
                font-weight: 900;
            }
        }
        &:hover {
            .thumbnail {
                //transform: scale(1.1);
            }
        }
    }
    &.product-subpage-section {
        padding-top: 40px; 
        .rw {
            display: block;
            margin: 0 auto;
            max-width: 960px;
        }
        .cl {
            height: 280px;
            border-top: none;
            .thumbnail {
                max-width: 70%;
            }
            &:nth-child(4n) {
                border-left: solid 1px $light-gray;
            }
        }
        .products-listing {
            margin-top: -10px;
        }
    }
    .tile {
        .tile-footer {
            text-align: center;
        }
        .tile-body {
            background-color: rgba(0,0,0,0.4);
            overflow: hidden;
            .thumbnail {
                position: relative;
                z-index: 1;
            }
            &:before { 
                @extend .loader-gradient;
            }
        }
    }
}

.packaging-list {
    max-width: 1200px;
    width: 70%;
    margin: 0 auto;
    .packaging-item {
        border-bottom: solid 1px #020202;
    }
    .tile {
        &.tile-horizontal {
            .tile-body {
                .right {
                    min-height: inherit;
                }
            }
        }
    }
}

.breaker-section {
    position: relative;
    overflow: hidden;
    z-index: 0;
    padding: 30px;
    height: 80vh;
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
    &.breaker-default {
        background-color: $black;
        color: $white;
        text-align: center;
        .content {
            h1 {
                font-size: 3.5em;
            }
            h2 {
                font-size: 2em;
            }
        }
    }
    .bg {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        z-index: 0;
    }
    .content {
        @include centered-full();
        z-index: 1;
        padding: 20px;
        h1 {
            font-size: 3em;
        }
        p {
            font-size: 1em;
            margin-bottom: 20px;
        }
    }
    &.padded-lg {
        padding: 20vh 30px;
    }
}

.whats-new-section {
    //background-color: #fefcf0;
}

.partners-section {
    position: relative;
    padding: 40px 30px;
    text-align: center;
    .carousel-default {
        .slick-slide {
            vertical-align: middle;
            float: none;
            &:hover {
                .thumbnail {
                    -webkit-filter: none; /* Safari 6.0 - 9.0 */
                    filter: none;
                }
            }
        }
        .slick-next, .slick-prev {
            background-color: transparent;
            &:before {
                color: $yellow;
                font-size: 1.8em;
            }
        }  
        .slick-prev {
            left: 0;
        }
        .slick-next {
            right: 0;
        }
    }
    .tile {
        border: none;
    }
    .tile-body {
        background-color: transparent;
        .thumbnail {
            max-width: 70%;
            margin: 0 auto;
            -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
            filter: grayscale(100%);
        }  
    }
}

.branches-section {
    padding: 40px 30px;
    text-align: center;
    background-color: $white;
    background-image: url("../images/pipes.png");
    background-attachment: fixed;
    background-position: top center;
    background-repeat: repeat;
    .content {
        display: block;
        width: 70%;
        max-width: 650px;
        margin: 20px auto;
        padding-top: 20px;
    }
}

.news-section {
    text-align: center;
    padding: 40px 30px;
    .content {
        max-width: 900px;
        margin: 20px auto;
    }
    .tile { 
        @extend .transition;
        &:hover {
            transform: scale(1.02);
        }
    }
}

.inner-product-section {
    .desc {
        font-size: 1.3em;
        margin: 0 0 40px 0;
        max-width: 90%;
    }
    .btn {
        &.btn-dark {
            text-align: center;
        }
    }
}

.full-img-section {
    .img-container {
        position: relative;
        background-color: rgba(0,0,0,0.4);
        overflow: hidden;
        &:before { 
            @extend .loader-gradient;
        }
        img {
            position: relative;
            z-index: 1;
        }
    }  
}


.branches-list {
    .cl {
        position: relative;
        margin-bottom: 30px;
        text-align: left;
        h2, .icon-wrapper {
            display: inline-block;
            margin-left: -4px;
            vertical-align: middle;
        }
        h2 {
            width: calc(100% - 90px);
        }
        .icon-wrapper {
            position: relative;
            width: 70px;
            height: 70px;
            margin-right: 20px;
            @include borderradius(50%);
            border: solid 2px $gray2;
            //@include transitionAll(0.2s, ease-in-out);
            color: $gray2;
            overflow: hidden;
            // box-shadow: 0 0 0 rgba(204,169,44, 0.45);
            // animation: pulse 2s infinite;
            i {
                @include centered-full();
                font-size: 2.2em;
                @include transitionAll(0.45s, ease-in-out);
            }
            &:before {
                content: "";
                width: 0;
                height: 0;
                @include centered-full();
                @include borderradius(50%);
                background-color: $black;
                @include transitionAll(0.30s, ease-in-out);
                background-image: url("../images/icon-globe.png");
                background-size: cover;
                background-position: center 35px;
                background-repeat: no-repeat;
            }
        }
        .link {
            @include centered-all();
        }
        &:hover {
            h2 {
                text-decoration: underline;
            }
            .icon-wrapper {
                //background-color: $yellow;
                border-color: transparent;
                color: $white;
                &:before {
                    width: 100%;
                    height: 100%;
                }
                i {
                    top: 35%;
                    color: $yellow;
                    @include textshadow(1px, 1px, 2px, rgba(0,0,0,0.85));
                }
            }
        }
    }
}

.info-container {
    padding: 20px;
    background-color: #1b1b1b;
    .info-box {
        border-bottom: solid 1px rgba(255,255,255,0.2);
        //border-bottom: solid 1px rgba(255,217,49,0.2);
        h2, h3, h4 {
            text-transform: uppercase;
            margin-bottom: 5px;
        }
        p {
            margin-top: 10px;
        }
    }
    a {
        color: $yellow;
    }
    &.info-container-plain {
        background-color: transparent;
        .info-box {
            border-bottom: solid 1px rgba(0,0,0,0.05);
            h2, h3, h4 {
                
            }
        }
    }
}

//Search form
.form-search {
    // -webkit-transition: width 0.9s ease-in-out;
    // transition: width 0.9s ease-in-out;
    &.form-group {
        /*@include centered-vertical();
        right: 40px;
        width: 40px;
        margin-top: 0px;
        margin-bottom: 0;
        background-color: $white;*/
        border: none;
        -webkit-transition: width 0.15s ease-in-out;
        transition: width 0.15s ease-in-out; 
        z-index: 2;
        &:focus-within {
            //width: 300px;
        }
        label {
            font-size: 0;
        }
        input[type='text'] {
            height: 3.4rem;
            margin-bottom: 0;
            border-top: none;
            border-left: none;
            border-right: none;
            border-bottom: solid 1px $white;
            color: $black;
            &:focus, &:hover {
                
                box-shadow: none !important;
            }
        }
        &.active {
            //border: solid 1px $black !important;
        }
        /*input[type='text']:not(.active){
            border: solid 1px $black !important;
        }*/
        &.suffix-absolute {
            .suffix {
                ~ label {
                    color: $black !important;
                    transform: translateX(12px);
                    top: 25%;
                    padding-left: 0 !important;
                    &.active1 {
                        position: absolute;
                        margin: 0;
                        top: 0;
                        right: 0;
                        left: auto;
                        height: 100%;
                        width: 40px;
                        padding-left: 0;
                        transform: none;
                        background-color: rgba(255,255,255,1);
                        cursor: pointer;
                        font-size: 0;
                        &:after {
                            //@include centered-vertical();
                            //left: 17%;
                            top: 15%;
                            font: normal normal normal 16px/1 "LineAwesome";
                            //font-family: "LineAwesome";
                            content: "\f2eb";
                            margin-top: 0;
                            font-size: 28px;
                            color: $black;
                            z-index: 2;
                            opacity: 1;
                            -webkit-transform: scaleX(-1);
                            transform: scaleX(-1);
                        }
                    }
                }
                &.la {
                    top: 0;
                    width: 34px;
                    height: 100%;
                    font-size: 30px;
                    font-family: "LineAwesome";
                    color: rgba(0,0,0,0.55);
                    cursor: pointer;
                    &:hover {

                    }
                    &:before {
                        display: inline-block;
                        vertical-align: middle;
                        margin-top: 5px;
                        margin-right: 2px;
                        right: 0;
                        -webkit-transform: scaleX(-1);
                        transform: scaleX(-1);
                    }
                }
            }
        }
    }
}

.about-section {
    .rw {
        max-width: 960px;
        margin: 0 auto;
    }
    .cl {
        vertical-align: middle;
    }
}

.mission-vision-section {
    background-color: $gray4;//#f9f9f9;
    .cl {
        padding-top: 40px;
        padding-bottom: 40px;
        &:nth-child(1) {
            border-right: solid 1px $gray;
        }
        &:nth-child(2) {
            padding-left: 30px;
        }
    }
}   

.history-section {
    text-align: center;
    background-color: $white;
    background-image: url("../images/dust_scratches.png");
    background-attachment: fixed;
    background-position: top center;
    background-repeat: repeat;
}

.contact-section {
    .info-container {
        padding-top: 0;
        .info-box {
            &:nth-child(1) {
                h1, h2, h3, h4 {
                    margin-top: 0;
                }
            }
        }
    }
}

.tile {
    &.tile-contact {
        min-height: 450px;
        margin-bottom: 20px;
        border: none;
        box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.08);
        .wrapped-logo {
            height: 50px;
            object-fit: cover;
        }
        .rounded-icon {
            width: 50px;
            height: 50px;
            bottom: -25px;
        }
        .thumbnail {
            height: 80px !important;
            object-fit: cover;
            -webkit-filter: blur(1px);
            filter: blur(2px);
            transform: scale(1);
            //opacity: 0;
        }
        .tile-body {
            background-color: #ccc;//#53daf7
            &.gradient-bottom {
                &:after {
                    height: 100%;
                    opacity: 0.8;
                    background-color: #53daf7 !important;
                }
            }
            h1, h2, h3, p {
                color: $white;
            }
            h1, h2, h3 {
                text-transform: uppercase;
                @include textshadow(0, 1px, 3px, rgba(0,0,0,0.65));
            }
            .floated-content {
                padding-bottom: 0;
                @include centered-full();
                bottom: inherit;
            }
        }
        .tile-footer {
            padding-bottom: 50px;
            .blocked-link {
                position: absolute;
                padding: 8px 10px;
                bottom: 0;
                left: 0;
                right: 0;
                background-color: #e4e4e4;
                color: rgba(0,0,0,0.75);
                .icon {
                    margin-left: 5px;
                    opacity: 0.7;
                }
            }
        }
    }
}

.contact-list {
    margin-bottom: 10px;
}

.default-section {
    .title {
        width: 80%;
        max-width: 900px;
        margin: 0 auto 10px auto;
        padding: 0 10px;
        text-align: left;
        font-size: 1.5em;
        font-weight: 100;
    }
    .subtitle {
        margin-top: 0;
    }
    .cl {
        .thumbnail {
            @extend .transition;
            height: 200px;
            width: 100%;
            object-fit: cover;
        }
    }
    .tile-footer {
        text-align: left;
    }
    &.map-section, &.full-img-section {
        padding: 0;
        max-width: 100%;
        .rw {
            &:first-child {
                .cl {
                    padding: 0;
                }
            }
            &:nth-child(2) {
                padding: 30px 0;
            }
        }
        .map, .main-img {
            width: 100%;
            max-height: 700px;
            object-fit: cover;
        }
    }
    &.full-img-section {
        .rw {
            &:first-child {
                .cl {
                    width: 100%;
                    font-size: 0;
                }
            }
        }
    }
}

.about-section,
.mission-vision-section,
.history-section,
.news-section,
.contact-section {
    .rw, .content {
        max-width: 950px;
        margin: 0 auto;
    }
}

.carousel-primary {
    .tile-body {
        h1 {
            font-size: 3em;
        }
        h2 {
           &.font-special {
                font-size: 2em;
                font-weight: 500;
           } 
        }
    }
} 


//Timeline
.timeline {
    &-item {
        position: relative;
        &:before {
            content: "";
            @include centered-horizontal();
            width: 1px;
            height: 100%;
            background-color: $yellow-dark;
        }
        &:last-child() {
            &:before {
                content: none;
            }
        }
        &:nth-child(even) {
            .timeline-content {
                float: left;
                text-align: right;
            }
        }
    }
    &-circle {
        position: relative;
        display: block;
        margin: 0 auto;
        width: 130px;
        height: 130px;
        @include borderradius(50%);
        background-color: $yellow;
        overflow: hidden;
        border: solid 3px $yellow-dark;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        overflow: hidden;
        z-index: 2;
        h3 {
            position: relative;
            @include centered-full();
            margin: 0;
            color: $white;
            @include textshadow(0, 1px, 3px, rgba(0,0,0,0.75));
            z-index: 2;
        }
        &:before {
            content: "";
            @include centered-full();
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,0.5);
            z-index: 1;
            @include borderradius(50%);
        }
    }
    &-content {
        float: right;
        @include calcWidth(50%, 100px);
        margin-top: -125px;
        text-align: left;
    }
    &-list {
        text-align: center;
        display: block;
        margin: 10px auto;
        max-width: 800px;
        &.left {
            text-align: left;
            .timeline-item {
                .timeline-circle, .timeline-content {
                    display: inline-block;
                    vertical-align: top;
                    float: none;
                }
                .timeline-content {
                    @include calcWidth(100%, 150px);
                    margin-top: 0;
                    padding-left: 20px;
                }
                &:before {
                    position: absolute;
                    top: 0;
                    left: 75px;
                }
                &:nth-child(even) {
                    .timeline-content {
                        float: none;
                        text-align: left;
                    }
                }
            }
            .timeline-circle {
                text-align: center;
            }
        }
    }
}

//Products listing 
.products-listing {
    padding: 0 30px;
    &.rw {
        border: none;
        text-align: center;
        .cl {
            height: auto;
            padding: 10px;
            .cl-body {
                height: auto;
                min-height: 380px;
                border: solid 1px $light-gray;
            }
            h2 {
                text-align: left;
                margin: 0;
                padding: 10px;
                background-color: $light-gray;
            }
            .thumbnail-wrapper {
                width: 100%;
                overflow: hidden;
            }
            .desc {
                text-align: left;
                padding: 10px;
            }
            &:nth-child(4n) {
                border-left: none;
            }
        }
    }
}

//Updates / blog section
.blog-section {
    .tile {
        &.tile-horizontal {
            border-bottom: solid 1px #e0e0e0;
        }
    }
    .rw {
        .cl {

        }
    }
}

//Contact Form
.contact-form-container {
    //border: solid 1px $light-gray;
    &.cl {
        padding: 0;
        //padding: 20px 10px;
    }
}

.search-block {
    position: relative;
    padding: 40px 0;
    @include boxshadow(0, 0, 10px, 0, rgba(0, 0, 0, 0.2));
    background-color: $white;
    .search-form {
        display: block;
        position: relative;
        width: 960px;
        margin: 0 auto;
    }
    input[type="text"],
    input[type="search"] {
        width: 100%;
        border-top: none;
        border-right: none;
        border-left: none;
        border-bottom: solid 1px #111111;
        padding: 20px 30px 20px 0;
        outline: none;
    }
    button {
        position: absolute;
        @include centered-vertical();
        right: 0;
        background-color: transparent;
        border: none;
        outline: none;
        i {
            font-size: 1.375em;
        }
    }
}

.cl-style {
    .cl {
        padding: 10px;
        border-top: solid 1px $light-gray;
        border-right: solid 1px $light-gray;
        border-bottom: solid 1px $light-gray;
        text-align: center;
        &:nth-child(1) {
            border-left: solid 1px $light-gray;
        }
        &:last-child() {
            border-right: solid 1px $light-gray;
        }
    }
}

.styled-loader {
    margin: 20px auto;
    padding: 10px;
    border: solid 1px $light-gray;
    h1 {
        padding: 20px;
        margin-bottom: 10px;
    }
    p {
        padding: 10px;
    }
    h1,
    p {
        position: relative;
        background-color: rgba(0, 0, 0, 0.40);
        &:before {
            @extend .loader-gradient;
        }
    }
}

.styled-box {
    .cl {
        height: 100px;
        padding: 10px;
        font-size: 0;
        position: relative;
        background-color: rgba(0, 0, 0, 0.40);
        &:before {
            @extend .loader-gradient;
        }
    }
}

.styled-box-plain {
    .cl {
        padding: 15px;
        font-size: 0;
        position: relative;
        background-color: rgba(0, 0, 0, 0.40);
        margin-top: percentage(15px/1400px);
        margin-bottom: percentage(15px/1400px);
        &.box {
            height: 100px;
        }
    }
    h1 {
        padding: 20px;
        margin-bottom: 10px;
    }
    p {
        padding: 10px;
    }
    h1,
    p {
        position: relative;
        background-color: rgba(0, 0, 0, 0.40);
    }
}

.styled-box-text {
    .cl {
        padding: 15px;
        position: relative;
        margin-top: percentage(15px/1400px);
        margin-bottom: percentage(15px/1400px);
        border: solid 1px #ccc;
        &.box {
            min-height: 100px;
        }
    }
    h1 {
        padding: 20px;
        margin-bottom: 10px;
    }
    p {
        padding: 10px;
    }
    h1,
    p {
        position: relative;
        background-color: rgba(0, 0, 0, 0.40);
    }
}

.button-wrapper {
    display: block;
    text-align: center;
}

.overlay-content {
    position: absolute;
    width: 100%;
    padding: 10px;
    bottom: -70px;
    left: 0;
    background-color: rgba(0, 0, 0, 0.70);
    z-index: 3;

    -webkit-transition: all .30s ease-in-out;
    -moz-transition: all .30s ease-in-out;
    -ms-transition: all .30s ease-in-out;
    -o-transition: all .30s ease-in-out;
    transition: all .30s ease-in-out;
    .btn {
        display: block;
        margin: 0 auto;
    }
    .details {
        width: 80%;
        @include centered-full();
        text-align: center;
        color: $white;
        p,
        .close-message {
            font-size: 0.875em;
        }
    }
}


.slider-block {
    .slick-list {
        overflow: inherit;
    }
    .slide {
        display: inline-block;
        padding: 10px;
        cursor: pointer; // -webkit-transition: opacity 0.6s ease, -webkit-transform 0.6s ease;
        // -moz-transition: opacity 0.6s ease, transform 0.6s ease;
        // -ms-transition: opacity 0.6s ease, transform 0.6s ease;
        // transition: opacity 0.6s ease, transform 0.6s ease;
        &:hover {
            transform: scale(1.3);
            -webkit-transform: scale(1.3);
            -moz-transform: scale(1.3);
            z-index: 99999;
            background-color: rgba(0, 0, 0, 0.8); //background-color: rgba(215,215,215, 0.85);//#d7d7d7;
            -webkit-transition: background-color 0.3s ease, -webkit-transform 0.3s ease;
            -moz-transition: background-color 0.3s ease, transform 0.3s ease;
            -ms-transition: background-color 0.3s ease, transform 0.3s ease;
            transition: background-color 0.3s ease, transform 0.3s ease;
            .media {
                //@include boxshadow(0, 0, 15px, 2px, rgba(0,0,0,0.40));
                opacity: 1;
                img {
                    opacity: 1;
                }
            }
            .details {
                color: $white;
            }
            .artist-img {
                @include boxshadow(0, 2px, 8px, 0, rgba(0, 0, 0, 0.3));
            }
            &.slick-selected {
                background-color: rgba(0, 0, 0, 0.8);
                .media {
                    @include boxshadow_none(none);
                }
                .details {
                    color: $white;
                }
            }
        }
        &.slick-selected {
            background-color: #d7d7d7;
            .media {
                //@include boxshadow(0, 0, 15px, 2px, rgba(0,0,0,0.60));
            }
        }
        .details {
            text-align: left;
            word-wrap: break-word;
        }
    }
    .slick-prev,
    .slick-next {
        width: 35px;
        height: 35px;
        background-image: none;
        background-color: rgba(0, 0, 0, 0.7);
        font-size: 16px;
        z-index: 1;
        &:before {
            @include centered-full();
            font-family: "FontAwesome";
            font-size: 1.500em;
            font-weight: 700;
            color: $white;
            opacity: 1;
        }
        &.slick-disabled {
            display: none !important;
        }
        &:hover {
            background-color: rgba(0, 0, 0, 1);
            cursor: pointer;
        }
    }
    .slick-prev {
        left: 10px;
        &:before {
            content: "\f104";
        }
    }
    .slick-next {
        right: 10px;
        &:before {
            content: "\f105";
        }
    }
}

.media-container {
    &.media-inline {
        @extend .clearfix;
        .media {
            float: left;
            width: 50%;
            padding: 10px 5px;
            &:first-child() {
                padding-left: 0;
            }
            &:last-child() {
                padding-right: 0;
            }
        }
    }
    &.image,
    &.img-container {
        img {
            min-width: 100%;
            display: inline-block;
            vertical-align: middle;
        }
    }
    .instagram-media {
        display: block;
        margin: 1px auto !important;
    }
}

//Footer
footer {
    display: block;
    position: relative;
    @include flex-justify();
    padding: 0 20px 20px 20px;
    color: $black;
    font-size: 12px;
    background-color: $white;
    z-index: 1; //to cover the sidenav
    @include boxshadow(0, 0, 15px, 0, rgba(0, 0, 0, 0.10)); //@include transitionSpecific(linear, 0.8s);
    transition: margin .5s;
    -webkit-transition: margin .5s;
    -moz-transition: margin .5s;
    .rw {
        width: 85%;
        margin: 0 auto;
        max-width: 1100px;
        .cl {
            &:first-child {
                margin-right: 5%;
                text-align: center;
                .logo {
                    width: 73px;
                    img {
                        height: 70px;
                    }
                }
                .tagline {
                    max-width: 80%
                }
                .logo, .tagline {
                    display: block;
                    margin: 0 auto 20px auto;
                    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
                    filter: grayscale(100%);
                }
                p {
                    line-height: 1;
                }
            }
            h4 {
                margin-top: 30px;
                text-transform: uppercase;
                color: $default-color;
                font-weight: 400;
                font-size: 0.85em;
            }
            ul {
                list-style: none;
                padding-left: 0;
                li {
                    margin-bottom: 10px;
                    text-transform: uppercase;
                    a {
                        color: $black;
                        font-size: 0.85em;
                    }
                }
            }
            &:last-child {
                padding-right: 0;
                .form-group {
                    margin-bottom: 0;
                    width: 100%;
                    padding: 0;
                }
            }
        }
        .cl {
            width: 18%;
        }
    }
    p {
        margin: 0;
        padding: 0;
    }
    nav {
        ul {
            display: inline-block;
            vertical-align: middle;
            list-style: none;
            padding: 0;
            margin: 0;
            li {
                display: inline-block;
                margin-left: 25px;
                a {
                    color: $white;
                    text-transform: uppercase;
                }
            }
        }
    }
    .social-media {
        ul {
            margin-top: 0;
        }
    }
    &.opened {
        display: none;
        margin-left: 350px;
        margin-right: -350px;
        overflow: hidden; //position: fixed;
    }
    input[type=text]:not(.browser-default):focus:not([readonly]) {
        border-color: $default-color;
        box-shadow: none;
    }

    .form-group {
        .suffix {
            width: 4rem;
            ~ input {
                margin-right: 4rem;
                width: calc(100% - 4rem);
            }
        }
    }
}

.ads {
    position: relative;
    background: $white;
    padding: 10px 0;
    text-align: center;
    img {
        max-width: 100%;
        display: inline-block;
        vertical-align: middle;
    }
    &.transparent {
        background-color: transparent;
    }
}

.bg-loader {
    min-height: 100px;
    background-repeat: no-repeat;
    background-position: center center;
}

//Forms
.video-container {
    position: relative;
    overflow: hidden;
    @extend .bg-loader;
    &.youtube,
    &.brightcove {
        padding-bottom: 56.25%;
        padding-top: 30px;
        height: 0;
        overflow: hidden;
        @extend .bg-loader;
        iframe,
        object,
        embed {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    } 
    &.facebook {
        position: relative;
        font-size: 0;
        padding-bottom: 100%;
        &.squareSize {
            padding-bottom: 100%;
            iframe {
                left: 0;
                top: 0;
                height: 100%;
                width: 100%;
                position: absolute;
            }
        }
        &.landscapeSize {
            height: 0;
            padding-bottom: 55%;
            iframe {
                left: 0;
                top: 0;
                height: 100%;
                width: 100%;
                position: absolute;
            }
        }
        iframe {
            display: block;
            margin: 0 auto;
            position: relative; 
        }
    }
}

.article-list-page {
    .banner-section {
        .tile-body {
            background-color: rgba(0,0,0,0.4);
            position: relative;
            overflow: hidden;
            &:before { 
                @extend .loader-gradient;
            }
            img, .floated-content {
                z-index: 1;
            }
            img {
                position: relative;
            }
        }
    }
}

//Row Container 
.row-certification {
    padding-top: 40px;
    text-align: left;
    padding-left: 4px;
    .desc {
        padding-top: 20px;
        line-height: 1;
        small {
            font-weight: 500;
        }
    }
    .cl {
        border-left: solid 1px #bdbdbd;
        .logo {
            max-width: 50%;
            display: inline-block;
            margin-left: -3px;
            &:first-child {
            }
            &.special {
                max-width: 180px;
            }
        }
        &:last-child {
            //padding-right: fluidity(15px, 1440px);
        }
    }
}

//Lightbox
.lightbox,
#lightbox {
    display: none;
    width: 100%;
    height: 100%;
    overflow: scroll;
    position: fixed;
    z-index: 1050;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    outline: 0;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.85);
    -webkit-overflow-scrolling: auto;
    overflow: auto;
    .btn-close {
        color: $black;
        position: absolute;
        top: 5px;
        right: 15px;
        font-size: 45px;
        display: inline-block;
        text-decoration: none;
        font-weight: 600;
        &:hover {
            opacity: 0.8;
        }
    }
    .lightbox-content {
        position: relative;
        width: 600px;
        max-width: 90%;
        margin: 7% auto;
        padding: 15px 20px;
        background-color: #fff;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

        overflow-scrolling: touch !important;
        -webkit-overflow-scrolling: touch !important;
        apple-overflow-scrolling: touch !important;

        -webkit-transform-origin: bottom center;
        transform-origin: bottom center;
        -webkit-animation: fade-in-pulse-08 .3s forwards cubic-bezier(.8, .02, .45, .91);
        animation: fade-in-pulse-08 .3s forwards cubic-bezier(.8, .02, .45, .91);

        &.no-padding {
            padding: 0;
            .lightbox-body {
                padding: 0;
            }
            .content-body {
                padding: 15px 20px 30px 20px;
            }
        }
        img {
            max-width: 100%;
        }
        .header-title {
            h1 {
                font-size: 2.000em;
            }
        }
    }
    .lightbox-body {
        padding: 10px 0px;
        img {
            max-width: 100% !important;
            height: auto !important;
            min-height: 50px;
            min-width: 50px;
            @extend .bg-loader;
        }
        .content-body {
            p {
                margin-bottom: 0;
            }
        }
    }
    &.visible {
        display: block;
    }
    &.lightbox-search {
        .content {
            margin-top: 150px;
        }
        section {
            max-width: 750px;
            padding-bottom: 0;
            padding-top: 0;
            background-color: rgba(0,0,0,0.8);
        }
        .lightbox-content {
            background-color: transparent;
            @include boxshadow_none(none);
        }
        .form-group {
            input[type="text"] {
                color: $white;
                font-size: 20px;
                padding-left: 0;
            }
        }
        .form-search {
            &.form-group {
                &.suffix-absolute {
                    .suffix {
                        &.la {
                            color: $white;
                            font-size: 34px;
                            &:hover {
                                color: $color-default;
                            }
                        }
                    }
                }
                label {
                    height: auto;
                    font-size: 20px;
                    color: $white !important;
                    transform: translateX(0);
                    &.active {
                        display: none;
                    }
                }
            }
        }
        .btn-close {  
            top: -54px;
            right: 0;
            color: #fff;
            background-color: transparent;
            border: none;
            font-weight: 100;
            font-size: 30px;
            padding: 10px;
            margin: 0;
        }
    }
    &.lightbox-loader {
        background-color: #000;
        background-color: rgba(0, 0, 0, 0.85);
        .lightbox-content {
            background-color: transparent;
            text-align: center;
            box-shadow: none;
            webkit-box-shadow: none;
            moz-box-shadow: none;
            &:before {
                content: none;
            }
            img {
                width: 60px;
                opacity: 0.95;
                border: solid 2px #363636;
                border-radius: 10px;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
            }
        }
    }
    &.tac-lightbox {
        h1 {
            margin: 25px 0;
        }
        .lightbox-content {
            padding: 0;
        }
        .content-body {
            margin: 15px 20px;
            max-height: 360px;
            overflow: auto;
        }
    }
    &.secondary-lightbox {
        .lightbox-body {
            padding: 80px 0;
            text-align: center;
        }
    }
}

.lightbox-open {
    overflow: hidden !important;
    -webkit-overflow-scrolling: auto;
    .main-container {
        overflow: auto;
    }
    .lightbox {
        position: fixed;
        -webkit-overflow-scrolling: auto!important;
    }
}

.search-icon-container {
    @include centered-vertical();
    right: 40px;
    width: 40px;
    margin-top: 0px;
    margin-bottom: 0;
    background-color: $white;
    border: none;
    -webkit-transition: width 0.15s ease-in-out;
    transition: width 0.15s ease-in-out; 
    z-index: 2;
    i {
        font-size: 30px;
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        cursor: pointer;
        &:hover {
            color: $color-default;
        }
    }
    &.suffix-absolute {
        .suffix {
            ~ label {
                color: $black !important;
                transform: translateX(12px);
                top: 25%;
                padding-left: 0 !important;
                &.active1 {
                    position: absolute;
                    margin: 0;
                    top: 0;
                    right: 0;
                    left: auto;
                    height: 100%;
                    width: 40px;
                    padding-left: 0;
                    transform: none;
                    background-color: rgba(255,255,255,1);
                    cursor: pointer;
                    font-size: 0;
                    &:after {
                        //@include centered-vertical();
                        //left: 17%;
                        top: 15%;
                        font: normal normal normal 16px/1 "LineAwesome";
                        //font-family: "LineAwesome";
                        content: "\f2eb";
                        margin-top: 0;
                        font-size: 28px;
                        color: $black;
                        z-index: 2;
                        opacity: 1;
                        -webkit-transform: scaleX(-1);
                        transform: scaleX(-1);
                    }
                }
            }
            &.la {
                top: 0;
                width: 34px;
                height: 100%;
                font-size: 30px;
                font-family: "LineAwesome";
                color: rgba(0,0,0,0.55);
                cursor: pointer;
                &:hover {

                }
                &:before {
                    display: inline-block;
                    vertical-align: middle;
                    margin-top: 5px;
                    margin-right: 2px;
                    right: 0;
                    -webkit-transform: scaleX(-1);
                    transform: scaleX(-1);
                }
            }
        }
    }
}

.search-results-block {
    //display: none;
    position: relative;
    width: 100%;
    z-index: 1050;
    background-color: $white;
    .close-link {
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 2em;
        font-weight: 100;
        color: $black1;
        z-index: 1;
    }
    &.search-results {
        .search-block {
            @include boxshadow_none(none);
        }
        .shows-container {
            margin-top: 0;
            &:before {
                @include boxshadow_none(none);
            }
        }
    }
}

.search-results-details {
    margin-bottom: 20px;
}

.contact {
    .section-head {
        padding: 0;
        .form-email {
            padding: 0;
            width: 300px;
        }
    }
    .map {
        padding: 15px;
        .embed-wrapper {
            background-color: $gray;
            iframe {
                width: 100% !important;
            }
        }
    }
}

.contact-details {
    margin-bottom: 20px !important;
    text-align: left;
    .highlighted {
        color: $color-default;
        font-weight: 700;
    }
    p {
        margin: 2px 0;
    }
}


.social-media {
    display: inline-block;
    vertical-align: middle;
    ul {
        display: inline-block;
        vertical-align: middle;
        li {
            margin: 0;
            a {
                margin: 0 3px;
                padding: 5px;
                font-size: 1.375em;
                @include transitionSpecific(linear, 0.8s);
                &:hover {
                    .fab {
                        // transform: scale(1.2);
                        // -webkit-transform: scale(1.2);
                        // -moz-transform: scale(1.2);
                    }
                    .fa-facebook-f {
                        color: $facebook;
                    }
                    .fa-twitter {
                        color: $twitter;
                    }
                    .fa-instagram {
                        color: $instagram;
                    }
                    .fa-youtube {
                        color: $youtube;
                    }
                }
            }
        }
    }
    .title {
        color: $white;
        display: inline-block;
        vertical-align: middle;
    }
    &.circle {
        ul {
            li {
                display: inline-block;
                a {
                    position: relative;
                    display: block;
                    width: 40px;
                    height: 40px;
                    @include borderradius(50%);
                    background-color: $gray2;
                    overflow: hidden;
                    i {
                        @include centered-full();
                        color: $white;
                    }
                    &:hover {
                        background-color: $gray;
                    }
                }
            }
        }
    }
}

.loader-gradient-container {
    .banner-block {
        position: relative;
        overflow: hidden;
        background-color: rgba(0, 0, 0, 0.5);
        &:before {
            @extend .loader-gradient;
        }
        h2,
        p {
            position: relative;
            overflow: hidden;
            background-color: rgba(0, 0, 0, 0.2);
            text-indent: -9999px;
            margin: 10px auto;
            &:before {
                @extend .loader-gradient;
            }
        }
        h2 {
            width: 50%;
        }
        p {
            width: 70%;
        }
        &.banner-show,
        &.banner-show-inner {
            .grid-cell {
                text-align: left;
            }
            h2,
            p {
                margin: 10px;
            }
            .show-logo {
                width: 100%;
                background-color: rgba(0, 0, 0, 0.2);
                height: 150px;
            }
        }
    }
    .btn {
        position: relative;
        overflow: hidden;
        text-indent: -9999px;
        &:before {
            @extend .loader-gradient;
        }
    }
    .shows-container {
        .grid-margin-2 {
            .grid-cell {
                position: relative;
                overflow: hidden;
                background-color: $gray2;
                &:after {
                    @extend .loader-gradient;
                }
            }
        }
        .title-container {
            p {
                display: block;
                width: 70%;
                margin: 15px auto;
                text-indent: -99999px;
                background-color: rgba(0, 0, 0, 0.15);
            }
        }
    }
    .show-details-block {
        .content {
            text-indent: -9999px;
            h2,
            p {
                position: relative;
                overflow: hidden;
                background-color: rgba(0, 0, 0, 0.15);
                text-indent: -9999px;
                margin: 10px auto;
                width: 70%;
                &:before {
                    @extend .loader-gradient;
                }
            }
        }
    }
    .custom-select {
        overflow: hidden;
        background-color: rgba(0, 0, 0, 0.10);
        border-color: rgba(0, 0, 0, 0.15);
        &:before {
            @extend .loader-gradient;
        }
        .select-selected {
            background-color: rgba(0, 0, 0, 0.10);
            &:before {
                border-color: rgba(0, 0, 0, 0.15);
            }
        }
    }
    .contestant-block {
        text-indent: -9999px;
        .media {
            width: 100%;
            height: 170px;
            background-color: rgba(0, 0, 0, 0.2);
            overflow: hidden;
            &:before {
                @extend .loader-gradient;
            }
            img {
                display: none;
            }
        }
        p {
            background-color: rgba(0, 0, 0, 0.15);
        }
    }
    .media-container {
        width: 100%;
        height: 200px;
        background-color: rgba(0, 0, 0, 0.15);
    }
    .candidate-profile {
        .grid-2 {
            background-color: rgba(0, 0, 0, 0.15);
        }
    }
}


//Bars
.bar-container {
    display: block;
    min-width: 188px;
    .bar-item {
        margin-left: 4px;
        line-height: 0.70;
        .bar-label {
            width: 30%;
            font-size: 0.55em;
            font-weight: 600;
            text-transform: uppercase;
        }
        .bar-wrapper { 
            width: 70%;
            .bar {
                display: block;
                background-color: $default-color;
                height: 8px;
                animation: width-expand 1.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
            }
        }
        .bar-label, .bar-wrapper {
            display: inline-block;
            vertical-align: middle;
            margin-left: -4px;
        }
        //Bar colors
        &.bar-1 {
            .bar-wrapper {
                .bar {
                    background-color: #eed6b0;
                }
            }
        }
        &.bar-2 {
            .bar-wrapper {
                .bar {
                    background-color: #8aa586;
                }
            }
        }
        &.bar-3 {
            .bar-wrapper {
                .bar {
                    background-color: #6f3b26;
                }
            }
        }
        &.bar-4 {
            .bar-wrapper {
                .bar {
                    background-color: #ffd834;
                }
            }
        }
        &.bar-5 {
            .bar-wrapper {
                .bar {
                    background-color: #554f6b;
                }
            }
        }
        &.bar-6 {
            .bar-wrapper {
                .bar {
                    background-color: #e74f4c;
                }
            }
        }
        &.bar-7 {
            .bar-wrapper {
                .bar {
                    background-color: #ad8a60;
                }
            }
        }
    }
}

.droplets-container {
    min-width: 130px;
    .droplet {
        display: inline-block;
        vertical-align: middle;
        width: 22px;
        height: 22px;
        border-radius: 0 50% 50% 50%;
        border: 1px solid $gray;
        transform: rotate(45deg);
        &.filled {
            background-color: #582719;
        } 
    }
    &.drop1 {
        .droplet {
            &:first-child() {
                background-color: #582719;
            }
        }
    }
    &.drop2 {
        .droplet {
            &:first-child(), &:nth-child(2) {
                background-color: #582719;
            }
        }
    }
    &.drop3 {
        .droplet {
            &:first-child(), &:nth-child(2), &:nth-child(3) {
                background-color: #582719;
            }
        }
    }
    &.drop4 {
        .droplet {
            &:first-child(), &:nth-child(2), &:nth-child(3), &:nth-child(4) {
                background-color: #582719;
            }
        }
    }
    &.drop5 {
        .droplet {
            &:first-child(), &:nth-child(2), &:nth-child(3), &:nth-child(4), &:nth-child(5) {
                background-color: #582719;
            }
        }
    }
}
.tear {
    margin: -0.125em;
    width: 0.25em;
    height: 0.25em;
    border-radius: 50%;
    background-color: red;
}

.drop-item {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 4px solid;
    margin: 80px auto;
    position: relative;
    &:before,
    &:after {
        content: "";
        display: block;
        position: absolute;
        width: 0;
        height: 0;
    }
    &:before {
        border-left: 50px solid transparent;
        border-right: 50px solid transparent;
        border-bottom: 104px solid black;
        top: -75px;
    }
    &:after {
        border-left: 46px solid transparent;
        border-right: 46px solid transparent;
        border-bottom: 96px solid #fff;
        top: -66px;
        left: 0;
        right: 0;
        margin: auto;
        z-index: 1;
    }
}

.drop-item2 {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 4px solid;
  background: red;
  margin: 80px;
  position: relative;
}
.drop-item2:before,
.drop-item2:after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
}
.drop-item2:before {
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid black;
  top: -70px;
}
.drop-item2:after {
  border-left: 46px solid transparent;
  border-right: 46px solid transparent;
  border-bottom: 96px solid red;
  top: -66px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 1;
}

//Chart container
.chart-container {
    margin-top: 30px !important;
    margin-bottom: 30px !important;
    text-align: center;
    label {
        display: block;
        margin-bottom: 10px;
        text-transform: uppercase;
        font-size: 0.85em;
    }
}

//Thumb desc
.thumb-desc {
    img, label {
        display: inline-block;
        vertical-align: middle;
    }
    img {
        width: 50px;
        height: 50px;
        object-fit: cover;
        margin-right: 5px;
    }
    .img-wrapper {
        display: inline-block;
        width: 50px;
        height: 50px;
        background-color: rgba(0,0,0,0.35);
        @include borderradius(50%);
    }
    &.circle {
        img {
            @include borderradius(50%);
        }
    }
}

//Div Table
/* DivTable.com */
.divTable{
    display: table;
    width: 100%;
}
.divTableRow {
    display: table-row;
}
.divTableHeading {
    background-color: transparent;
    display: table-header-group;
}
.divTableCell, .divTableHead {
    border-bottom: 1px solid #d9d5d2;
    display: table-cell;
    padding: 10px 5px 10px 0;
}
.divTableCell {
    vertical-align: middle;
    h3 {
        text-transform: uppercase;
        color: #793824;
        margin: 0;
        font-weight: 600;
    }
    p {
        margin: 0;
        font-size: 0.85em;
        line-height: 1.2;
    }
    .circle-progress {
        min-width: 64px;
    }
    .thumb-desc {
        .img-wrapper {
            margin-right: 4px;
        }
    }
    
}
.divTableHeading {
    background-color: transparent;
    display: table-header-group;
    font-weight: 500;
    font-size: 0.85em;
    text-transform: uppercase;
    color: #5c472a;
}
.divTableFoot {
    background-color: #EEE;
    display: table-footer-group;
    font-weight: 500;
}
.divTableBody {
    display: table-row-group;
}

.product-sidebar {  
    display: none !important; 
    padding: 0 15px;
    text-align: left;
    border: solid 1px $gray;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.08);
    //min-width: 250px;
    h3 {
        padding-bottom: 10px;
        border-bottom: solid 1px $gray;
        a {
            color: $black;
        }
        &:last-child {
            border-bottom: none;
            border-top: solid 1px $gray;
            padding-bottom: 0;
            padding-top: 10px;
        }
    }
}
.product-item-list {
    font-size: 14px;
    list-style: none;
    padding-left: 0;
    text-align: left;
    .product-item {
        font-weight: 500;
        margin-bottom: 15px;
        ul {
            padding-left: 40px;
            list-style-type: disc;
            li {
                font-weight: 300;
                a {
                    display: block;
                    padding: 4px 0;
                    color: $black;
                }
            }
        }
        a {
            color: $black;
        }
    }
}

.search-results {
    .header-title {
        font-size: 36px;
    }
}

.signup-form {
    max-width: 500px;
    margin: 40px auto !important;
}

.subscribe-wrapper {
    .form-group {
        width: 350px;
        padding: 0;
        .suffix {
            width: 4rem;
            ~ input {
                margin-right: 4rem;
                width: calc(100% - 4rem);
            }
        }
    }
}



.grid-wrapper {
    display: grid;
    grid-gap: 0;
    background-color: #fff;
    color: #444;
    width: 100%;
    &.grid-3 {
        grid-template-columns: percentage(720px/1440px) percentage(360px/1440px) percentage(360px/1440px);
        height: 450px;
        &:has(.grid-box) {
            border: solid 1px red;
        }
    }
    &.grid-3:has(+ .grid-box) {
        border: solid 1px red;
    }
    &.grid-3:not(:empty) {
        //border: solid 1px red;
    }
    &.grid-3:has(:nth-last-child(3)) {
        border: solid 1px red;
    }
    /*&.grid-3 .grid-box:nth-child(n + 2)  ~ .grid-3 {
        border: solid 1px red;
    }*/
}

.grid-box {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 0;
    font-size: 150%;
    .bg-image { 
        background-repeat: no-repeat;
        background-position: 50%;
        background-size: cover;
        height: 100%;
        width: 100%;
    }
    &:nth-child(1) {
        grid-column: 1;
        grid-row: 1/3;
    }
    &:nth-child(2) {
        grid-column: 2 ;
        grid-row: 1;
    }
    &:nth-child(3) {
        grid-column: 2 ;
        grid-row: 2 ;
    }
    &:nth-child(4) {
        grid-column: 3;
        grid-row: 1;
    }
    &:nth-child(5) {
        grid-column: 3;
        grid-row: 2;
    }

    /* three items */
    &:first-child:nth-last-child(3),
    &:first-child:nth-last-child(3) ~ .grid-box {
        //width: 50%;
        //border: solid 1px red;
    }
    &:first-child:nth-last-child(3) ~ .grid-box ~ .grid-3 {
        //grid-template-columns: 50% 50% 50%;
        //border: solid 1px blue;
    }
}

/*.a {
    grid-column: 1;
    grid-row: 1/3;
}
.b {
    grid-column: 2 ;
    grid-row: 1;
}
.c {
    grid-column: 2 ;
    grid-row: 2 ;
}
.d {
    grid-column: 3;
    grid-row: 1;
}
.e {
    grid-column: 3;
    grid-row: 2;
}*/


@-webkit-keyframes pulse-shadow {
    0% {
        -webkit-box-shadow: 0 0 14px rgba(0, 0, 0, 0.2);
    }
    50% {
        -webkit-box-shadow: 0 0 14px rgba(0, 0, 0, 0.99);
    }
    100% {
        -webkit-box-shadow: 0 0 14px rgba(0, 0, 0, 0.2);
    }
}

@keyframes pulse-shadow {
    0% {
        box-shadow: 0 0 14px rgba(0, 0, 0, 0.2);
    }
    50% {
        box-shadow: 0 0 14px rgba(0, 0, 0, 0.99);
    }
    100% {
        box-shadow: 0 0 14px rgba(0, 0, 0, 0.2);
    }
}

@-webkit-keyframes pulse-shadow-white {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(217, 217, 217, .9);
        box-shadow: 0 0 0 0 rgba(217, 217, 217, .9);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(217, 217, 217, 0);
        box-shadow: 0 0 0 10px rgba(217, 217, 217, 0);
    }

    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(217, 217, 217, 0);
        box-shadow: 0 0 0 0 rgba(217, 217, 217, 0);
    }
}

@keyframes pulse-shadow-white {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(217, 217, 217, .9);
        box-shadow: 0 0 0 0 rgba(217, 217, 217, .9);
    }
    70% {
        -webkit-box-shadow: 0 0 0 10px rgba(217, 217, 217, 0);
        box-shadow: 0 0 0 10px rgba(217, 217, 217, 0);
    }

    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(217, 217, 217, 0);
        box-shadow: 0 0 0 0 rgba(217, 217, 217, 0);
    }
}