///////////////////
// Media Queries //
///////////////////

   

//Large Device
@media (min-width: 1281px) {
    section {
        max-width: 1280px;
        &.banner-section {
            &.banner-home {
                max-width: 100%;
            }
        }
        &.breaker-section {
            &.breaker-default {
                max-width: 100%;
            }
        }
        &.section-80 {
            &>.rw {
                width: 100%;
                max-width: 1200px;
            }
        }
        &.banner-secondary, &.banner-section.banner-default {
            max-width: 100%;
        }
    }
    .rw-80 {
        width: 100%;
        max-width: 1200px;
    }
    .default-section {
        .cl {
            .thumbnail {
                height: 300px;
            }
        }
    }
    .tile-body {
        h2 {
            font-size: 1.75em;
        }
    }
    .tile-footer {
        p {
            font-size: 1em;
        }
    }
    .banner-section {
        &.banner-default {
            .floated-content {
                >img {
                    max-width: 380px;
                }
            }
        }
    }
}	

//Larger Device
@media (min-width: 1600px) {
    section {
        max-width: 100%;
        &.section-80 {
            &>.rw {
                width: 100%;
                max-width: 1300px;
            }
        }
    }
    .rw-80 {
        width: 100%;
        max-width: 1300px;
    }
    .default-section {
        .title {
            width: 100%;
            max-width: 1300px;
        }
    }
    .carousel-secondary {
        .cl {
            .thumbnail {
                height: 400px;
            }
        }
    }
    footer {
        .rw {
            max-width: 1400px;
        }
    }
}

// Largest devices
@media (max-width: $screen-lg) {

}

@media (min-width: 960px) {

}

@media (max-width: 1200px) {
	header {
		position: fixed;
		width: 100%;
		top: 0;
		z-index: 600;
		@include boxshadow(0, -3px, 15px, 6px, rgba(0,0,0,0.15));
		.menu {
			//display: none;
			max-height: 0;
			position: absolute;
			width: 100%;
			padding: 0 20px;
			background-color: #2c2c2c;

			-webkit-transform: perspective(400) rotate3d(1,0,0,-90deg);
		    -moz-transform: perspective(400) rotate3d(1,0,0,-90deg);

		    -webkit-transform-origin: 50% 0;
		    -webkit-transition: 350ms;
		    -moz-transition: 350ms;
		    -o-transition: 350ms;
		    transition: 350ms;
			nav {
			    transform-style: none;
			    -ms-perspective: none;
			    perspective: none;
				&>ul {
					li { 
						display: block;
						text-align: left;
						border-bottom: solid 1px #c6baa8;
						&:last-child() {
							border-bottom: none;
						}
						a {
							padding: 15px 0;
							line-height: 17px;
							font-family: $font-primary;
							color: $white;
						}

						&:hover {
							ul {
								display: none;
							}
						}
					}
				}
			}
		}
		.logo {
		    //width: 90px; //100px
    		//left: 70px;
    		.fonticon-metro-style-logo {
    			font-size: 70px;
    		}
    	}
		.profile {
			.icon-wrapper {
			    width: 40px;
			}
			.profile-links {
				padding: 6px 10px;
			}
		}
		.nav-right {
		    //padding: 6px 0;
		}
	}	
    footer {
        .rw {
            width: 100%;
            .cl {
                width: 50%;
                &:first-child {
                    width: 100%;
                    margin-right: 0;
                    margin-bottom: 20px;
                }
            }
        }
    }
}

// Large devices
@media (max-width: $screen-md) {
	footer {
		display: block;
		text-align: center;
		p {
			margin-bottom: 10px;
		}
		nav {
			ul {
				li {
					margin: 0px 10px;
				}
			}
		}
        .rw {
            width: 100%;
            .cl {
                width: 100%;
                &:first-child {
                    width: 100%;
                    margin-right: 0;
                    margin-bottom: 20px;
                    .logo {
                        img {
                            height: 90px;
                        }
                    }
                }
            }
        }
        .social-media {
            margin-top: 10px;
            .title {
                display: block;
            }
            ul {
                display: block;
            }
        }
	}
    .products-section {
        //Grids
        .cl { 
            &-1 {
                >.cl {
                    width: percentage(1400px/1400px);
                }
            }
            &-2 { 
                width: percentage(466.66px/1400px);
                >.cl {
                    width: percentage(700px/1400px); //width: percentage(700px/1400px);
                }
            }
            &-3 {
                >.cl {
                    
                }
            }
            &-4 { 
                >.cl {
                    width: percentage(700px/1400px);
                }
            }
            &-5 {
                >.cl {
                    width: percentage(280px/1400px);
                }
            }
            &-6 {
                >.cl {
                    width: percentage(466.66px/1400px);
                }
            }
            &-7 {
                >.cl {
                    width: percentage(200px/1400px);
                }
            }
            &-8 {
                >.cl {
                    width: percentage(175px/1400px);
                }
            }
            &-9 {
                >.cl {
                    width: percentage(155.55px/1400px);
                }
            }
            &-10 {
                width: percentage(933.34px/1400px);
                >.cl {
                    //width: percentage(140px/1400px);
                }
            }
            &-11 {
                >.cl {
                    width: percentage(127.27px/1400px);
                }
            }
            &-12 {
                >.cl {
                    width: percentage(116.66px/1400px);
                }
            }

        }
    }
}

// Medium devices
@media (max-width: $screen-sm) {
	header {
        &.main {
            height: 60px;
        }
        .logo {
            margin: 0;
        }
        .tagline {
            font-size: 0.85em;
            margin: 0 auto;
            img {
                max-width: 150px;
            }
        }
        nav {
            /*display: none;
            position: absolute;
            top: 60px;
            margin: 0;
            width: calc(100% - 120px);
            right: 0;
            background-color: $white;
            box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.18);
            li {
                display: block;
                width: 100%;
                text-align: left;
                margin-left: 0;
                a {
                    padding: 15px 15px;
                }
            }*/
            position: fixed;
            top: 57px;
            max-width: 350px;
            width: 100%;
            height: 100vh;
            padding-right: 0;
            z-index: 3;
            right: -350px;
            transition: all 0.3s ease;
            background-color: $white;
            box-shadow: 0 100px 100px 0 rgba(0, 0, 0, 0.20);
            .nav-menu {
                padding-right: 0;
                height: calc(100vh - 80px);
                overflow-y: scroll;
                //border: solid 1px red;
                li {
                    display: block;
                    width: 100%;
                    text-align: left;
                    margin-left: 0;
                    a {
                        padding: 15px 15px;
                    }
                }
                &>li {
                    &>a {
                        font-weight: 700;
                    }
                }
                .with-dropdown, .has-submenu {
                    .dropdown, &>.level-1, &>.level-2 {
                        display: block;
                        position: relative;
                        box-shadow: none;
                        border: none;
                        li {
                            border: none;
                        }
                        a {
                            padding: 10px 20px 10px 35px;
                        }
                    }
                    a:before {
                        content: none;
                    }
                    &>a {
                        font-weight: 700;
                    }
                }
            }

        }
        .form-search {
            &.form-group {
                position: fixed;
                top: 28px;
                right: 55px;
                &.suffix-absolute {
                    .suffix {
                        &.la {
                            color: $black;
                        }
                    }
                }
            }
        }
        .burgernav {
            display: block;
            @include centered-vertical();
            left: auto;
            right: 0;
        }
	}
    .wrapper {
        padding-top: 60px;
    }
    .main-container {
        padding-top: 10px;
    }
    .search-icon-container {
        position: fixed;
        top: 28px;
        right: 60px;
        &.suffix-absolute {
            .suffix {
                &.la {
                    color: $black;
                }
            }
        }
    }
    section {
        &.section-80 {
            >.rw {
                width: 100%;
            }
        }
        &.products-section {
            &.section-80 {
                &.section-max {
                    padding-left: 30px;
                    padding-right: 30px;
                }
            }
        }
    }
    .article-section {
        .article-block {
            padding: 10px 20px;
        } 
    }
    .article-body {
        .social-media {
            position: relative;
            top: 0;
            left: 0;
            &.circle {
                ul {
                    padding-left: 0;
                    li {
                        display: inline-block;
                    }
                }
            }
        }
        video, iframe {
            max-width: 100% !important;
        }
    }

    .products-section {
        &.product-subpage-section {
            .cl {
                &:nth-child(4n) {
                    border-left: none;
                }
            }
        }
    }

    .divTable {
        &.responsiveTable {
            .divTableHeading {
                display: none;
            }
            .divTableCell {
                position: relative;
                width: 100%;
                display: block;
                font-size: 0;
                padding-right: 8px;
                padding-left: 8px;
                &:before {
                    content: attr(data-title);
                    /* Now like a table header */
                    position: relative;
                    display: inline-block;
                    width: 40%;
                }
                &>div, &:before {
                    display: inline-block;
                    vertical-align: top;
                    font-size: 14px;
                    text-align: left;
                }
                &>div {
                    width: 60%;
                    padding-left: 10px; 
                }
                .bar-container {
                    min-width: inherit;
                }
            }
            .divTableRow {
                display: block;
                //border-bottom: solid 2px rgba(0,0,0,0.45);
                .divTableCell {
                    &:last-child {
                        //border-bottom: none;
                    }
                }
                &:nth-child(even) {
                    background-color: rgba(0,0,0,0.03);
                }
            }
            .circular-progress {
                margin: 0 !important;
            }
        }
    }

    table {
        &.responsive-table {
            display: block;

            /* Force table to not be like tables anymore */
            thead,
            tbody,
            th,
            td,
            tr {
                display: block;
            }

            /* Hide table headers (but not display: none;, for accessibility) */
            thead tr {
                position: absolute;
                top: -9999px;
                left: -9999px;
            }

            tbody {
                tr {
                    border: 1px solid #ccc;
                }

                td {
                    /* Behave  like a "row" */
                    border: none;
                    position: relative;
                    padding-left: 50%;
                    padding-top: 10px;
                    padding-bottom: 10px;

                    &.team {
                        height: 45px;

                        img {
                            width: auto;
                        }

                        .team-a {
                            margin-left: -10px;
                            min-width: auto;
                            width: auto;
                        }

                        .versus {
                            margin: 15px 10px 0 10px;
                        }

                        .team-name {
                            display: none;
                        }
                    }
                }
            }


            td:before {
                /* Now like a table header */
                position: absolute;
                /* Top/left values mimic padding */
                top: 25%;
                left: 10px;
                width: 45%;
                padding-right: 10px;
                white-space: nowrap;
                font-weight: 700;
                text-transform: uppercase;
                font-size: 14px;
            }

            /*
            Label the data
            */
            td:nth-of-type(1):before {
                content: "Date";
            }

            td:nth-of-type(2):before {
                content: "Venue";
            }

            td:nth-of-type(3):before {
                content: "Teams";
            }

            td:nth-of-type(4):before {
                content: "Tournament";
            }

            td:nth-of-type(5):before {
                content: "Results";
            }
        }
    }

    //Grids
    .cl { 
        &-1 {
            >.cl {
                width: percentage(1400px/1400px);
            }
        }
        &-2 {
            >.cl {
                width: percentage(700px/1400px);
            }
        }
        &-3 {
            >.cl {
                width: percentage(700px/1400px);
            }
        }
        &-4 { 
            >.cl {
                width: percentage(700px/1400px);
            }
        }
        &-5 {
            >.cl {
                width: percentage(280px/1400px);
            }
        }
        &-6 {
            >.cl {
                width: percentage(466.66px/1400px);
            }
        }
        &-7 {
            >.cl {
                width: percentage(200px/1400px);
            }
        }
        &-8 {
            >.cl {
                width: percentage(175px/1400px);
            }
        }
        &-9 {
            >.cl {
                width: percentage(155.55px/1400px);
            }
        }
        &-10 {
            >.cl {
                width: percentage(140px/1400px);
            }
        }
        &-11 {
            >.cl {
                width: percentage(127.27px/1400px);
            }
        }
        &-12 {
            >.cl {
                width: percentage(116.66px/1400px);
            }
        }

    }
}

// Small devices
@media (max-width: $screen-xs) {
    header {
        .logo {
            width: 60px;
            img {
                max-width: 110px;
            }
        }
        .tagline {
            left: calc(5% + 75px);
            img {
                max-width: 130px;
            }
        }
        nav {
            width: calc(100% - 80px);
            .nav-menu {
                
            }
        }
        
        .burgernav {
            right: 0;
            padding: 18px 14px;
        }
    }
    .main-container {
        padding-top: 0;
    }
    .header-subnav {
        &.nav-menu {
            padding-top: 25px;
        }
    }
    .banner-section {
        &.banner-default {
            &.banner-home {
                .bg {
                    top: -18%;
                    height: 140%;
                }
            }
        }
    }
    section {
        padding: 20px;
        .section-title {
            font-size: 2em;
        }
        &.section-80 {
            &.padded-lg {
                padding: 12vh 30px;
                &.products-section {
                    padding: 12vh 17px;
                }
            }
        }
        &.products-section {
            &.section-80 {
                &.section-max {
                    padding-left: 20px;
                    padding-right: 20px;    
                }
            }
        }
        .section-head {
            .desc {
                font-size: 1.1em;
            }
        }
    }
    .rw-80 {
        width: 90%;
    }
    .default-section {
        .subtitle {
            font-size: 2em;
        }
    }
    .form-search {
        &.form-group {
            //right: 62px;
        }
    }
    .article-header {
        h1 {
            font-size: 2.0em;
        }
    }
    sidebar {
        width: 100%;
        .sidebar-header {
            width: 100%;
        }
    }
    .banner-section {
        &.banner-home.banner-default {
            .carousel, .info-container {
                width: 100%;
            }
            .carousel {
                height: 55vh;
            }
            .info-container {
                height: auto;
                .content {
                    width: 95%;
                    position: relative;
                    @include centered-reset();
                    margin: 0 auto;
                }
            }
            .tile-body {
                height: 55vh;
                .thumbnail {
                    height: 55vh;
                }
            }
            .tile.tile-magazine {
                .tile-body {
                    .floated-content {
                        p {
                            font-size: 0.85em;
                        }
                    }
                }
            }
            .btn-down {
                padding: 10px 40px;
            }
            .slick-dots {
                display: none !important;
            }
        }
        &.banner-subpage {
            padding: 30px 10px;
            background-position: 50% 100px;
            background-repeat: no-repeat;
            background-size: 180px;
            .cl {
                text-align: center;
                h1, h2 {
                    font-size: 1.65em;
                }
            }
        }
        &.banner-default {
            .carousel {
                height: 50vh;
                .floated-content {
                    bottom: 20%;
                    >img {
                        max-width: 220px;
                    }
                }
            }
            .tile-body {
                .thumbnail {
                    height: 50vh;
                }
            }
        }
    }

    //positioning
    .products-section {
        .cl {
            height: auto;
            padding: 10px 15px;
            .tile {
               
            }
            .tile-footer {
                h2 { 
                    font-size: 1.25em;
                }
            }
        }
        .cl-4 {
            &>.cl {
                width: 100%;
                margin-bottom: 10px;
            }
        }
        .tile {
            font-size: 0;
            .tile-body, .tile-footer {
                display: inline-block;
                width: 50%;
                vertical-align: top;
                font-size: 14px;
                text-align: left;
            }
            .tile-footer {
                padding-top: 5px;
                padding-left: 10px;
                >p {
                    display: none;
                }
            }   
            .tile-body {
                .thumbnail {
                    height: 120px;
                }
            }
        }
        &.default-section {
            .title {
                text-align: center;
                font-size: 16px;
            }
        }

        .carousel-default {
            .slick-prev, .slick-next {
                top: 80px;
            }
            .slick-prev {
                left: -11px;
            }
            .slick-next {
                right: -11px;
            }
        }
    }

    .inner-product-section {
        &.default-section {
            .subtitle{
                font-size: 2em;
            }
            .text-left {
                text-align: center;
            }
            .desc {
                margin: 0 auto 30px auto;
                font-size: 1em;
                p {
                    font-size: 1em;
                    line-height: 1.3;
                }
            }
            .cl-4 {
                &.text-right {
                    text-align: center;
                }
            }
        }
    }

    .info-container {
        .content {
            .info-box {
                &:nth-child(1) {
                    h4 {
                        margin-top: 0;
                    }
                }
                h4 {
                    margin-bottom: 2px;
                }
            }
        }
    }

    .inner-product-section {
        .cl-4 {
            &.text-right {
                text-align: left;
            }
        }
    }
    .carousel-secondary {
        .cl {
            .thumbnail {
                height: 170px;
            }
        }
    }
    .carousel-primary {
        .tile-magazine {
            .floated-content{
                img {
                    max-width: 200px;
                    margin: 15px auto 0 auto;
                } 
                p {
                    margin-bottom: 10px !important;
                }
            }
        }
    }
    .flex-wrapper {
        &.flex-secondary {
            .flex-column {
                height: 250px;
                width: 100%;
            }
            .col-3 {
                flex: 0 0 100%;
            }
        }
    }
    .tile {
        &.tile-horizontal {
            .tile-body {
                .right, .left {
                    display: block;
                    width: 100%;
                    margin-left: 0;
                }
                .right {
                    .thumbnail {
                        width: 100%;
                    }
                }
            }
        }
    }
    section {
        &.section-80 {
            padding: 20px 20px;
        }
    }
    .section-80 {
        .cl {
            &.cl-4 {
                width: 100%;
            }
        }
    }
    .search-results {
        .header-title {
            margin-top: 25px;
            font-size: 28px;
        }
    }

    .chart-container {
        .cl {
            &.cl-3 {
                width: 90%;
                margin-bottom: 20px;
            }
        }
    }

    .circle-progress {
        &.orange {
            .circular-progress70 {
                height: 70px;
                width: 70px;
                &:before {
                    line-height: 70px;
                }
            }
        }
    }

    .tile {
        &.tile-contact {
            min-height: 300px;
        }
    }

    .row-certification {
        .cl {
            border-left: none;
            border-bottom: solid 1px #bdbdbd;
            margin-bottom: 20px;
        }
    }

    .contact {
        .map {
            padding: 0;
        }
        .section-head {
            .form-email {
                width: auto;
            }
        }
    }

    .subscribe-wrapper {
        .form-group {
            width: 100%;
            padding: 0;
        }
    }

    .blog-section {
        .tile {
            &.tile-horizontal {
                .tile-body {
                    .left {
                        padding: 0;
                    }
                }
            }
        }
    }


    /** ============================
     ** function circular-progress
     ** ============================ */
    @function circular-progress($maxPercent, $percent, $color-bar, $color-back) {
        $increment: 360 / $maxPercent;
        $half: round($maxPercent / 2);
        $background-image: '';

        @if $percent < $half {
            $nextdeg: 90deg + ($increment * $percent);
            $background-image: 'linear-gradient(90deg, #{$color-back} 50%, transparent 50%, transparent),
    linear-gradient(#{$nextdeg}, #{$color-bar} 50%, #{$color-back} 50%, #{$color-back})';

        }

        @else {
            $nextdeg: -90deg + ($increment * ($percent - $half));
            $background-image: 'linear-gradient(#{$nextdeg}, #{$color-bar} 50%, transparent 50%, transparent),
    linear-gradient(270deg, #{$color-bar} 50%, #{$color-back} 50%, #{$color-back})';

        }

        @return unquote($background-image);
    }


    /** ============================
     ** Mixins Circular Progress
     ** ============================ */
    @mixin circular-progress($percent-num, $color1:"#03A9F4") {
        //circular-progress function
        //circular-progress($maxPercent, $percent, $color-bar, $color-back);
        // background: circular-progress(100, $percent-num, #03A9F4, #E0E0E0);
        background: circular-progress(100, $percent-num, $color1, #E0E0E0);
        border-radius: 50%;
        height: 80px;
        width: 80px;
        margin: 0 auto;
        position: relative;
        transition: all .3s linear;

        &::before {
            background-color: #FAFAFA;
            border-radius: 50%;
            //color: rgba(black, .54);
            content: '#{$percent-num}';
            font-size: 1.5em;
            font-weight: bold;
            height: 100%;
            left: 0;
            line-height: 80px;
            position: absolute;
            text-align: center;
            top: 0;
            transform: scale(.87);
            width: 100%;
        }

        &:hover {
            box-shadow: 0 0 100px 1px rgba(255, 214, 112, 0.35);
            transform: scale(1.1);
        }
    }

    .circle-progress {
        margin: 0 auto;
        $circle-color: #793824;

        .circular-progress {
            margin: 0 auto;

            &:before {
                color: $circle-color;
            }
        }

        &.inline {
            display: inline-block;
        }

        .circular-progress0 {
            @include circular-progress(0, $circle-color);
        }

        .circular-progress1 {
            @include circular-progress(1, $circle-color);
        }

        .circular-progress2 {
            @include circular-progress(2, $circle-color);
        }

        .circular-progress3 {
            @include circular-progress(3, $circle-color);
        }

        .circular-progress4 {
            @include circular-progress(4, $circle-color);
        }

        .circular-progress5 {
            @include circular-progress(5, $circle-color);
        }

        .circular-progress6 {
            @include circular-progress(6, $circle-color);
        }

        .circular-progress7 {
            @include circular-progress(7, $circle-color);
        }

        .circular-progress8 {
            @include circular-progress(8, $circle-color);
        }

        .circular-progress9 {
            @include circular-progress(9, $circle-color);
        }

        .circular-progress10 {
            @include circular-progress(10, $circle-color);
        }

        .circular-progress11 {
            @include circular-progress(11, $circle-color);
        }

        .circular-progress12 {
            @include circular-progress(12, $circle-color);
        }

        .circular-progress13 {
            @include circular-progress(13, $circle-color);
        }

        .circular-progress14 {
            @include circular-progress(14, $circle-color);
        }

        .circular-progress15 {
            @include circular-progress(15, $circle-color);
        }

        .circular-progress16 {
            @include circular-progress(16, $circle-color);
        }

        .circular-progress17 {
            @include circular-progress(17, $circle-color);
        }

        .circular-progress18 {
            @include circular-progress(18, $circle-color);
        }

        .circular-progress19 {
            @include circular-progress(19, $circle-color);
        }

        .circular-progress20 {
            @include circular-progress(20, $circle-color);
        }

        .circular-progress21 {
            @include circular-progress(21, $circle-color);
        }

        .circular-progress22 {
            @include circular-progress(22, $circle-color);
        }

        .circular-progress23 {
            @include circular-progress(23, $circle-color);
        }

        .circular-progress24 {
            @include circular-progress(24, $circle-color);
        }

        .circular-progress25 {
            @include circular-progress(25, $circle-color);
        }

        .circular-progress26 {
            @include circular-progress(26, $circle-color);
        }

        .circular-progress27 {
            @include circular-progress(27, $circle-color);
        }

        .circular-progress28 {
            @include circular-progress(28, $circle-color);
        }

        .circular-progress29 {
            @include circular-progress(29, $circle-color);
        }

        .circular-progress30 {
            @include circular-progress(30, $circle-color);
        }

        .circular-progress31 {
            @include circular-progress(31, $circle-color);
        }

        .circular-progress32 {
            @include circular-progress(32, $circle-color);
        }

        .circular-progress33 {
            @include circular-progress(33, $circle-color);
        }

        .circular-progress34 {
            @include circular-progress(34, $circle-color);
        }

        .circular-progress35 {
            @include circular-progress(35, $circle-color);
        }

        .circular-progress36 {
            @include circular-progress(36, $circle-color);
        }

        .circular-progress37 {
            @include circular-progress(37, $circle-color);
        }

        .circular-progress38 {
            @include circular-progress(38, $circle-color);
        }

        .circular-progress39 {
            @include circular-progress(39, $circle-color);
        }

        .circular-progress40 {
            @include circular-progress(40, $circle-color);
        }

        .circular-progress41 {
            @include circular-progress(41, $circle-color);
        }

        .circular-progress42 {
            @include circular-progress(42, $circle-color);
        }

        .circular-progress43 {
            @include circular-progress(43, $circle-color);
        }

        .circular-progress44 {
            @include circular-progress(44, $circle-color);
        }

        .circular-progress45 {
            @include circular-progress(45, $circle-color);
        }

        .circular-progress46 {
            @include circular-progress(46, $circle-color);
        }

        .circular-progress47 {
            @include circular-progress(47, $circle-color);
        }

        .circular-progress48 {
            @include circular-progress(48, $circle-color);
        }

        .circular-progress49 {
            @include circular-progress(49, $circle-color);
        }

        .circular-progress50 {
            @include circular-progress(50, $circle-color);
        }

        .circular-progress51 {
            @include circular-progress(51, $circle-color);
        }

        .circular-progress52 {
            @include circular-progress(52, $circle-color);
        }

        .circular-progress53 {
            @include circular-progress(53, $circle-color);
        }

        .circular-progress54 {
            @include circular-progress(54, $circle-color);
        }

        .circular-progress55 {
            @include circular-progress(55, $circle-color);
        }

        .circular-progress56 {
            @include circular-progress(56, $circle-color);
        }

        .circular-progress57 {
            @include circular-progress(57, $circle-color);
        }

        .circular-progress58 {
            @include circular-progress(58, $circle-color);
        }

        .circular-progress59 {
            @include circular-progress(59, $circle-color);
        }

        .circular-progress60 {
            @include circular-progress(60, $circle-color);
        }

        .circular-progress61 {
            @include circular-progress(61, $circle-color);
        }

        .circular-progress62 {
            @include circular-progress(62, $circle-color);
        }

        .circular-progress63 {
            @include circular-progress(63, $circle-color);
        }

        .circular-progress64 {
            @include circular-progress(64, $circle-color);
        }

        .circular-progress65 {
            @include circular-progress(65, $circle-color);
        }

        .circular-progress66 {
            @include circular-progress(66, $circle-color);
        }

        .circular-progress67 {
            @include circular-progress(67, $circle-color);
        }

        .circular-progress68 {
            @include circular-progress(68, $circle-color);
        }

        .circular-progress69 {
            @include circular-progress(69, $circle-color);
        }

        .circular-progress70 {
            @include circular-progress(70, $circle-color);
        }

        .circular-progress71 {
            @include circular-progress(71, $circle-color);
        }

        .circular-progress72 {
            @include circular-progress(72, $circle-color);
        }

        .circular-progress73 {
            @include circular-progress(73, $circle-color);
        }

        .circular-progress74 {
            @include circular-progress(74, $circle-color);
        }

        .circular-progress75 {
            @include circular-progress(75, $circle-color);
        }

        .circular-progress76 {
            @include circular-progress(76, $circle-color);
        }

        .circular-progress77 {
            @include circular-progress(77, $circle-color);
        }

        .circular-progress78 {
            @include circular-progress(78, $circle-color);
        }

        .circular-progress79 {
            @include circular-progress(79, $circle-color);
        }

        .circular-progress80 {
            @include circular-progress(80, $circle-color);
        }

        .circular-progress81 {
            @include circular-progress(81, $circle-color);
        }

        .circular-progress82 {
            @include circular-progress(82, $circle-color);
        }

        .circular-progress83 {
            @include circular-progress(83, $circle-color);
        }

        .circular-progress84 {
            @include circular-progress(84, $circle-color);
        }

        .circular-progress85 {
            @include circular-progress(85, $circle-color);
        }

        .circular-progress86 {
            @include circular-progress(86, $circle-color);
        }

        .circular-progress87 {
            @include circular-progress(87, $circle-color);
        }

        .circular-progress88 {
            @include circular-progress(88, $circle-color);
        }

        .circular-progress89 {
            @include circular-progress(89, $circle-color);
        }

        .circular-progress90 {
            @include circular-progress(90, $circle-color);
        }

        .circular-progress91 {
            @include circular-progress(91, $circle-color);
        }

        .circular-progress92 {
            @include circular-progress(92, $circle-color);
        }

        .circular-progress93 {
            @include circular-progress(93, $circle-color);
        }

        .circular-progress94 {
            @include circular-progress(94, $circle-color);
        }

        .circular-progress95 {
            @include circular-progress(95, $circle-color);
        }

        .circular-progress96 {
            @include circular-progress(96, $circle-color);
        }

        .circular-progress97 {
            @include circular-progress(97, $circle-color);
        }

        .circular-progress98 {
            @include circular-progress(98, $circle-color);
        }

        .circular-progress99 {
            @include circular-progress(99, $circle-color);
        }

        .circular-progress100 {
            @include circular-progress(100, $circle-color);
        }

        &.green {
            $circle-color: #a1ccc2;

            .circular-progress {
                &:before {
                    color: $circle-color;
                }
            }

            .circular-progress0 {
                @include circular-progress(0, $circle-color);
            }

            .circular-progress1 {
                @include circular-progress(1, $circle-color);
            }

            .circular-progress2 {
                @include circular-progress(2, $circle-color);
            }

            .circular-progress3 {
                @include circular-progress(3, $circle-color);
            }

            .circular-progress4 {
                @include circular-progress(4, $circle-color);
            }

            .circular-progress5 {
                @include circular-progress(5, $circle-color);
            }

            .circular-progress6 {
                @include circular-progress(6, $circle-color);
            }

            .circular-progress7 {
                @include circular-progress(7, $circle-color);
            }

            .circular-progress8 {
                @include circular-progress(8, $circle-color);
            }

            .circular-progress9 {
                @include circular-progress(9, $circle-color);
            }

            .circular-progress10 {
                @include circular-progress(10, $circle-color);
            }

            .circular-progress11 {
                @include circular-progress(11, $circle-color);
            }

            .circular-progress12 {
                @include circular-progress(12, $circle-color);
            }

            .circular-progress13 {
                @include circular-progress(13, $circle-color);
            }

            .circular-progress14 {
                @include circular-progress(14, $circle-color);
            }

            .circular-progress15 {
                @include circular-progress(15, $circle-color);
            }

            .circular-progress16 {
                @include circular-progress(16, $circle-color);
            }

            .circular-progress17 {
                @include circular-progress(17, $circle-color);
            }

            .circular-progress18 {
                @include circular-progress(18, $circle-color);
            }

            .circular-progress19 {
                @include circular-progress(19, $circle-color);
            }

            .circular-progress20 {
                @include circular-progress(20, $circle-color);
            }

            .circular-progress21 {
                @include circular-progress(21, $circle-color);
            }

            .circular-progress22 {
                @include circular-progress(22, $circle-color);
            }

            .circular-progress23 {
                @include circular-progress(23, $circle-color);
            }

            .circular-progress24 {
                @include circular-progress(24, $circle-color);
            }

            .circular-progress25 {
                @include circular-progress(25, $circle-color);
            }

            .circular-progress26 {
                @include circular-progress(26, $circle-color);
            }

            .circular-progress27 {
                @include circular-progress(27, $circle-color);
            }

            .circular-progress28 {
                @include circular-progress(28, $circle-color);
            }

            .circular-progress29 {
                @include circular-progress(29, $circle-color);
            }

            .circular-progress30 {
                @include circular-progress(30, $circle-color);
            }

            .circular-progress31 {
                @include circular-progress(31, $circle-color);
            }

            .circular-progress32 {
                @include circular-progress(32, $circle-color);
            }

            .circular-progress33 {
                @include circular-progress(33, $circle-color);
            }

            .circular-progress34 {
                @include circular-progress(34, $circle-color);
            }

            .circular-progress35 {
                @include circular-progress(35, $circle-color);
            }

            .circular-progress36 {
                @include circular-progress(36, $circle-color);
            }

            .circular-progress37 {
                @include circular-progress(37, $circle-color);
            }

            .circular-progress38 {
                @include circular-progress(38, $circle-color);
            }

            .circular-progress39 {
                @include circular-progress(39, $circle-color);
            }

            .circular-progress40 {
                @include circular-progress(40, $circle-color);
            }

            .circular-progress41 {
                @include circular-progress(41, $circle-color);
            }

            .circular-progress42 {
                @include circular-progress(42, $circle-color);
            }

            .circular-progress43 {
                @include circular-progress(43, $circle-color);
            }

            .circular-progress44 {
                @include circular-progress(44, $circle-color);
            }

            .circular-progress45 {
                @include circular-progress(45, $circle-color);
            }

            .circular-progress46 {
                @include circular-progress(46, $circle-color);
            }

            .circular-progress47 {
                @include circular-progress(47, $circle-color);
            }

            .circular-progress48 {
                @include circular-progress(48, $circle-color);
            }

            .circular-progress49 {
                @include circular-progress(49, $circle-color);
            }

            .circular-progress50 {
                @include circular-progress(50, $circle-color);
            }

            .circular-progress51 {
                @include circular-progress(51, $circle-color);
            }

            .circular-progress52 {
                @include circular-progress(52, $circle-color);
            }

            .circular-progress53 {
                @include circular-progress(53, $circle-color);
            }

            .circular-progress54 {
                @include circular-progress(54, $circle-color);
            }

            .circular-progress55 {
                @include circular-progress(55, $circle-color);
            }

            .circular-progress56 {
                @include circular-progress(56, $circle-color);
            }

            .circular-progress57 {
                @include circular-progress(57, $circle-color);
            }

            .circular-progress58 {
                @include circular-progress(58, $circle-color);
            }

            .circular-progress59 {
                @include circular-progress(59, $circle-color);
            }

            .circular-progress60 {
                @include circular-progress(60, $circle-color);
            }

            .circular-progress61 {
                @include circular-progress(61, $circle-color);
            }

            .circular-progress62 {
                @include circular-progress(62, $circle-color);
            }

            .circular-progress63 {
                @include circular-progress(63, $circle-color);
            }

            .circular-progress64 {
                @include circular-progress(64, $circle-color);
            }

            .circular-progress65 {
                @include circular-progress(65, $circle-color);
            }

            .circular-progress66 {
                @include circular-progress(66, $circle-color);
            }

            .circular-progress67 {
                @include circular-progress(67, $circle-color);
            }

            .circular-progress68 {
                @include circular-progress(68, $circle-color);
            }

            .circular-progress69 {
                @include circular-progress(69, $circle-color);
            }

            .circular-progress70 {
                @include circular-progress(70, $circle-color);
            }

            .circular-progress71 {
                @include circular-progress(71, $circle-color);
            }

            .circular-progress72 {
                @include circular-progress(72, $circle-color);
            }

            .circular-progress73 {
                @include circular-progress(73, $circle-color);
            }

            .circular-progress74 {
                @include circular-progress(74, $circle-color);
            }

            .circular-progress75 {
                @include circular-progress(75, $circle-color);
            }

            .circular-progress76 {
                @include circular-progress(76, $circle-color);
            }

            .circular-progress77 {
                @include circular-progress(77, $circle-color);
            }

            .circular-progress78 {
                @include circular-progress(78, $circle-color);
            }

            .circular-progress79 {
                @include circular-progress(79, $circle-color);
            }

            .circular-progress80 {
                @include circular-progress(80, $circle-color);
            }

            .circular-progress81 {
                @include circular-progress(81, $circle-color);
            }

            .circular-progress82 {
                @include circular-progress(82, $circle-color);
            }

            .circular-progress83 {
                @include circular-progress(83, $circle-color);
            }

            .circular-progress84 {
                @include circular-progress(84, $circle-color);
            }

            .circular-progress85 {
                @include circular-progress(85, $circle-color);
            }

            .circular-progress86 {
                @include circular-progress(86, $circle-color);
            }

            .circular-progress87 {
                @include circular-progress(87, $circle-color);
            }

            .circular-progress88 {
                @include circular-progress(88, $circle-color);
            }

            .circular-progress89 {
                @include circular-progress(89, $circle-color);
            }

            .circular-progress90 {
                @include circular-progress(90, $circle-color);
            }

            .circular-progress91 {
                @include circular-progress(91, $circle-color);
            }

            .circular-progress92 {
                @include circular-progress(92, $circle-color);
            }

            .circular-progress93 {
                @include circular-progress(93, $circle-color);
            }

            .circular-progress94 {
                @include circular-progress(94, $circle-color);
            }

            .circular-progress95 {
                @include circular-progress(95, $circle-color);
            }

            .circular-progress96 {
                @include circular-progress(96, $circle-color);
            }

            .circular-progress97 {
                @include circular-progress(97, $circle-color);
            }

            .circular-progress98 {
                @include circular-progress(98, $circle-color);
            }

            .circular-progress99 {
                @include circular-progress(99, $circle-color);
            }

            .circular-progress100 {
                @include circular-progress(100, $circle-color);
            }
        }

        &.yellow {
            $circle-color: #ebcd99;

            .circular-progress {
                &:before {
                    color: $circle-color;
                }
            }

            .circular-progress0 {
                @include circular-progress(0, $circle-color);
            }

            .circular-progress1 {
                @include circular-progress(1, $circle-color);
            }

            .circular-progress2 {
                @include circular-progress(2, $circle-color);
            }

            .circular-progress3 {
                @include circular-progress(3, $circle-color);
            }

            .circular-progress4 {
                @include circular-progress(4, $circle-color);
            }

            .circular-progress5 {
                @include circular-progress(5, $circle-color);
            }

            .circular-progress6 {
                @include circular-progress(6, $circle-color);
            }

            .circular-progress7 {
                @include circular-progress(7, $circle-color);
            }

            .circular-progress8 {
                @include circular-progress(8, $circle-color);
            }

            .circular-progress9 {
                @include circular-progress(9, $circle-color);
            }

            .circular-progress10 {
                @include circular-progress(10, $circle-color);
            }

            .circular-progress11 {
                @include circular-progress(11, $circle-color);
            }

            .circular-progress12 {
                @include circular-progress(12, $circle-color);
            }

            .circular-progress13 {
                @include circular-progress(13, $circle-color);
            }

            .circular-progress14 {
                @include circular-progress(14, $circle-color);
            }

            .circular-progress15 {
                @include circular-progress(15, $circle-color);
            }

            .circular-progress16 {
                @include circular-progress(16, $circle-color);
            }

            .circular-progress17 {
                @include circular-progress(17, $circle-color);
            }

            .circular-progress18 {
                @include circular-progress(18, $circle-color);
            }

            .circular-progress19 {
                @include circular-progress(19, $circle-color);
            }

            .circular-progress20 {
                @include circular-progress(20, $circle-color);
            }

            .circular-progress21 {
                @include circular-progress(21, $circle-color);
            }

            .circular-progress22 {
                @include circular-progress(22, $circle-color);
            }

            .circular-progress23 {
                @include circular-progress(23, $circle-color);
            }

            .circular-progress24 {
                @include circular-progress(24, $circle-color);
            }

            .circular-progress25 {
                @include circular-progress(25, $circle-color);
            }

            .circular-progress26 {
                @include circular-progress(26, $circle-color);
            }

            .circular-progress27 {
                @include circular-progress(27, $circle-color);
            }

            .circular-progress28 {
                @include circular-progress(28, $circle-color);
            }

            .circular-progress29 {
                @include circular-progress(29, $circle-color);
            }

            .circular-progress30 {
                @include circular-progress(30, $circle-color);
            }

            .circular-progress31 {
                @include circular-progress(31, $circle-color);
            }

            .circular-progress32 {
                @include circular-progress(32, $circle-color);
            }

            .circular-progress33 {
                @include circular-progress(33, $circle-color);
            }

            .circular-progress34 {
                @include circular-progress(34, $circle-color);
            }

            .circular-progress35 {
                @include circular-progress(35, $circle-color);
            }

            .circular-progress36 {
                @include circular-progress(36, $circle-color);
            }

            .circular-progress37 {
                @include circular-progress(37, $circle-color);
            }

            .circular-progress38 {
                @include circular-progress(38, $circle-color);
            }

            .circular-progress39 {
                @include circular-progress(39, $circle-color);
            }

            .circular-progress40 {
                @include circular-progress(40, $circle-color);
            }

            .circular-progress41 {
                @include circular-progress(41, $circle-color);
            }

            .circular-progress42 {
                @include circular-progress(42, $circle-color);
            }

            .circular-progress43 {
                @include circular-progress(43, $circle-color);
            }

            .circular-progress44 {
                @include circular-progress(44, $circle-color);
            }

            .circular-progress45 {
                @include circular-progress(45, $circle-color);
            }

            .circular-progress46 {
                @include circular-progress(46, $circle-color);
            }

            .circular-progress47 {
                @include circular-progress(47, $circle-color);
            }

            .circular-progress48 {
                @include circular-progress(48, $circle-color);
            }

            .circular-progress49 {
                @include circular-progress(49, $circle-color);
            }

            .circular-progress50 {
                @include circular-progress(50, $circle-color);
            }

            .circular-progress51 {
                @include circular-progress(51, $circle-color);
            }

            .circular-progress52 {
                @include circular-progress(52, $circle-color);
            }

            .circular-progress53 {
                @include circular-progress(53, $circle-color);
            }

            .circular-progress54 {
                @include circular-progress(54, $circle-color);
            }

            .circular-progress55 {
                @include circular-progress(55, $circle-color);
            }

            .circular-progress56 {
                @include circular-progress(56, $circle-color);
            }

            .circular-progress57 {
                @include circular-progress(57, $circle-color);
            }

            .circular-progress58 {
                @include circular-progress(58, $circle-color);
            }

            .circular-progress59 {
                @include circular-progress(59, $circle-color);
            }

            .circular-progress60 {
                @include circular-progress(60, $circle-color);
            }

            .circular-progress61 {
                @include circular-progress(61, $circle-color);
            }

            .circular-progress62 {
                @include circular-progress(62, $circle-color);
            }

            .circular-progress63 {
                @include circular-progress(63, $circle-color);
            }

            .circular-progress64 {
                @include circular-progress(64, $circle-color);
            }

            .circular-progress65 {
                @include circular-progress(65, $circle-color);
            }

            .circular-progress66 {
                @include circular-progress(66, $circle-color);
            }

            .circular-progress67 {
                @include circular-progress(67, $circle-color);
            }

            .circular-progress68 {
                @include circular-progress(68, $circle-color);
            }

            .circular-progress69 {
                @include circular-progress(69, $circle-color);
            }

            .circular-progress70 {
                @include circular-progress(70, $circle-color);
            }

            .circular-progress71 {
                @include circular-progress(71, $circle-color);
            }

            .circular-progress72 {
                @include circular-progress(72, $circle-color);
            }

            .circular-progress73 {
                @include circular-progress(73, $circle-color);
            }

            .circular-progress74 {
                @include circular-progress(74, $circle-color);
            }

            .circular-progress75 {
                @include circular-progress(75, $circle-color);
            }

            .circular-progress76 {
                @include circular-progress(76, $circle-color);
            }

            .circular-progress77 {
                @include circular-progress(77, $circle-color);
            }

            .circular-progress78 {
                @include circular-progress(78, $circle-color);
            }

            .circular-progress79 {
                @include circular-progress(79, $circle-color);
            }

            .circular-progress80 {
                @include circular-progress(80, $circle-color);
            }

            .circular-progress81 {
                @include circular-progress(81, $circle-color);
            }

            .circular-progress82 {
                @include circular-progress(82, $circle-color);
            }

            .circular-progress83 {
                @include circular-progress(83, $circle-color);
            }

            .circular-progress84 {
                @include circular-progress(84, $circle-color);
            }

            .circular-progress85 {
                @include circular-progress(85, $circle-color);
            }

            .circular-progress86 {
                @include circular-progress(86, $circle-color);
            }

            .circular-progress87 {
                @include circular-progress(87, $circle-color);
            }

            .circular-progress88 {
                @include circular-progress(88, $circle-color);
            }

            .circular-progress89 {
                @include circular-progress(89, $circle-color);
            }

            .circular-progress90 {
                @include circular-progress(90, $circle-color);
            }

            .circular-progress91 {
                @include circular-progress(91, $circle-color);
            }

            .circular-progress92 {
                @include circular-progress(92, $circle-color);
            }

            .circular-progress93 {
                @include circular-progress(93, $circle-color);
            }

            .circular-progress94 {
                @include circular-progress(94, $circle-color);
            }

            .circular-progress95 {
                @include circular-progress(95, $circle-color);
            }

            .circular-progress96 {
                @include circular-progress(96, $circle-color);
            }

            .circular-progress97 {
                @include circular-progress(97, $circle-color);
            }

            .circular-progress98 {
                @include circular-progress(98, $circle-color);
            }

            .circular-progress99 {
                @include circular-progress(99, $circle-color);
            }

            .circular-progress100 {
                @include circular-progress(100, $circle-color);
            }
        }

        &.orange {
            $circle-color: #f0805a;

            .circular-progress {
                &:before {
                    color: $circle-color;
                }
            }

            .circular-progress0 {
                @include circular-progress(0, $circle-color);
            }

            .circular-progress1 {
                @include circular-progress(1, $circle-color);
            }

            .circular-progress2 {
                @include circular-progress(2, $circle-color);
            }

            .circular-progress3 {
                @include circular-progress(3, $circle-color);
            }

            .circular-progress4 {
                @include circular-progress(4, $circle-color);
            }

            .circular-progress5 {
                @include circular-progress(5, $circle-color);
            }

            .circular-progress6 {
                @include circular-progress(6, $circle-color);
            }

            .circular-progress7 {
                @include circular-progress(7, $circle-color);
            }

            .circular-progress8 {
                @include circular-progress(8, $circle-color);
            }

            .circular-progress9 {
                @include circular-progress(9, $circle-color);
            }

            .circular-progress10 {
                @include circular-progress(10, $circle-color);
            }

            .circular-progress11 {
                @include circular-progress(11, $circle-color);
            }

            .circular-progress12 {
                @include circular-progress(12, $circle-color);
            }

            .circular-progress13 {
                @include circular-progress(13, $circle-color);
            }

            .circular-progress14 {
                @include circular-progress(14, $circle-color);
            }

            .circular-progress15 {
                @include circular-progress(15, $circle-color);
            }

            .circular-progress16 {
                @include circular-progress(16, $circle-color);
            }

            .circular-progress17 {
                @include circular-progress(17, $circle-color);
            }

            .circular-progress18 {
                @include circular-progress(18, $circle-color);
            }

            .circular-progress19 {
                @include circular-progress(19, $circle-color);
            }

            .circular-progress20 {
                @include circular-progress(20, $circle-color);
            }

            .circular-progress21 {
                @include circular-progress(21, $circle-color);
            }

            .circular-progress22 {
                @include circular-progress(22, $circle-color);
            }

            .circular-progress23 {
                @include circular-progress(23, $circle-color);
            }

            .circular-progress24 {
                @include circular-progress(24, $circle-color);
            }

            .circular-progress25 {
                @include circular-progress(25, $circle-color);
            }

            .circular-progress26 {
                @include circular-progress(26, $circle-color);
            }

            .circular-progress27 {
                @include circular-progress(27, $circle-color);
            }

            .circular-progress28 {
                @include circular-progress(28, $circle-color);
            }

            .circular-progress29 {
                @include circular-progress(29, $circle-color);
            }

            .circular-progress30 {
                @include circular-progress(30, $circle-color);
            }

            .circular-progress31 {
                @include circular-progress(31, $circle-color);
            }

            .circular-progress32 {
                @include circular-progress(32, $circle-color);
            }

            .circular-progress33 {
                @include circular-progress(33, $circle-color);
            }

            .circular-progress34 {
                @include circular-progress(34, $circle-color);
            }

            .circular-progress35 {
                @include circular-progress(35, $circle-color);
            }

            .circular-progress36 {
                @include circular-progress(36, $circle-color);
            }

            .circular-progress37 {
                @include circular-progress(37, $circle-color);
            }

            .circular-progress38 {
                @include circular-progress(38, $circle-color);
            }

            .circular-progress39 {
                @include circular-progress(39, $circle-color);
            }

            .circular-progress40 {
                @include circular-progress(40, $circle-color);
            }

            .circular-progress41 {
                @include circular-progress(41, $circle-color);
            }

            .circular-progress42 {
                @include circular-progress(42, $circle-color);
            }

            .circular-progress43 {
                @include circular-progress(43, $circle-color);
            }

            .circular-progress44 {
                @include circular-progress(44, $circle-color);
            }

            .circular-progress45 {
                @include circular-progress(45, $circle-color);
            }

            .circular-progress46 {
                @include circular-progress(46, $circle-color);
            }

            .circular-progress47 {
                @include circular-progress(47, $circle-color);
            }

            .circular-progress48 {
                @include circular-progress(48, $circle-color);
            }

            .circular-progress49 {
                @include circular-progress(49, $circle-color);
            }

            .circular-progress50 {
                @include circular-progress(50, $circle-color);
            }

            .circular-progress51 {
                @include circular-progress(51, $circle-color);
            }

            .circular-progress52 {
                @include circular-progress(52, $circle-color);
            }

            .circular-progress53 {
                @include circular-progress(53, $circle-color);
            }

            .circular-progress54 {
                @include circular-progress(54, $circle-color);
            }

            .circular-progress55 {
                @include circular-progress(55, $circle-color);
            }

            .circular-progress56 {
                @include circular-progress(56, $circle-color);
            }

            .circular-progress57 {
                @include circular-progress(57, $circle-color);
            }

            .circular-progress58 {
                @include circular-progress(58, $circle-color);
            }

            .circular-progress59 {
                @include circular-progress(59, $circle-color);
            }

            .circular-progress60 {
                @include circular-progress(60, $circle-color);
            }

            .circular-progress61 {
                @include circular-progress(61, $circle-color);
            }

            .circular-progress62 {
                @include circular-progress(62, $circle-color);
            }

            .circular-progress63 {
                @include circular-progress(63, $circle-color);
            }

            .circular-progress64 {
                @include circular-progress(64, $circle-color);
            }

            .circular-progress65 {
                @include circular-progress(65, $circle-color);
            }

            .circular-progress66 {
                @include circular-progress(66, $circle-color);
            }

            .circular-progress67 {
                @include circular-progress(67, $circle-color);
            }

            .circular-progress68 {
                @include circular-progress(68, $circle-color);
            }

            .circular-progress69 {
                @include circular-progress(69, $circle-color);
            }

            .circular-progress70 {
                @include circular-progress(70, $circle-color);
            }

            .circular-progress71 {
                @include circular-progress(71, $circle-color);
            }

            .circular-progress72 {
                @include circular-progress(72, $circle-color);
            }

            .circular-progress73 {
                @include circular-progress(73, $circle-color);
            }

            .circular-progress74 {
                @include circular-progress(74, $circle-color);
            }

            .circular-progress75 {
                @include circular-progress(75, $circle-color);
            }

            .circular-progress76 {
                @include circular-progress(76, $circle-color);
            }

            .circular-progress77 {
                @include circular-progress(77, $circle-color);
            }

            .circular-progress78 {
                @include circular-progress(78, $circle-color);
            }

            .circular-progress79 {
                @include circular-progress(79, $circle-color);
            }

            .circular-progress80 {
                @include circular-progress(80, $circle-color);
            }

            .circular-progress81 {
                @include circular-progress(81, $circle-color);
            }

            .circular-progress82 {
                @include circular-progress(82, $circle-color);
            }

            .circular-progress83 {
                @include circular-progress(83, $circle-color);
            }

            .circular-progress84 {
                @include circular-progress(84, $circle-color);
            }

            .circular-progress85 {
                @include circular-progress(85, $circle-color);
            }

            .circular-progress86 {
                @include circular-progress(86, $circle-color);
            }

            .circular-progress87 {
                @include circular-progress(87, $circle-color);
            }

            .circular-progress88 {
                @include circular-progress(88, $circle-color);
            }

            .circular-progress89 {
                @include circular-progress(89, $circle-color);
            }

            .circular-progress90 {
                @include circular-progress(90, $circle-color);
            }

            .circular-progress91 {
                @include circular-progress(91, $circle-color);
            }

            .circular-progress92 {
                @include circular-progress(92, $circle-color);
            }

            .circular-progress93 {
                @include circular-progress(93, $circle-color);
            }

            .circular-progress94 {
                @include circular-progress(94, $circle-color);
            }

            .circular-progress95 {
                @include circular-progress(95, $circle-color);
            }

            .circular-progress96 {
                @include circular-progress(96, $circle-color);
            }

            .circular-progress97 {
                @include circular-progress(97, $circle-color);
            }

            .circular-progress98 {
                @include circular-progress(98, $circle-color);
            }

            .circular-progress99 {
                @include circular-progress(99, $circle-color);
            }

            .circular-progress100 {
                @include circular-progress(100, $circle-color);
            }
        }

        .circular-text {
            text-align: center;
            color: rgba(black, .6);
            font-size: 14px;
            font-weight: bold;
            letter-spacing: 1px;
        }
    }

    .products-section {
        &.product-subpage-section {
            .cl {
                height: 200px;
            }
        }
    }

    .news-section, .products-listing {
        padding: 20px 20px;
    }

    .products-listing {
        padding: 0 20px;
        &.rw {
            .cl {
                width: 100%;
                height: auto;
                &:nth-child(4n) {
                    height: auto;
                }
                .cl-body {
                    min-height: inherit;
                }
            }
        }
    }

    .mission-vision-section {
        .cl {
            padding-top: 20px;
            padding-bottom: 20px;
            padding-right: 0;
            padding-left: 0;
            &:nth-child(2) {
                padding-left: 0;
            }
        }
    }

    .lightbox, #lightbox {
    	.lightbox-content {
    		width: 90%;
    		.btn-close {
    			top: -10px;
    			right: 0;
    		}
    	}
    	&.lightbox-search {
    		.lightbox-content {
    			.lightbox-body {
    				margin-top: 50px;
    			}
    			.form-control {
    				padding: 10px 40px 10px 0;
    				font-size: 24px;
    			}
    			.btn-search {
    				right: 0;
    			}
    		}
    	}
    }

    .cl { 
        &-1 {
            >.cl {
                width: percentage(1400px/1400px);
            }
        }
        &-2 {
            >.cl {
                width: percentage(1400px/1400px);
            }
        }
        &-3 {
            >.cl {
                width: percentage(700px/1400px);
            }
        }
        &-4 {
            >.cl {
                width: percentage(1400px/1400px);
            }
        }
        &-5 {
            >.cl {
                width: percentage(1400px/1400px); 
            }
        }
        &-6 {
            >.cl {
                width: percentage(700px/1400px);
            }
        }
        &-7 {
            >.cl {
               width: percentage(1400px/1400px);
            }
        }
        &-8 {
            >.cl {
                width: percentage(175px/1400px);
            }
        }
        &-9 {
            >.cl {
                width: percentage(155.55px/1400px);
            }
        }
        &-10 {
            >.cl {
                width: percentage(140px/1400px);
            }
        }
        &-11 {
            >.cl {
                width: percentage(127.27px/1400px);
            }
        }
        &-12 {
            >.cl {
                width: percentage(116.66px/1400px);
            }
        }

    }

    .cl {
        //Grid cell
        &.cl-1 {
            width: percentage(116.66px/1400px);
        }
        &.cl-2 {
            width: percentage(233.33px/1400px);
        }
        &.cl-3 {
            width: percentage(350px/1400px);
        }
        &.cl-4 {
            width: percentage(466.66px/1400px);
        }
        &.cl-5 {
            width: percentage(1400px/1400px);
        }
        &.cl-6 {
            width: percentage(1400px/1400px);
        }
        &.cl-seven {
            width: percentage(816.8px/1400px);
        }
        &.cl-7 {
            width: percentage(1400px/1400px);
        }
        &.cl-8 {
            width: percentage(1400px/1400px);
        }
        &.cl-9 {
            width: percentage(1400px/1400px);
        }
        &.cl-10 {
            width: percentage(1400px/1400px);
        }
        &.cl-11 {
            width: percentage(1400px/1400px);
        }
        &.cl-12 {
            width: percentage(1400px/1400px);
        }
    }
}

@media (max-width: $screen-xxs) {

}
