/////////////////
// Nav Menu    //
/////////////////

.nav-menu {
    display: block;
    padding-left: 0;
    background-color: $light-color;

    li {
        display: inline-block;
        margin-left: -4px;

        a {
            display: block;
            padding: 10px 18px;
            color: $font-color;
            font-size: 0.875em;
            font-weight: 400;

            &:hover {
                text-decoration: none;
                background-color: $lightest-color;
            }
        }

        &.active {
            &>a {
                text-decoration: none;
                color: $black;
            }
        }

        .dropdown {
            text-align: left;
            li {
              margin-left: 0;
            }
        }
    }

    &.nav-default {}

    &.nav-primary {
        background-color: $primary-color;

        li {
            >a {
                color: $white;

                &:hover {
                    text-decoration: none;
                    background-color: $primary-dark-color;
                }
            }
        }
    }

    &.nav-inline {
        display: inline-block;
    }

    //with dropdown 
    .with-dropdown, .has-submenu {
        position: relative;

        >a {
            position: relative;
            padding-right: 34px;

            &:before {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                -o-transform: translateY(-50%);
                -webkit-transform: translateY(-50%);
                right: 12px;
                content: "\f107";
                font-family: "Fontawesome";
                font-weight: 700;

                -webkit-transition: all .8s ease-in-out;
                -ms-transition: all .8s ease-in-out;
                transition: all .8s ease-in-out;
            }
        }

        .dropdown, &>.level-1, &>.level-2 {
            display: none;
            position: absolute;
            top: 100%;
            left: 0;
            min-width: 250px;
            padding-left: 0;
            background-color: $white;
            border-top: solid 1px #e8e8e8;
            z-index: 1;

            li {
                display: block;
                margin-left: 0;
                border-bottom: solid 1px #e8e8e8;
                &:first-child {
                    a {}
                }
                &:last-child() {
                  border-bottom: none;
                }
            }
        }

        &:hover {
            .dropdown, &>.level-1, &>.level-2  {
                display: block;
            }

            >a {
                &:before {
                    //top: 50%;
                    // -webkit-transform: rotateZ(180deg);
                    // -moz-transform: rotateZ(180deg);
                    // -o-transform: rotateZ(180deg);
                    // -ms-transform: rotateZ(180deg);
                    // transform: rotateZ(180deg);
                    content: "\f106";
                }
            }

        }
    }

}


//Burger Nav 
//for desktop 
// .burgernav {
//  top: 10px;
//  left: 10px;
// }
.burgernav {
    display: none;
    position: fixed;
    width: auto;
    height: auto;
    top: 10px;
    left: 5px;
    z-index: 1000;
    padding: 18px 17px;
    @include borderradius(50%);
    cursor: pointer;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: transparent;
    -ms-touch-action: manipulation;
    touch-action: manipulation;

    &:hover {
        //background-color: rgba(0,0,0,0.8);
    }

    &__icon {
        position: relative;
        margin-top: 7px;
        margin-bottom: 7px;
        background-color: $black;

        &:before {
            top: -10px;
            -moz-transform: translateY(0px) rotate(0deg);
            -ms-transform: translateY(0px) rotate(0deg);
            -webkit-transform: translateY(0px) rotate(0deg);
            transform: translateY(0px) rotate(0deg);
        }

        &:after {
            top: 10px;
            -moz-transform: translateY(0px) rotate(0deg);
            -ms-transform: translateY(0px) rotate(0deg);
            -webkit-transform: translateY(0px) rotate(0deg);
            transform: translateY(0px) rotate(0deg);
        }

        &:before,
        &:after {
            position: absolute;
            content: "";
        }
    }

    &__icon,
    &__icon:before,
    &__icon:after {
        display: block;
        width: 30px;
        height: 3px;
        border-radius: 1.5px;
        background-color: $black;
        -moz-transition-property: background-color, -moz-transform;
        -o-transition-property: background-color, -o-transform;
        -webkit-transition-property: background-color, -webkit-transform;
        transition-property: background-color, transform;
        -moz-transition-duration: 0.4s;
        -o-transition-duration: 0.4s;
        -webkit-transition-duration: 0.4s;
        transition-duration: 0.4s;
    }
}

//Burger Nav - Open
.open {
    .burgernav__icon {
        background-color: transparent;

        &:before,
        &:after {
            //background-color: $white;
        }

        &:before {
            -moz-transform: translateY(10px) rotate(45deg);
            -ms-transform: translateY(10px) rotate(45deg);
            -webkit-transform: translateY(10px) rotate(45deg);
            transform: translateY(10px) rotate(45deg);
        }

        &:after {
            -moz-transform: translateY(-10px) rotate(-45deg);
            -ms-transform: translateY(-10px) rotate(-45deg);
            -webkit-transform: translateY(-10px) rotate(-45deg);
            transform: translateY(-10px) rotate(-45deg);
        }
    }
}