/////////////////
// SSO Native //
/////////////////

.sso-native-container {
  position: relative;
  width: 100%;
  padding: 30px 10px 0 10px;
  background-color: #000;
  background-image: url("../images/vote_bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  font-size: 12px;
  a {
    text-decoration: underline;
  }
  .sso-content-wrapper {
    display: block;
    width: 320px;
    margin: 20px auto 0 auto;
    padding: 20px 20px;
    background-color: #111111;
    color: #ffffff;
    min-height: 500px;
    &.light-theme {
      background-color: $white;
      color: #111;
      .header-title {
        .arrow-back {
          color: #111;
        }
        h4 {
          font-weight: 700;
        }
      }
    }
    &.sso-response {
      h5 {
        margin-top: 5px;
        margin-bottom: 5px;
        font-weight: 100;
        font-size: 0.833em;
        color: #898989;
      }
      h4 {
        font-weight: 600;
        margin-bottom: 10px;
      }
    }
  }
  .header-title {
    position: relative;
    margin-bottom: 25px;
    text-align: center;
    h4 {
      margin-top: 0;
      font-size: 1.167em;
      font-weight: 300;
    }
    p {
      margin-top: 3px;
      line-height: 1.52em;
    }
    .arrow-back {
      position: absolute;
      top: -5px;
      left: 0;
      font-size: 1.667em;
      color: #fff;
      &:hover {
        color: #4267b2;
      }
    }
    .btn {
      margin-bottom: 5px;
    }
  }
  
  .avatar-wrapper {
    .sso-avatar {
      margin-right: -10px;
    }
    .sso-avatar-logo {
      margin-left: -10px;
    }    
  }

  .sso-avatar, .sso-avatar-logo {
    max-width: 72px;
  }

  .text-container {
    p {
      line-height: 1.5em;
    }
  }

  form {
    font-size: 1.000em;
    .form-group {
      position: relative;
      font-size: 1.000em;
      &.active, .floated.active {
        label {
          &.float {
            font-size: 10px;
            color: #5e5e5e;
            transform: translateY(-210%);
            -ms-transform: translateY(-210%);
            -webkit-transform: translateY(-210%);
          }
        }
      }
      label {
        font-size: 1.000em;
        transition: all .2s ease-in-out;
        -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        &.float {
            position: absolute;
            left: 0;
            bottom: 4px;
            z-index: 1;
        }
      }
      input {
        padding: 10px 0;
        border-top: 0;
        border-right: 0;
        border-left: 0;
        border-bottom: solid 1px #fff;
        background-color: transparent;
        cursor: pointer;
        z-index: 2;
        font-size: 1.000em;
      }
      &:after {
        display: block;
        width: 0;
        height: 3px;
        background: #fff;
        position: absolute;
        bottom: 0;
        left: 0;
        transition: all 0.125s cubic-bezier(0.2, 0, 0.03, 1);
        -webkit-transition: all 0.125s cubic-bezier(0.2, 0, 0.03, 1);
        -moz-transition: all 0.125s cubic-bezier(0.2, 0, 0.03, 1);
      }
      .toggle-show-password, .toggle-tooltip {
        position: absolute;
        bottom: 7px;
        right: 0;
        color: #fff;
        font-size: 1.167em;
        z-index: 3;
        cursor: pointer;
      }
    }
    .form-control {
      position: relative;
      background-color: red;
    }
    .floated { //floated container 
      position: relative;
    }
  }
  //Buttons
  .btn {
    display: block;
    width: 100%;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    &.btn-facebook {
      background-color: #4469af;
      color: #fff;
      i {
        font-size: 1.500em;
        margin-right: 10px;
      }
      &:hover {
        background-color: #30559a;
      }
    }
    .fa, .fas, .fab {
      display: inline-block;
      vertical-align: middle;
      font-weight: 500;
    }
  }
  .button-container {
    margin: 20px 0;
    text-align: center;
    .btn {
      margin: 3px 0;
    }
    p {
      margin: 5px 0;
    }
  }
  .text-centered {
    display: block;
    width: 100%;
    text-align: center;
    margin: 10px auto;
  }
  .tooltip-box {
    display: none;
    position: absolute;
    z-index: 2;
    color: #444;
    padding: 8px;
    border: 1px solid #fff;
    background-color: #fff;
    //box-shadow: inset 0px 0px 2px 0px #bfcfda;
    width: 290px;
    font-size: 0.750em;
    line-height: 1.2;
    text-align: center;
    right: calc(0% - 20px);
    bottom: calc(100% + 15px);
    font-family: "Montserrat";

    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    &:after {
      top: 100%;
      right: 16px;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(255, 255, 255, 0);
      border-top-color: #fff;
      border-width: 10px;
      margin-left: -10px;
    }
  }
  .toggle-tooltip {
    &:hover {
      .tooltip-box {
        display: block;
      }
    }
  }
  .block-group {
    margin-bottom: 20px;
  }
  .kapamilya-points {
    color: #f7941d;
    p {
      margin: 2px 0;
    }
    h1 {
      margin: 3px 0;
      font-size: 4.167em;
    }
  }
  .w80 {
    display: block;
    width: 80%;
    margin: 10px auto;
  }
  .w160 {
    display: block;
    width: 160px;
    margin: 10px auto;
  }
}