/////////////////
// Theming //
/////////////////

.fruits {
    header {
        .logo {
            background-color: $color-fruits;
        }
        .tagline {
            color: $color-fruits;
        }
        .nav-menu {
            li {
                a {
                    &:before {
                        background-color: $color-fruits;
                    }
                }
            }
        }
    }
    .header-subnav, &.header-subnav {
        &.nav-menu {
            li {
                a {
                    &:before {
                        background-color: $color-fruits;
                    }
                }
            }
        }
    }
    .banner-section {
        &.banner-default { 
            .floated-content {
                h1, h2, h3, p {
                    color: $color-fruits;
                }
            }
        }
    }  
    .divTableHeading {
        color: $black;
        font-weight: 300;
    } 
    .divTableCell {
        h3 {
            color: $color-fruits;
        }
    }
}


.chocolates {
    header {
        .logo {
            background-color: $color-chocolates;
        }
        .tagline {
            color: $color-chocolates;
        }
        .nav-menu {
            li {
                a {
                    &:before {
                        background-color: $color-chocolates;
                    }
                }
            }
        }
    }
    .header-subnav, &.header-subnav {
        &.nav-menu {
            li {
                a {
                    &:before {
                        background-color: $color-chocolates;
                    }
                }
            }
        }
    }
    .banner-section {
        &.banner-default { 
            .floated-content {
                h1, h2, h3, p {
                    color: $color-chocolates;
                }
            }
        }
    }   
}


.recipes {
    header {
        .logo {
            background-color: $color-recipes;
        }
        .tagline {
            color: $color-recipes;
        }
        .nav-menu {
            li {
                a {
                    &:before {
                        background-color: $color-recipes;
                    }
                }
            }
        }
    }
    .header-subnav, &.header-subnav {
        &.nav-menu {
            li {
                a {
                    &:before {
                        background-color: $color-recipes;
                    }
                }
            }
        }
    }
    .banner-section {
        &.banner-default { 
            .floated-content {
                h1, h2, h3, p {
                    color: $white;
                    @include textshadow(1px, 1px, 2px, rgba(0,0,0,0.25));
                }
            }
        }
    }   
}

.sugars {
    header {
        .logo {
            background-color: $color-sugars;
        }
        .tagline {
            color: $color-sugars;
        }
        .nav-menu {
            li {
                a {
                    &:before {
                        background-color: $color-sugars;
                    }
                }
            }
        }
    }
    .header-subnav, &.header-subnav {
        &.nav-menu {
            li {
                a {
                    &:before {
                        background-color: $color-sugars;
                    }
                }
            }
        }
    }
    .banner-section {
        &.banner-default { 
            .floated-content {
                h1, h2, h3, p {
                    color: $color-sugars;
                    @include textshadow(1px, 1px, 2px, rgba(0,0,0,0.25));
                }
            }
        }
    }   
}

.nuts {
    header {
        .logo {
            background-color: $color-nuts;
        }
        .tagline {
            color: $color-nuts;
        }
        .nav-menu {
            li {
                a {
                    &:before {
                        background-color: $color-nuts;
                    }
                }
            }
        }
    }
    .header-subnav, &.header-subnav {
        &.nav-menu {
            li {
                a {
                    &:before {
                        background-color: $color-nuts;
                    }
                }
            }
        }
    }
    .banner-section {
        &.banner-default { 
            .floated-content {
                h1, h2, h3, p {
                    color: $color-nuts;
                    @include textshadow(1px, 1px, 2px, rgba(0,0,0,0.25));
                }
            }
        }
    }   
}
