/////////////////////
///// Transitions ///
/////////////////////

.transition {
  -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
  transition: all .5s ease;
  &.fast {
    -webkit-transition: all .35s ease;
      -moz-transition: all .35s ease;
      -o-transition: all .35s ease;
    transition: all .35s ease;
  }
}

@keyframes fadein { 
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari and Chrome */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.8, 1.8, 1.8);
    transform: scale3d(1.8, 1.8, 1.8);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}

@-webkit-keyframes colorChange {
  0% { 
    color: #fff;
    text-shadow: 0 0 0.2em #000;
  }
  100% { 
    color: #ffc400;
    text-shadow: 0 0 0.5em #da9c2a;
  }
}

@-webkit-keyframes fade-in-pulse-08 {
  0% {
    opacity: 0;
    -webkit-transform: scale(.8);
    transform: scale(.8);
  }

  50% {
    opacity: 1;
  }

  100%, 70% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

}

@keyframes fade-in-pulse-08 {
  0% {
    opacity: 0;
    -webkit-transform: scale(.8);
    transform: scale(.8);
  }

  50% {
    opacity: 1;
  }

  100%, 70% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

// Effects
//Pulse
@-webkit-keyframes pulse-shadow-white  {
  0% {
      -webkit-box-shadow: 0 0 0 0 rgba(217,217,217,.7);
      box-shadow: 0 0 0 0 rgba(217,217,217,.7);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(217,217,217,0);
      box-shadow: 0 0 0 10px rgba(217,217,217,0);
  }

  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(217,217,217,0);
      box-shadow: 0 0 0 0 rgba(217,217,217,0);
  }
}

@keyframes pulse-shadow-white  {
  0% {
      -webkit-box-shadow: 0 0 0 0 rgba(217,217,217,.7);
      box-shadow: 0 0 0 0 rgba(217,217,217,.7);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(217,217,217,0);
      box-shadow: 0 0 0 10px rgba(217,217,217,0);
  }

  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(217,217,217,0);
      box-shadow: 0 0 0 0 rgba(217,217,217,0);
  }
}

// Effects
//Pulse
@-webkit-keyframes pulse-shadow-blue  {
  0% {
      -webkit-box-shadow: 0 0 0 0 rgba(83,218,247,.7);
      box-shadow: 0 0 0 0 rgba(83,218,247,.7);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(83,218,247,0);
      box-shadow: 0 0 0 10px rgba(83,218,247,0);
  }

  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(83,218,247,0);
      box-shadow: 0 0 0 0 rgba(83,218,247,0);
  }
}

@keyframes pulse-shadow-blue  {
  0% {
      -webkit-box-shadow: 0 0 0 0 rgba(83,218,247,.7);
      box-shadow: 0 0 0 0 rgba(83,218,247,.7);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(83,218,247,0);
      box-shadow: 0 0 0 10px rgba(83,218,247,0);
  }

  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(83,218,247,0);
      box-shadow: 0 0 0 0 rgba(83,218,247,0);
  }
}

/**
 * ----------------------------------------
 * animation width-expand
 * ----------------------------------------
 */
@-webkit-keyframes width-expand {
    0% {
        width: 0;
    }
    40% { 
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}
@keyframes width-expand {
    0% {
        width: 0;
    }
    40% {
        opacity:1;
    }
    100% {
        opacity: 1;
    }
}

/**
 * ----------------------------------------
 * animation width-expand
 * ----------------------------------------
 */
@-webkit-keyframes background-expand {
    0% {
        width: 0;
       background: linear-gradient(0deg, #f0805a 50%, transparent 50%, transparent), linear-gradient(0deg, #f0805a 50%, #E0E0E0 50%, #E0E0E0);
    }
    40% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}
@keyframes background-expand {
    0% {
        width: 0;
        background: linear-gradient(0deg, #f0805a 50%, transparent 50%, transparent), linear-gradient(0deg, #f0805a 50%, #E0E0E0 50%, #E0E0E0);
    }
    40% {
        opacity:1;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fade-in-pulse-08 {
  0% {
    opacity: 0;
    -webkit-transform: scale(.8);
    transform: scale(.8);
  }

  50% {
    opacity: 1;
  }

  100%, 70% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

}

@keyframes fade-in-pulse-08 {
  0% {
    opacity: 0;
    -webkit-transform: scale(.8);
    transform: scale(.8);
  }

  50% {
    opacity: 1;
  }

  100%, 70% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}