///////////////
// Variables //
///////////////

// Screen sizes
$screen-xxxs: 320px;
$screen-xxs: 420px; 
$screen-xs: 568px;
$screen-sm: 800px;
$screen-md: 960px;
$screen-lg: 1240px;

// RECO BREAKPOINT
// 1024 
// 992
// 767
// 568

$white   : #fff;
$black   : #030303;
$gray    : #e6e6e6;
$gray2	 : #bfbfbf;
$gray3   : #f0f0f0;
$gray4   : #ececec;
$brown   : #ecdecd;
$btn-red : #c61d20;
$font-color: rgba(0,0,0,0.85);//#252525;
$link-color: #00bff3;
$border-color: #dbdbdb;
$black1	: #111111;
$link-blue: #00bff3; 
$light-gray: rgba(0,0,0,0.14);

//Site Colors
$yellow: #ffd931;
$yellow-dark: rgba(255,200,1,1);

$color-default: #53daf7;
$color-fruits: #f68065;
$color-chocolates: #733923;
$color-recipes: #734377;
$color-sugars: #ff9499;
$color-nuts: #cf784b;

// ABS Colors
$red: #FF0303; //#EC3737;
$green: #13AE5E;
$blue: #1470B4;

//Social Media colors
$facebook: #3b5999;
$twitter: #55acee;
$instagram: #e4405f;
$youtube: #cd201f;

// Colors
// ==========================================================================
$default-color: rgba(83,218,247,1) !default; //#53daf7
$default-light-color: rgba(106,225,225,1) !default; //#6affff
$default-dark-color: rgba(41,177,206,1) !default; //#29b1ce

$primary-color: rgba(255,217,49,1) !default; //#283db1
$primary-light-color: rgba(255,208,1,1) !default; //#314ad4
$primary-dark-color: rgba(255,208,1,1) !default; //#1a2a84

$secondary-color: rgba(42,192,216,1) !default; //#2ac0d8
$secondary-lightcolor: rgba(54,213,239,1) !default; //#36d5ef
$secondary-dark-color: rgba(36,173,195,1) !default; //#24adc3

$success-color: rgba(0,166,82,1) !default; //#00a652
$success-light-color: rgba(0,199,99,1) !default; //#00c763
$success-dark-color: rgba(0,121,60,1) !default; //#00793c

$error-color: rgba(238,27,36,1) !default; //#ee1b24
$error-light-color: rgba(255,77,85,1) !default; //#ff4d55
$error-dark-color: rgba(206,20,28,1) !default; //#ce141c

$light-color: rgba(195,193,181,1) !default; //#c3c1b5 
$lighter-color: rgba(211,209,194,1) !default; //#d3d1c2
$lightest-color: rgba(227,224,206,1) !default; //#e3e0ce

$dark-color: rgba(37,37,37,1) !default; //#252525
$darker-color: rgba(27,27,27,1) !default; //#1b1b1b

// Borders
// ==========================================================================
$border-default: solid 1px rgba(0,0,0,0.15) !default;

// Spacing
$spaced-75: .75rem;

$wrapper-width: 1240px;

//@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,700');

@font-face {
    font-family: 'Javacom';
    src: url('Javacom.eot');
    src: url('./fonts/Javacom.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Javacom.woff2') format('woff2'),
        url('./fonts/Javacom.woff') format('woff'),
        url('./fonts/Javacom.svg#Javacom') format('svg');
    font-weight: normal;
    font-style: normal;
}
	
// Fonts
$font-base:	sans-serif, Arial, 'Helvetica Neue', Helvetica;
$font-primary :  'Lato', $font-base;
$font-secondary :  'Nunito', $font-base;
$font-third :  'Javacom', $font-base;

// Micro clearfix
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix {
	*zoom: 1;
	&:before,
	&:after {
		content: " ";
		display: table;
	}
	&:after {
		clear: both;
	}
}

// Image replacement technique
// http://nicolasgallagher.com/another-css-image-replacement-technique/
.ir {
	font: 0/0 a;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0;
}

.font-special {
    font-family: $font-third;
}

/*FLEX*/
@mixin flex() {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-align-content: flex-start;
	-ms-flex-line-pack: start;
	align-content: flex-start;
	-webkit-align-items: flex-start;
	-ms-flex-align: start;
	align-items: flex-start;
}

@mixin flex-reverse-column() {
	@include flex();
	-webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
}

@mixin flex-reverse-row() {
	-webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
}

@mixin flex-justify() {
	@include flex();
	-webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

@mixin flex-center() {
	@include flex();
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}

@mixin flex-middle() {
	@include flex();
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

@mixin flex-bottom() {
	@include flex();
	-webkit-align-items: flex-end;
	-ms-flex-align: end;
	align-items: flex-end;
}

//Positioning
@mixin centered-horizontal() {
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
	-o-transform: translate(-50%, 0);
	-webkit-transform: translate(-50%, 0);
}

@mixin centered-vertical() { 
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}

@mixin centered-all() {
	overflow: auto;
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
}

@mixin centered-full() {
	position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

@mixin centered-reset() {
	position: relative;
    top: auto;
    left: auto;
    bottom: auto;
    right: auto;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
}

//Class positioning
.centered-horizontal {
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
	-o-transform: translate(-50%, 0);
	-webkit-transform: translate(-50%, 0);
}

.centered-vertical { 
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}

.centered-all {
	overflow: auto;
	margin: auto;
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
}

.centered-full {
	position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.centered-reset {
	position: relative;
    top: auto;
    left: auto;
    bottom: auto;
    right: auto;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
}

// Border radius shorthand
@mixin borderradius($radius) {
	border-radius: $radius;
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	-o-border-radius: $radius;
}

// Border radius shorthand specific
@mixin borderradius_custom($radius-top, $radius-left, $radius-bottom, $radius-right) {
	border-radius: $radius-top $radius-left $radius-bottom $radius-right;
	-webkit-border-radius: $radius-top $radius-left $radius-bottom $radius-right;
	-moz-border-radius: $radius-top $radius-left $radius-bottom $radius-right;
	-ms-border-radius: $radius-top $radius-left $radius-bottom $radius-right;
	-o-border-radius: $radius-top $radius-left $radius-bottom $radius-right;
}

//Text Shadow
@mixin textshadow($h-shadow, $v-shadow, $blur-radius, $color) {
	-moz-shadow: $h-shadow $v-shadow $blur-radius $color;
	-webkit-text-shadow: $h-shadow $v-shadow $blur-radius $color;
	text-shadow: $h-shadow $v-shadow $blur-radius $color;
}

//Box Shadow
@mixin boxshadow($h-shadow, $v-shadow, $blur-radius, $spread, $color) {
	-moz-box-shadow: $h-shadow $v-shadow $blur-radius $spread $color;
	-webkit-box-shadow: $h-shadow $v-shadow $blur-radius $spread $color;
	box-shadow: $h-shadow $v-shadow $blur-radius $spread $color;
}

//Box Shadow
@mixin boxshadow_none($shadow) {
	-moz-box-shadow: $shadow;
	-webkit-box-shadow: $shadow;
	box-shadow: $shadow;
}

//Transition
@mixin transitionAll($speed, $effect) {
    -webkit-transition: all $speed $effect;
    -moz-transition: all $speed $effect;
    -o-transition: all $speed $effect;
    transition: all $speed $effect;
}

//Transition specific
@mixin transitionSpecific($transition, $speed) {
    -webkit-transition: $transition $speed;
    -moz-transition: $transition $speed;
    -o-transition: $transition $speed;
    transition: $transition $speed;
}

// Calc width
@mixin calcWidth($percentage, $pixels) {
  width: calc(#{$percentage} - #{$pixels});
  width: -moz-calc(#{$percentage} - #{$pixels});
  width: -webkit-calc(#{$percentage} - #{$pixels});
  width: -o-calc(#{$percentage} - #{$pixels});
}

// Calc height
@mixin calcHeight($percentage, $pixels) {
  height: calc(#{$percentage} - #{$pixels});
  height: -moz-calc(#{$percentage} - #{$pixels});
  height: -webkit-calc(#{$percentage} - #{$pixels});
  height: -o-calc(#{$percentage} - #{$pixels});
}

@mixin transform($transform, $only3d: false) {
  $capability: if($only3d, transforms3d, transforms2d);
  @include prefixed-properties($capability, $transform-support-threshold, (transform: $transform));
}

@mixin rotate($rotate: $default-rotate, $perspective: false, $only3d: false) {
  $trans: rotate($rotate);
  @if $perspective {
    $trans: perspective($perspective) $trans;
  }
  @include transform($trans, $only3d);
}

// Calc Cell
@mixin gridCell($percentage, $pixels) {
	.grid-margin {
		&-3 {
			.article {
				width: percentage(354px/1280px);
				margin: 0 percentage(15px/1280px);
			}
		}
		&-4 {
			.article {
				width: percentage(260px/1280px);
				margin: 0 percentage(15px/1280px);
			}
		}
	}
}

//Fluidity
@function fluidity($target, $context){
	@return percentage($target / $context);
}

//Gradients
.gradient-black {
	background: rgba(0,0,0,0);
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,0.7)));
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 100%);
	background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 100%);
	background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 100%);
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.7) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
}

.gradient-black-50 {
	background: rgba(0,0,0,0);
	background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,0.5)));
	background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%);
	background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%);
	background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%);
	background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
}

.gradient-yellow {
    background: rgba(255,184,3,1);
    background: -moz-linear-gradient(left, rgba(255,184,3,1) 0%, rgba(255,217,49,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,184,3,1)), color-stop(100%, rgba(255,217,49,1)));
    background: -webkit-linear-gradient(left, rgba(255,184,3,1) 0%, rgba(255,217,49,1) 100%);
    background: -o-linear-gradient(left, rgba(255,184,3,1) 0%, rgba(255,217,49,1) 100%);
    background: -ms-linear-gradient(left, rgba(255,184,3,1) 0%, rgba(255,217,49,1) 100%);
    background: linear-gradient(to right, rgba(255,184,3,1) 0%, rgba(255,217,49,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb803', endColorstr='#ffd931', GradientType=1 );
}

.gradient-yellow-reversed {
    background: rgba(255,217,49,1);
    background: -moz-linear-gradient(left, rgba(255,217,49,1) 0%, rgba(255,184,3,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,217,49,1)), color-stop(100%, rgba(255,184,3,1)));
    background: -webkit-linear-gradient(left, rgba(255,217,49,1) 0%, rgba(255,184,3,1) 100%);
    background: -o-linear-gradient(left, rgba(255,217,49,1) 0%, rgba(255,184,3,1) 100%);
    background: -ms-linear-gradient(left, rgba(255,217,49,1) 0%, rgba(255,184,3,1) 100%);
    background: linear-gradient(to right, rgba(255,217,49,1) 0%, rgba(255,184,3,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd931', endColorstr='#ffb803', GradientType=1 );
}

.gradient-yellow-black { 
    background: rgba(255,217,49,1);
    background: -moz-linear-gradient(left, rgba(255,217,49,1) 0%, rgba(0,0,0,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,217,49,1)), color-stop(100%, rgba(0,0,0,1)));
    background: -webkit-linear-gradient(left, rgba(255,217,49,1) 0%, rgba(0,0,0,1) 100%);
    background: -o-linear-gradient(left, rgba(255,217,49,1) 0%, rgba(0,0,0,1) 100%);
    background: -ms-linear-gradient(left, rgba(255,217,49,1) 0%, rgba(0,0,0,1) 100%);
    background: linear-gradient(to right, rgba(255,217,49,1) 0%, rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd931', endColorstr='#000000', GradientType=1 );
}

.gradient-none {
	background: none;
	filter: none;
}